<ion-header no-border>
  <ion-toolbar>
    <ion-buttons slot="start" style="margin-top: -3%;">
      <ion-menu-button>
        <img src="assets/img/icon-Menu copy.png" style="width:50%;height:auto">
      </ion-menu-button>
    </ion-buttons>
    <ion-title style="text-align: center;font-size:small;margin-top:-4%;"><b>EVENTS</b></ion-title>
    <ion-buttons slot="end" style="margin-top: -3%;">
      <ion-button navPush="NotificationsPage"  >
        <img src="assets/img/Group 19.png" style="width:70%;height:auto">
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content style="--ion-background-color: #efeff0;" padding>

  <ion-grid >
    <ion-row>
      <ion-col size="12" *ngFor="let event of eventShow; let i = index"
      (click)="eventFull(i)" style="margin-top: 10%;">

        <div class="container" >
          <div class="imgBg" [ngStyle]="{'background-image':'url(' + event.image + ')'}">
            <ion-button  shape="round" size="small" color="light" style="margin-top: 30%;font-size: 11pt;
            opacity: 0.5;margin-left:3%">
              <ion-label>{{event.eventname | lowercase}}</ion-label>
            </ion-button>
          </div>
          <ion-grid style="background-color: #fff;">
            <ion-row>
              <ion-col size="2">
                <img src="assets/img/Event Date.png">
              </ion-col>
              <ion-col >
                <h6>{{event.eventdate}}</h6>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col size="2">
                  <img src="assets/img/Event location.png">
                </ion-col>
              <ion-col>
                <h6>{{event.location}}</h6>
              </ion-col>
            </ion-row>
          </ion-grid>
        </div>

      </ion-col>
    </ion-row>
  </ion-grid>

  </ion-content>
