@import '../../../global.scss';
@import '../../../theme/variables.scss';
ion-grid{
    padding:4px;
    ion-col{
        padding:4px;
        overflow:hidden;
        .container{
            background-color:var(#fff);
            border-radius:20px;
            overflow:hidden;
            .imgBg{
                height:200px;
//                @extend %details_shadow;
                position:relative;
                border-radius:3px;
//                filter: sepia(100%) hue-rotate(190deg) saturate(100%);
                .mark_btn{
                    height:30px;
                    width:30px;
                    border-radius:50%;
                    @include position(8px,8px,auto,auto);
                    .icon{
                        color:var(#fff);
                    }
                }
                .grid{
                    padding:8px;
                    @include position(auto,0px,0px,0px);
                    .col{
                        padding:4px;
                        overflow:hidden;
                        &[col-auto]{
                            max-width:50%;
                        }
                        .icon{
                            float:left;
                            margin:0px 5px;
                            font-size:1.4rem;
                            line-height:18px;
                        }
                        p{
                            color: color($colors,light);
                        }
                    }
                }
            }
            >p{
                margin:0px;
                padding:0px 4px;
                margin-bottom:4px;
                @include whiteNormal(45px,3);
                color: color($colors,color1);
            }
            .grid{
                h5{
                    color: color($colors,newColor);
                    @include whiteNoWrap(18px);
                    font-size: 11pt;
                    margin:0px;
                }
                p{
                    color: color($colors,color1);
                    margin:0px;
                    @include whiteNoWrap(18px);
                    max-width:100px;
                    font-size:1.1rem!important;
                }
            }
        }
    }
}
.backgroundimg
{
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
