<ion-header no-border>

  <ion-toolbar>
    <ion-buttons slot="start" style="margin-top: -3%;">
      <ion-button (click)="previouspage()">
        <ion-img src="assets/img/backicon.png"></ion-img>
      </ion-button>
    </ion-buttons>
    <ion-title style="margin-top:-4%;font-size: small;padding-left: 30%;"><b>Enter Marks</b></ion-title>
  </ion-toolbar>

</ion-header>


<ion-content padding style="--ion-background-color:#efeff0;">

  <ion-card style="border-radius:20px;background-color: #fff;">
    <ion-grid style="padding-top: 5;padding-bottom: 5%;">
      <div [ngStyle]="{'background-image':'url(' + courseimg + ')'}" class="imgBg">
        <ion-row>
          <h6 class="docenter" style="text-align:center;color:#fff;font-size: 13pt;">
             <b>{{coursename | titlecase}} </b></h6>
      </ion-row>
    </div>
    <ion-row no-padding>
      <ion-col col-8>
        <h6 style="color: #666666;font-size: 10pt;">Category</h6>
        <ion-label style="font-size: 13pt;color:#000;"><b>{{category | uppercase}}</b></ion-label>
       </ion-col>

       <ion-col col-3>
        <h6 style="color: #666666;font-size: 10pt;">Total Marks</h6>
        <h6 style="width:50%;padding-left:5%;padding-right:5%;text-align:center;background-color: #454545;border-radius: 35px;
        font-size: 9pt;color:#fff">
          {{totalmarks}}</h6>
      </ion-col>

    </ion-row>
  </ion-grid>

</ion-card>
  <ion-card style="border-radius: 20px;background-color: #fff;" >
    <ion-grid >
      <ion-row>
          <ion-col>
            <ion-label  style="font-size: 13pt;color:#000;"><b>Student's Marks</b></ion-label>
          </ion-col>
      </ion-row>
      <div *ngIf="attendancefortoday!=false">
      <div [ngStyle]="{'background-image':'url(' + studentcard + ')'}" class="imgBg" *ngFor="let name of student_attendance_updated_show; let i = index" style="margin-top: 5%;border-radius: 25px;">
        <ion-row>
          <ion-col size="5" style="margin-top: -5%;">
             <h6  style="color: #000;">{{name.student.enrollment_number}}</h6>
              <ion-label style="color:#000;font-size: 13pt;"><b>{{name.student.first_name+' '+name.student.last_name |titlecase}}</b></ion-label>
            </ion-col>
            <ion-col size="4" style="margin-top: -5%;">
              <h6 style="color: #000;">Attendance</h6>
              <div *ngIf="studentmarksarray[i]" >
              <ion-label *ngIf="studentmarksarray[i].student_attendance==2" style="
              padding-left:5%;padding-right:5%;
              text-align: center;background-color: #5eae01;border-radius: 25px;font-size: 9pt;
              color:#fff">
                PRESENT
              </ion-label>
              <ion-label *ngIf="studentmarksarray[i].student_attendance==1"
              style="padding-left:5%;padding-right:5%;text-align: center;background-color: #5c5c5c;
                     border-radius: 25px;font-size: 9pt;color:#fff">
                ABSENT
              </ion-label>
              <ion-label *ngIf="studentmarksarray[i].student_attendance==3" style="padding-left:5%;padding-right:5%;
              text-align: center;background-color: #f9a825;border-radius: 25px;
              font-size: 9pt;color:#fff">
                LEAVE
              </ion-label>
              </div>
            </ion-col>
            <ion-col size="3" style="margin-top: -5%;">
              <h6 style="color: #000;">Marks</h6>
                <div *ngIf="studentmarksarray[i].student_attendance=='1'; then thenBlock else ElseBlock"></div>
                <ng-template #thenBlock>
                  <ion-label style="padding-left:5%;padding-right:5%;text-align: center;background-color: #5c5c5c;
                  border-radius: 25px;font-size: 9pt;color:#fff"
                  >ABSENT</ion-label>
                </ng-template>
                <ng-template #ElseBlock>
                  <ion-input style="text-align:center;background-color: #0097dc;height: 15%;margin-bottom: -5%;
                  border-radius: 25px;font-size: 9pt;color:#fff" placeholder="Enter Marks"
                  [(ngModel)]="studentmarksarray[i].marks_obtained"
                  ></ion-input>
                </ng-template>
            </ion-col>
      </ion-row>
         </div>
         </div>
         <div *ngIf="attendancefortoday==false">
          <div [ngStyle]="{'background-image':'url(' + studentcard + ')'}" class="imgBg" *ngFor="let name of students; let i = index" style="margin-top: 5%;border-radius: 25px;">
            <ion-row>
              <ion-col size="5" style="margin-top: -5%;">
                 <h6  style="color: #000;">{{name.enrollment_number}}</h6>
                  <ion-label style="color:#000;font-size: 13pt;"><b>{{name.first_name+' '+name.last_name |titlecase}}</b></ion-label>
                </ion-col>
                <ion-col size="4" style="margin-top: -5%;">
                  <h6 style="color: #000;">Attendance</h6>
                  <div *ngIf="studentmarksarray[i]" >
                  <ion-label *ngIf="studentmarksarray[i].student_attendance==2" style="
                  padding-left:5%;padding-right:5%;
                  text-align: center;background-color: #5eae01;border-radius: 25px;font-size: 9pt;
                  color:#fff">
                    PRESENT
                  </ion-label>
                  <ion-label *ngIf="studentmarksarray[i].student_attendance==1"
                  style="padding-left:5%;padding-right:5%;text-align: center;background-color: #5c5c5c;
                         border-radius: 25px;font-size: 9pt;color:#fff">
                    ABSENT
                  </ion-label>
                  <ion-label *ngIf="studentmarksarray[i].student_attendance==3" style="padding-left:5%;padding-right:5%;
                  text-align: center;background-color: #f9a825;border-radius: 25px;
                  font-size: 9pt;color:#fff">
                    LEAVE
                  </ion-label>
                  </div>
                </ion-col>
                <ion-col size="3" style="margin-top: -5%;">
                  <h6 style="color: #000;">Marks</h6>
                    <div *ngIf="studentmarksarray[i].student_attendance=='1'; then thenBlock else ElseBlock"></div>
                    <ng-template #thenBlock>
                      <ion-label style="padding-left:5%;padding-right:5%;text-align: center;background-color: #5c5c5c;
                      border-radius: 25px;font-size: 9pt;color:#fff"
                      >ABSENT</ion-label>
                    </ng-template>
                    <ng-template #ElseBlock>
                      <ion-input style="text-align:center;background-color: #0097dc;height: 15%;margin-bottom: -5%;
                      border-radius: 25px;font-size: 9pt;color:#fff" placeholder="Enter Marks"
                      [(ngModel)]="studentmarksarray[i].marks_obtained"
                      ></ion-input>
                    </ng-template>
                </ion-col>
          </ion-row>
             </div>
             </div>         
    </ion-grid>
</ion-card>

   <ion-grid style="padding-top: 10%;">
    <ion-row>

      <ion-col size="6" >
         <ion-button expand="block" shape="round" color="color1" style="background-color:#454545;border-radius: 25px;">
          Cancel
        </ion-button>
      </ion-col>
      <ion-col size="6">
        <ion-button expand="block" shape="round" color="color2"
        (click)="sendResult()" style="background-color:#f9a825;border-radius: 25px;">
          Upload Result
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
