@import '../../../theme/variables.scss';
@import '../../../global.scss';
.background
{
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.ion-content{
  --ion-background-color:#fff;

}
.div{
  --ion-background-color:#e5e6e8;
  border-radius: 3%;
}
    .container{
      //  --ion-background-color: var(color1);
        height:150px;
        padding:10px;
        text-align: center;
        img{
           @include borderRadius(90px);
          // background-color:rgba(0,0,0,.3);
        }
        h6{
            margin:0px;
            @include whiteNoWrap(20px);
            color:color($colors,light);
          }
        .capitalize { text-transform: capitalize; }

    }
// }
.bottomRow
{
    margin-top: 0px;
  }
  .bottomCol
  {
      margin-top: -25px;
    }

.imgBg{
  height:160px;
  position:relative;
 border-radius:3px;
//  overflow-y:hidden;
//  background:color($colors,----ion-color-light);
//  @extend %details_shadow;
}
