<ion-header no-border>
  <ion-toolbar >
    <ion-buttons slot="start" style="margin-top: -3%;">
      <ion-menu-button>
        <img src="assets/img/icon-Menu copy.png" style="width:50%;height:auto">
      </ion-menu-button>
    </ion-buttons>    <!-- <ion-buttons slot="start" menuToggle icon-only>
      <img src="assets/img/icon-Menu copy.png" style="width:50%;height:auto">
    </ion-buttons> -->
    <ion-title style="text-align:center;font-size:small;margin-top: -4%;"><b>MY PROFILE</b></ion-title>
    <ion-buttons slot="end" style="margin-top: -3%;">
      <ion-button (click)="openPage('notifications')"  >
        <img src="assets/img/Group 19.png" style="width:70%;height:auto;">
      </ion-button>
    </ion-buttons>
 </ion-toolbar>
    <ion-grid no-padding >

      <div [ngStyle]="{'background-image':'url(' + item + ')'}" class="background">
            <ion-row >

          <ion-col>

            <ion-slides>
              <ion-slide>

                <ion-grid>
                        <ion-row>
                          <!-- <ion-col col-1 (click)="prev()">
                            <img src="assets/img/left arrows.png" style="margin-top: 200%;">
                        </ion-col> -->
                        <ion-col>
                          <div class="container">
                                <img src="assets/img/Pic card.png" />
                              <h6 style="font-size: small;color:#454545;" ><b>
                                {{globalVar.current_user.first_name+' '+globalVar.current_user.last_name | titlecase}}</b></h6>
                                <!-- <p style="font-size: 11px;color:#454545 " *ngIf="globalVar.current_user.section_students!=null && globalVar.current_user.section_students.length!=0"><b>Class Teacher</b></p> -->
                                <!-- <p style="font-size: 11px;color:#454545 " *ngIf="globalVar.current_user.section_students!=null && globalVar.current_user.section_students.length==0">
                                  <b>Teacher</b></p> -->
                                  <h6 style="font-size: small;color:#454545; "><b>Teacher</b></h6>
                                </div>
                          </ion-col>
                          <!-- <ion-col col-1 (click)="next()">
                            <img src="assets/img/right arrows.png" style="margin-top: 200%;">
                        </ion-col> -->
                      </ion-row>
                    </ion-grid>

              </ion-slide>

            </ion-slides>

           </ion-col>
        </ion-row>
      </div>
    </ion-grid>
</ion-header>

<ion-content style="background-color: #fff;">

  <div  style="background-color: #e5e6e8;border-radius:3%;">

    <ion-grid>

      <ion-row style="padding-left:5%;margin-top: 10%;padding-bottom: 10%;" class="bottomRow">
        <ion-col size="6" *ngFor="let item of items" class="bottomCol">
          <div (click)="openPage(item.component)">
            <ion-img src="{{item.img}}"></ion-img>
            <!-- <p text-wrap>{{item.title}}</p> -->
          </div>
        </ion-col>
      </ion-row>

    </ion-grid>

</div>
</ion-content>
