<ion-header no-border>
  <ion-toolbar>
    <ion-buttons slot="start" style="margin-top:-4%;">
      <ion-menu-button>
        <img src="assets/img/icon-Menu copy.png" style="width:50%;height:auto">
      </ion-menu-button>
    </ion-buttons>
    <ion-title style="text-align: center;font-size: small;margin-top:-4%;"><b>NOTICE</b></ion-title>
    <ion-buttons slot="end" style="margin-top:-4%;">
      <ion-button navPush="NotificationsPage" class="notification_Btn" >
        <img src="assets/img/Group 19.png" style="width:70%;height:auto">
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content padding style="--ion-background-color:#efeff0;">

  <ion-card *ngIf="diaryShow.length==0" style="background-color:#fff;color:#000000; text-align: center; font-size: 12pt; font-weight: normal; margin-top: 5%; border-radius: 10px;">
    <div style="margin-top: 5%; margin-bottom: 5%;">No Notice for {{today | date: 'dd-MMM-yyyy'}} to show </div>
  </ion-card>
  <ion-card style="margin-top: 5%; border-radius: 10px;background-color: #ffffff;" *ngFor="let diary of diaryShow let i=index" (click)="showNotice(i)">
    <ion-row style=" margin-top:4%;margin-bottom: 4%; margin-left: 5%; margin-right:5%;">
      <ion-col size="4">
        <div *ngIf="(i+1)%3==0; then thenBlock else elseBlock"></div>
          <ng-template #thenBlock >
            <div [ngStyle]="{'background-image':'url(' + bluedate + ')'}" class="imgBg">
              <div style="padding-top:15%;padding-bottom: 10%;color: #ffffff ; font-size: 25pt; font-weight: bold; text-align: center;">
                {{diary.created_at | date: 'dd'}}</div>
              <div style="color:#ffffff; text-align: center; font-size: 12pt; font-weight: light;padding-bottom: 6%;">
                {{diary.created_at | date: 'MMM'}}</div>
            </div>
          </ng-template>
          <ng-template #elseBlock>
            <div *ngIf="(i+1)%2==0; then thenBl else elseB"></div>
              <ng-template #thenBl >
                <div [ngStyle]="{'background-image':'url(' + pinkdate + ')'}" class="imgBg">
                  <div style="padding-top:15%;padding-bottom: 10%;color: #ffffff ; font-size: 25pt; font-weight: bold; text-align: center;">
                    {{diary.created_at | date: 'dd'}}</div>
                  <div style="color:#ffffff; text-align: center; font-size: 12pt; font-weight: light;padding-bottom: 6%;">
                    {{diary.created_at | date: 'MMM'}}</div>
                </div>
              </ng-template>
              <ng-template #elseB>
                <div [ngStyle]="{'background-image':'url(' + yellowdate + ')'}" class="imgBg">
                  <div style="padding-top:15%;padding-bottom: 10%;color: #ffffff ; font-size: 25pt; font-weight: bold; text-align: center;">
                    {{diary.created_at | date: 'dd'}}</div>
                  <div style="color:#ffffff; text-align: center; font-size: 12pt; font-weight: light;padding-bottom: 6%;">
                    {{diary.created_at | date: 'MMM'}}</div>
                    </div>
              </ng-template>
  	      </ng-template>
      </ion-col>
      <ion-col size="8" style="margin-top:5%;" >
        <div style=" font-size: 12pt; font-weight: bold;color:#000;">{{diary.subject}}</div>
        <img src="assets/img/profile/line.png">
        <ion-label style="color:#000;">{{diary.diaryinfo}}</ion-label>
      </ion-col>
    </ion-row>
    <!-- <ion-row style="margin-top:2%; margin-bottom: 5%; margin-left: 7%; margin-right:5%;font-size: 10pt;">
    </ion-row> -->
    <!-- <ion-button expand="block" color="color2"(click)="downloadAndOpenPdf()" *ngIf="diary.document!=null" style="background-color: #f9a825;">
      <ion-label>Open Attachement</ion-label></ion-button> -->
  </ion-card>
</ion-content>
<ion-footer style="background-color: #efeff0;" no-border>
  <ion-grid >
    <ion-row>
      <ion-col size="3"></ion-col>
      <ion-col class="appForm" size="6"> 
        <ion-item color="color2"  style="border-radius: 20px;background-color: #f9a825;border: none;margin-bottom: 3%;">
           <ion-label *ngIf="!from_date" style="color:#fff;text-align: center;">{{today | date: 'dd-MMM-yyyy'}}</ion-label>
        <ion-datetime
        (ionChange)="getNotice()"
         displayFormat="MMM DD YYYY"
          [(ngModel)]="from_date"
          name="from_date"
          max="2022-12-31"
          style="text-align: center;font-size: small;"
        ></ion-datetime>
        </ion-item>
      </ion-col>
      <ion-col size="3"></ion-col>
      <!-- <ion-col>
        <button ion-button block color="color2" *ngIf="from_date" (click)="getDiary()">View Diary</button>
      </ion-col> -->
    </ion-row>
  </ion-grid>
</ion-footer>
