<ion-header no-border>

  <ion-toolbar>
    <ion-buttons slot="start" style="margin-top:-4%;">
      <ion-button (click)="previouspage()">
        <ion-img src="assets/img/backicon.png"></ion-img>
      </ion-button>
    </ion-buttons>
    <ion-title style="text-align: center;font-size: small;margin-top: -4%;"><b>DETAIL</b></ion-title>
  </ion-toolbar>

</ion-header>


<ion-content padding style="--ion-background-color:#efeff0;">
  <ion-grid *ngIf="albumtrue=='yes'" style="width: 100%;height: auto;">
    <ion-row>
      <ion-col>
        <ion-slides style="width: 100%;height: auto;">
          <ion-slide *ngFor="let image of imageUrl">
            <img src="{{image.image_url}}" style="width: 100%;height: auto;">
          </ion-slide>
        </ion-slides>
      </ion-col>
    </ion-row>
  </ion-grid>
<img src="{{imageUrl}}" style="width: 100%; height: auto;" *ngIf="albumtrue!='yes'">

<ion-label>{{diaryinfo}}</ion-label>
</ion-content>
