<ion-content class="modal-holder" padding>

  <div class="close-modal" (click)="dismiss()">
    <img src="assets/img/close-modal.png" alt="" >
  </div>
<br/>
  <h1 >Start Ride</h1>
  <button ion-button block color="color2" margin-bottom (click)="startfromSchool()">From School</button>
  <button ion-button block color="color5" margin-bottom (click)="starttoSchool()">To School</button>


</ion-content>
