.modal-holder {
    // margin: 85px 10px;
    // background: #3a5a98;
     border: 1px solid #a1a1a1;
    // border-top: none;
    // -webkit-box-shadow: 3px 4px 16px rgba(0,0,0,.18);
    // -moz-box-shadow: 3px 4px 16px rgba(0,0,0,.18);
    // box-shadow: 3px 4px 16px rgba(0,0,0,.18);
    // position: relative;
    width: 90%;
     height: 35%;
     top: 20%;
     left: 5%;
     right: 5%;
     bottom: 15%;
  }
  .close-modal {
    position: absolute;
    top: 5%;
    right: 10px;
    z-index: 50;
    cursor: pointer;
    img {
      max-width: 25px;
    }
  }
