<ion-header no-border>

  <ion-toolbar>
    <ion-buttons slot="start" style="margin-top: -3%;">
      <ion-button (click)="previouspage()">
        <ion-img src="assets/img/backicon.png"></ion-img>
      </ion-button>
    </ion-buttons>

    <ion-title style="padding-left:40%;margin-top:-4%;font-size: small;"><b>RESULT</b></ion-title>
  </ion-toolbar>

</ion-header>


<ion-content padding style="--ion-background-color:#efeff0;">

  <ion-card style="border-radius:20px;background-color: #fff;">
      <ion-grid style="padding-top: 3%;padding-bottom: 3%;">
        <div [ngStyle]="{'background-image':'url(' + courseimg + ')'}" class="imgBg">
          <ion-row>
            <h6 class="docenter" style="text-align:center;color:#fff;font-size: 13pt;">
               <b>{{show_result.section_course.course.course_name | titlecase}} </b></h6>
        </ion-row>
      </div>
      <ion-row style="margin-top: 5%;">
        <ion-col size="12">
        <ion-button size="block" expand="round" color="color2" *ngIf="!editResultisTrue" 
        style="background-color: #f9a825;border-radius: 25px;">
        <ion-label>{{show_result.created_at | date: 'dd-MMMM-yyyy'}}</ion-label>
      </ion-button>
      
      <ion-button size="block" expand="round" color="color1" *ngIf="editResultisTrue" 
      style="background-color: #454545;border-radius: 25px;">
          <ion-label *ngIf="!from_date">{{from_date | date: 'dd-MMMM-yyyy'}}</ion-label>
          <ion-datetime
          displayFormat="MMM DD YYYY"
          [(ngModel)]="from_date"
          name="from_date"
          max="2022-12-31"
          style="text-align: center;"
          ></ion-datetime>
        </ion-button>
      </ion-col>
    </ion-row>
      <ion-row no-padding style="margin-top: -5%;">
        <ion-col size="4">
          <h6  style="color: #666666;font-size: 10pt;">Category</h6>
          
          <ion-label *ngIf="editResultisTrue!=true" style="font-size: 13pt;color:#000;"><b>{{show_result.result_category | titlecase}}</b></ion-label>

          <ion-input style="width:50%;padding-left:5%;background-color: #0097dc;height: 15%;
          border-radius: 25px;font-size: 9pt;color:#fff;"
           *ngIf="editResultisTrue" [(ngModel)]="category" name="category" placeholder="{{show_result.result_category}}"></ion-input>         
          </ion-col>

         <ion-col size="3">
          <h6 style="color: #666666;font-size: 9pt;">Total</h6>
          
          <ion-input style="padding-left:5%;background-color: #0097dc;
            border-radius: 25px;font-size: 9pt;color:#fff;height: 15%;;width: 50%;"
            *ngIf="editResultisTrue" [(ngModel)]="TotalMarks" 
            name="TotalMarks" placeholder="{{show_result.total_marks}}"></ion-input>          
          
          <h6 *ngIf="editResultisTrue!=true" style="width:50%;padding-left:5%;padding-right:5%;
            text-align:center;background-color: #454545;border-radius: 35px;font-size: 9pt;color:#fff">
            {{show_result.total_marks}}</h6>
        
          </ion-col>

        <ion-col size="3">
          <h6 style="color: #666666;font-size: 9pt;">Section</h6>
          
          <h6 *ngIf="editResultisTrue" style="width:50%;padding-left:5%;padding-right:5%;margin-top: -5%;
          text-align:center;background-color: #454545;border-radius: 35px;font-size: 9pt;color:#fff">
            {{show_result.section_course.class_section.section.section_name}}</h6>

          <h6 *ngIf="editResultisTrue!=true" style="width:50%;padding-left:5%;padding-right:5%;
            text-align:center;background-color: #454545;border-radius: 35px;font-size: 9pt;color:#fff">
              {{show_result.section_course.class_section.section.section_name}}</h6>
  
          </ion-col>

        <ion-col size="2">
          <h6 style="color: #666666;font-size: 9pt;">Class</h6>
          
          <h6 *ngIf="editResultisTrue" style="padding-left:5%;padding-right:5%;margin-top: -7%;
          text-align:center;background-color: #454545;border-radius: 35px;font-size: 9pt;color:#fff">
            {{show_result.section_course.class_section.school_class.class_name}}</h6>

          <h6 *ngIf="editResultisTrue!=true" style="padding-left:5%;padding-right:5%;
            text-align:center;background-color: #454545;border-radius: 35px;font-size: 9pt;color:#fff">
              {{show_result.section_course.class_section.school_class.class_name}}</h6>
          </ion-col>
      </ion-row>
    </ion-grid>
    </ion-card>

    <ion-card style="border-radius: 20px;background-color: #fff;" >
        <ion-grid >
          <ion-row>
              <ion-col>
                <ion-label  style="font-size: 13pt;color:#000;"><b>Student's Marks</b></ion-label>
              </ion-col>
              <ion-col size="2">
                <ion-img src="assets/img/editbutton.png" (click)="editResult()" style="float: right;padding-left:5%;"></ion-img>
                <!-- <ion-label  (click)="editResult()" style="float:right;font-size:9pt;"><b>Edit</b></ion-label> -->
              </ion-col>
          </ion-row>
          <div *ngIf="editResultisTrue!=true">
            <div [ngStyle]="{'background-image':'url(' + studentcard + ')'}" class="imgBg"
          *ngFor="let result of show_result.student_results" style="margin-top: 3%;">
            <ion-row >
              <ion-col style="margin-top: -5%;" size="5" >
         <h6 style="font-size: 9pt;color:#000;">{{result.student.enrollment_number}}</h6>
                  <h6 style="font-size: 11pt;color:#000;"><b>{{result.student.first_name+' '+result.student.last_name | titlecase}}</b></h6>
                </ion-col>
                <ion-col size="4" style="margin-top: -5%;">
                    <h6 style="font-size: 9pt;color:#000;">Attendance</h6>
                      <ion-label *ngIf="result.student_attendance=='present'" style="
                      padding-left:5%;padding-right:5%;
                      text-align: center;background-color: #5eae01;border-radius: 25px;font-size: 9pt;
                      color:#fff">
                        PRESENT
                      </ion-label>
                      <ion-label *ngIf="result.student_attendance=='leave'"
                      style="padding-left:5%;padding-right:5%;
                      text-align: center;background-color: #f9a825;border-radius: 25px;
                      font-size: 9pt;color:#fff">
                        LEAVE
                      </ion-label>
                      <ion-label *ngIf="result.student_attendance=='absent'" style="
                      padding-left:5%;padding-right:5%;text-align: center;background-color: #5c5c5c;
                      border-radius: 25px;font-size: 9pt;color:#fff">
                        ABSENT
                      </ion-label>
                </ion-col>
                <ion-col size="3" style="margin-top: -5%;">
                  <h6 style="font-size: 9pt;color:#000;">Marks</h6>
                  <h6 style="text-align:center;background-color: #454545;width: 85%;
                  border-radius: 20px;font-size: 9pt;color:#fff">
                    {{result.marks_obtained}}</h6>
                </ion-col>
                <!-- <ion-col>
                  <p>Grade</p>
                  <ion-label style="padding-left: 5%;background-color: #454545;
                  border-radius: 25px;font-size: 9pt;color:#fff">
                    A+</ion-label>
                </ion-col> -->
          </ion-row>
          </div>
          </div>
          <div *ngIf="editResultisTrue">
            <div [ngStyle]="{'background-image':'url(' + studentcard + ')'}" class="imgBg"
            *ngFor="let result of show_result.student_results;let i=index" style="margin-top: 5%;">
              <ion-row>
                <ion-col style="margin-top: -5%;" size="5" >
           <h6 style="font-size: 9pt;color:#000;">{{result.student.enrollment_number}}</h6>
                    <h6 style="font-size: 11pt;color:#000;"><b>{{result.student.first_name+' '+result.student.last_name | titlecase}}</b></h6>
                  </ion-col>
                  <ion-col size="4" style="margin-top: -5%;">
                     <h6 style="color: #000;">Attendance</h6>
                     <ion-label *ngIf="result.student_attendance=='present'" style="
                     padding-left:5%;padding-right:5%;
                     text-align: center;background-color: #5eae01;border-radius: 25px;font-size: 9pt;
                     color:#fff">
                       PRESENT
                     </ion-label>
                     <ion-label *ngIf="result.student_attendance=='leave'"
                     style="padding-left:5%;padding-right:5%;
                     text-align: center;background-color: #f9a825;border-radius: 25px;
                     font-size: 9pt;color:#fff">
                       LEAVE
                     </ion-label>
                     <ion-label *ngIf="result.student_attendance=='absent'" style="
                     padding-left:5%;padding-right:5%;text-align: center;background-color: #5c5c5c;
                     border-radius: 25px;font-size: 9pt;color:#fff">
                       ABSENT
                     </ion-label>
                  </ion-col>
                  <ion-col size="3" style="margin-top: -5%;">
                    <h6 style="color: #000;">Marks</h6>
                      <div *ngIf="result.student_attendance=='absent'; then thenBlock else ElseBlock"></div>
                      <ng-template #thenBlock>
                        <ion-label style="
                        padding-left:5%;padding-right:5%;text-align: center;background-color: #5c5c5c;
                        border-radius: 25px;font-size: 9pt;color:#fff">
                          ABSENT
                        </ion-label>
                      </ng-template>
                      <ng-template #ElseBlock>
                        <ion-input style="text-align:center;background-color: #0097dc;height: 15%;margin-bottom: -5%;
                        border-radius: 25px;font-size: 9pt;color:#fff" placeholder="{{result.marks_obtained}}"
                        [(ngModel)]="studentmarksarray[i].marks_obtained"
                        ></ion-input>
                      </ng-template>
                  </ion-col>
            </ion-row>
            </div>
          </div>
  
        </ion-grid>
    </ion-card>

</ion-content>
<ion-footer no-border>
  <ion-button *ngIf="editResultisTrue" size="block" shape="round" color="color2" 
  (click)="submit_result()" style="font-weight: bold;border-radius: 25px;background-color: #f9a825;">SUBMIT</ion-button>
</ion-footer>
