<ion-header no-border>
  <ion-toolbar >
    <ion-buttons slot="start" style="margin-top: -3%;">
      <ion-menu-button>
        <img src="assets/img/icon-Menu copy.png" style="width:50%;height:auto">
      </ion-menu-button>
    </ion-buttons>    <!-- <ion-buttons slot="start" menuToggle icon-only>
      <img src="assets/img/icon-Menu copy.png" style="width:50%;height:auto">
    </ion-buttons> -->
    <ion-title style="text-align:center;font-size:small;margin-top: -4%;"><b>DIARY</b></ion-title>
    <ion-buttons slot="end" style="margin-top: -3%;">
      <ion-button (click)="openPage()"  >
        <img src="assets/img/Group 19.png" style="width:70%;height:auto;">
      </ion-button>
    </ion-buttons>
 </ion-toolbar>
</ion-header>

<ion-content padding style="--ion-background-color: #efeff0;">
  <ion-card style="border-radius: 15px;background-color: #fff;" padding>
    <div class="appForm" margin-bottom >
      <ion-list style="background-color: #fff;">


  <div style="text-align: left; font-size: 11pt; margin-left: 3%; margin-bottom: 3%;color:#000;">Enter Description</div>
    <div class="backgroundimg2">
     <ion-input type="email" class="place" style="margin-left: 15%;" [(ngModel)]="diarytext" name="diarytext" placeholder="Enter Description"></ion-input>
   </div>


   <div  (click)="selectImage()" style="margin-top:3%;text-align: left; font-size: 11pt; margin-left: 3%; margin-bottom: 3%;color:#000;">Attach Image</div>
   <div  (click)="selectImage()" class="backgroundimg">
    <img src="assets/img/attach.png" style="padding-top:1%;padding-bottom:1%;width:10%;height:auto;margin-left: 10%;">
   </div>

  <ion-grid no-padding style="margin-top: 5%;" *ngIf="images">
    <ion-row>
      <ion-col size="4">
            <img src="assets/img/attach.png" style="width:30%;height:auto;margin-left: 25%;">
      </ion-col>
      <ion-col size="5" style="margin-left: -10%;margin-top: 3%;">
          <ion-label style="font-size: small; color:#000;">
          Image
          </ion-label>
        </ion-col>
      <ion-col size="3">
          <div text-right>
              <img src="{{images}}" style="width:50px; height:auto;float:left">
            </div>
        </ion-col>
    </ion-row>
  </ion-grid>

  <div  (click)="uploadFile()"  style="margin-top:3%;text-align: left; font-size: 11pt; margin-left: 3%; margin-bottom: 3%;color:#000;">Attach Document</div>
  <div  (click)="uploadFile()"  class="backgroundimg">
   <img src="assets/img/attach.png" style="padding-top:1%;padding-bottom:1%;width:10%;height:auto;margin-left: 10%;">
  </div>
  <ion-grid no-padding style="margin-top: 5%;" *ngIf="documentToUpload">
    <ion-row>
      <ion-col size="4">
        <img src="assets/img/attach.png" style="width:30%;height:auto;margin-left: 25%;">
  </ion-col>
  <ion-col size="3" style="margin-left: -10%;margin-top: 3%;">
      <ion-label style="font-size: small; color:#000;">
        Document
      </ion-label>
    </ion-col>
      <ion-col size="5" >
        <ion-label style="color:#000;font-size:small;" text-wrap>{{documentToUpload}}</ion-label>
        </ion-col>
    </ion-row>
  </ion-grid>

</ion-list>
</div>


    <ion-grid >
      <ion-row >
        <ion-col size="6">
          <ion-button  shape="round" size="block" color="uiColor" 
          style="border-radius:25px;background-color: #efeff0;">
            <h6 style="color:#000;font-size: small;" *ngIf="!courseid">CLASS</h6>
            <ion-select style="max-width: 100% !important;color: #000;font-size: small;" [(ngModel)]="courseid" (ionChange)="sendCourse(courseid)">
              <ion-select-option *ngFor="let course of classdata" [value]="course.school_class_id">
                {{course.class_name}}
               </ion-select-option>
            </ion-select>
          </ion-button>
        </ion-col>
        <ion-col size="6" >
          <ion-button  shape="round" size="block" color="uiColor" 
          style="border-radius:25px;background-color: #efeff0;">
          <h6 style="font-size: small;color:#000;" *ngIf="!sectionid">SECTION</h6>
            <ion-select style="max-width: 100% !important;color: #000;font-size: small;" [(ngModel)]="sectionid" (ionChange)="getCourse(sectionid)">
              <ion-select-option *ngFor="let section of sectionsfromapi" [value]="section.id">
                {{section.section.section_name}}
               </ion-select-option>
            </ion-select>
          </ion-button>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="12">
          <ion-button shape="round" size="block" color="uiColor" style="border-radius:25px;background-color: #efeff0;" >
            <ion-label style="font-size: 9pt;color:#000" *ngIf="!id">COURSE</ion-label>
            <ion-select style="max-width: 100% !important;color: #000;" [(ngModel)]="id">
              <ion-select-option *ngFor="let course of course" [value]="course.id">
                {{course.course.course_name}}
               </ion-select-option>
            </ion-select>
          </ion-button>
        </ion-col>
      </ion-row>
      <ion-row >
        <ion-col (click)="diaryToIndividual()">
          <img src="assets/img/diarytoindividual.png">
        </ion-col>
      </ion-row>
    </ion-grid>

    <!-- <button ion-button block round color="color2" (click)="diaryToIndividual()"
   style="margin-top:5%;margin-bottom: 5%;">
    <ion-icon name="contact" item-left></ion-icon>
    Diary to individual
  </button> -->
  </ion-card>

  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-button expand="block" shape="round" style="border-radius: 25px;background-color: #454545;" color="color1" (click)="cancel()">CANCEL</ion-button>
      </ion-col>
      <ion-col>
        <ion-button expand="block" shape="round" color="warning" (click)="sendDiary()" [disabled]="disabled()"
        *ngIf="!documentToUpload" style="border-radius: 25px;background-color: #f9a825;color:#fff">
        <ion-label style="color:#fff;">CREATE DIARY</ion-label></ion-button>
        <ion-button expand="block" shape="round" color="warning" (click)="uploadDocumentDiary()"
        [disabled]="disabled()" *ngIf="documentToUpload" style="border-radius: 25px;background-color: #f9a825;color:#fff">
        <ion-label style="color:#fff;">CREATE DIARY</ion-label></ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
