<ion-header no-border>
  <ion-toolbar>
    <ion-buttons slot="start" style="margin-top:-4%;">
      <ion-button (click)="previouspage()">
        <ion-img src="assets/img/backicon.png"></ion-img>
      </ion-button>
    </ion-buttons>
    <ion-title style="text-align: center;font-size: small;margin-top:-4%;"><b>DIARY</b></ion-title>
  </ion-toolbar>
</ion-header>


<ion-content padding style="--ion-background-color:#efeff0;">
  <div class="details_img" [ngStyle]="{'background-image':'url(' + diaryapi.image_url + ')'}"
  style="margin-top: 20%;border-radius: 20px;" *ngIf="diaryapi.image_url!=null"
  (click)="imageFullpage(diaryapi.image_url,diaryapi)">
  </div>
  <div class="details_img" [ngStyle]="{'background-image':'url(' + dummyimage + ')'}"
  style="margin-top: 20%;border-radius: 20px;" *ngIf="diaryapi.image_url==null">
  </div>
  <div style="background-color: #fff;border-radius: 25px;height: 50%;margin-top:5%" >
    <ion-grid>
      <ion-row>
        <ion-col size="2">
          <img src="assets/img/topicName.png">
        </ion-col>
        <ion-col   *ngIf="diaryapi.section_course">
          <h6 style="font-size: 10pt;">{{diaryapi.section_course.course.course_name}}</h6>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="2">
          <img src="assets/img/topicDate.png">
        </ion-col>
        <ion-col >
          <h6 style="font-size: 10pt;">{{diaryapi.created_at | date: 'MMM-dd-yyyy'}}</h6>
        </ion-col>
      </ion-row>
      <!-- <ion-row>
        <ion-col col-2>
            <img src="assets/img/Event location.png">
          </ion-col>
        <ion-col style="margin-top: 5%;">
          <h4 style="font-size: 10pt;">{{diaryapi.location}}</h4>
        </ion-col>
      </ion-row> -->
      <ion-row>
        <ion-col>
         <h6 style="font-size: 13pt;">Details</h6>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
         <ion-label style="font-size: 10pt;">{{diaryapi.diary_info}}</ion-label>
        </ion-col>
      </ion-row>
     </ion-grid>


  </div>


</ion-content>
<ion-footer no-border *ngIf="diaryapi.document!=null">
  <ion-button expand="block" shape="round" color="color2" (click)="downloadAndOpenPdf()" 
  style="background-color: #f9a825;border-radius: 25px;margin-top:-3%">Open Attachment</ion-button>
</ion-footer>
