<ion-header no-border>
  <ion-toolbar>
    <ion-buttons slot="start" style="margin-top: -3%;">
      <ion-menu-button>
        <img src="assets/img/icon-Menu copy.png" style="width:50%;height:auto">
      </ion-menu-button>
    </ion-buttons>    <!-- <ion-buttons slot="start" menuToggle icon-only>
      <img src="assets/img/icon-Menu copy.png" style="width:50%;height:auto">
    </ion-buttons> -->
    <ion-title style="text-align:center;font-size:small;margin-top: -4%;"><b>ATTENDANCE</b></ion-title>
    <ion-buttons slot="end" style="width:20%;height:auto;margin-top:-4%;">
      <ion-item >
        <ion-button>
        <img src="assets/img/calender icon.png" style="width:70%;height:auto">
          <ion-datetime
          displayFormat="DD MMMM YYYY"
          [(ngModel)]="filtermonthwise"
          name="filtermonthwise"
          (ionChange)="loadAttendance(filtermonthwise)"
        ></ion-datetime>
      </ion-button>
      </ion-item>
    </ion-buttons>
    </ion-toolbar>
</ion-header>
<ion-content padding style="--ion-background-color: #efeff0;">

  <ion-grid style="margin-top: 5%;">
    <ion-row>
      <ion-col >
        <ion-button expand="block" shape="round" color="color1" *ngIf="!filtermonthwise && attendance_updated_earlier==false" style="background-color: #454545;border-radius: 25px;">{{today | date: 'dd MMM'}}</ion-button>
        <ion-button expand="block" shape="round" color="color1" *ngIf="filtermonthwise && attendance_updated_earlier==true" style="background-color: #454545;border-radius: 25px;">{{filtermonthwise | date: 'dd MMM'}}</ion-button>
        <ion-button expand="block" shape="round" color="color1" *ngIf="filtermonthwise && attendance_updated_earlier==false" style="background-color: #454545;border-radius: 25px;">{{filtermonthwise | date: 'dd MMM'}}</ion-button>
      </ion-col>
      <!-- <ion-col col-6>
        <button ion-button block color="color1" style="border-radius: 25px;">
          <ion-label style="font-size: 13pt;"><b>CLASS {{class}}</b></ion-label></button>
      </ion-col>
      <ion-col col-6>
        <button ion-button block color="color1" style="border-radius: 25px;">
          <ion-label style="font-size: 13pt;"><b>SECTION {{section}}</b></ion-label></button>
     </ion-col> -->
    </ion-row>
   </ion-grid>
  <!-- <ion-slides (ionSlideDidChange)="slideChanged($event)" [pager]="sliderConfig">
  <ion-slide  *ngFor="let name of names" > -->

      <div *ngIf="students.length == 0"> No Students are available currently under this state.</div>
      <div *ngIf="attendance_updated_earlier==false" >
        <div *ngFor="let name of students; let i = index" >
        <ion-card  style="background-color:#fff;margin-top: 5%;border-radius: 15px;">
     <ion-grid >

      <ion-row >
        <ion-col size="4">
          <img src="assets/img/picbox.png" style="width:100%;height: auto;">
        </ion-col>

          <ion-col size="8" style="padding-left: 5%;margin-top: -5%;">
            <h1 style="font-size: 17pt;color:#000;">{{name.first_name+' '+name.last_name |titlecase}}</h1>
            <ion-grid no-padding>
              <ion-row style="margin-top: -5%;">
                <ion-col size="2">
                  <img src="assets/img/IDbox.png" style="width: 100%;height: auto;">     
                </ion-col>
                <ion-col style="padding-left:3%">
                  <ion-label style="font-size: 12pt;color:#000;">{{name.enrollment_number}}</ion-label>
                </ion-col>
                <ion-col size="3" >
                  <img src="assets/img/section.png">
                </ion-col>
                <ion-col style="padding-left:3%">
                  <ion-label style="font-size: 12pt;color:#000;">{{section}}</ion-label>
                </ion-col>
              </ion-row>
            </ion-grid>

              <div  style="border-bottom: 1px solid #454545;margin-bottom: 3%;"></div>

              <ion-label *ngIf="student_attendance[i]">Status &nbsp;
                  <span  style="background-color:#5eae01;color:#fff;border-radius:25px;
                  padding-left:5%;padding-right: 5%;"
                  *ngIf="student_attendance[i].attendance=='2' ">
                  PRESENT</span>
                  <span style="background-color:#454545;color:#fff;border-radius:25px;
                  padding-left:5%;padding-right: 5%;" *ngIf="student_attendance[i].attendance==1">
                  ABSENT</span>
                  <span style="background-color:#f9a825;color:#fff;border-radius:25px;
                  padding-left:5%;padding-right: 5%;" *ngIf="student_attendance[i].attendance==3">
                 LEAVE</span>

                  </ion-label>
              </ion-col>
      </ion-row>
     </ion-grid>
        </ion-card>

        <ion-card style="border-radius:15px;margin-top: -2%;background-color:#fff;">
        <ion-grid>
      <ion-row >
        <!-- <ion-radio-group [(ngModel)]="student_attendance[i].attendance" *ngIf="student_attendance[i]"> -->
        <ion-col color="dark" (click)="attendanceKeeper(i,'1')" 
        style="background-color: #5c5c5c;border-radius: 15px;color:#fff">
       <ion-label style="margin-left:20%;font-size: 10pt;" >ABSENT</ion-label>
     </ion-col>

     <ion-col color="warning" (click)="attendanceKeeper(i,'3')" 
     style="background-color: #f9a825;border-radius: 15px;color:#fff">
       <ion-label style="margin-left:25%;font-size: 10pt;">LEAVE</ion-label>
     </ion-col>

     <ion-col color="success" (click)="attendanceKeeper(i,'2')" 
     style="background-color: #5eae01;border-radius: 15px;color:#fff">
       <ion-label style="margin-left:20%;font-size: 10pt;">PRESENT</ion-label>
     </ion-col>
<!-- </ion-radio-group> -->
      </ion-row>
  </ion-grid>

    </ion-card>
    </div>
      </div>

      <div *ngIf="attendance_updated_earlier==true">
        <div *ngFor="let name of students; let i = index">
    <ion-card  style="margin-top: 5%;border-radius: 15px;background-color:#fff;">
     <ion-grid>
      <ion-row >
        <ion-col size="4">
          <img src="assets/img/picbox.png" style="width:100%;height: auto;">
        </ion-col>

          <ion-col size="8" style="padding-left: 5%;margin-top: -5%;">
            <h1 style="font-size: 17pt;color:#000;">{{name.first_name+' '+name.last_name |titlecase}}</h1>
            <ion-grid no-padding>
              <ion-row style="margin-top: -5%;">
                <ion-col size="2">
                  <img src="assets/img/IDbox.png" style="width: 100%;height: auto;">     
                </ion-col>
                <ion-col style="padding-left:3%">
                  <ion-label style="font-size: 12pt;color:#000;">{{name.enrollment_number}}</ion-label>
                </ion-col>
                <ion-col size="3" >
                  <img src="assets/img/section.png">
                </ion-col>
                <ion-col style="padding-left:3%">
                  <ion-label style="font-size: 12pt;color:#000;">{{section}}</ion-label>
                </ion-col>
              </ion-row>
            </ion-grid>

              <div  style="border-bottom: 1px solid #454545;margin-bottom: 3%;"></div>
              <ion-label >Status &nbsp;
                  <span style="background-color:#5eae01;color:#fff;border-radius:25px;
                    padding-left:5%;padding-right: 5%;" *ngIf="student_attendance_updated_show[i].attendance==2">
                    PRESENT</span>
                    <span style="background-color:#454545;color:#fff;border-radius:25px;
                    padding-left:5%;padding-right: 5%;" *ngIf="student_attendance_updated_show[i].attendance==1">
                    ABSENT</span>
                    <span style="background-color:#f9a825;color:#fff;border-radius:25px;
                    padding-left:5%;padding-right: 5%;" *ngIf="student_attendance_updated_show[i].attendance==3">
                   LEAVE</span>
                  </ion-label>
          </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card>

      <ion-card style="border-radius:15px;margin-top: -2%;background-color:#fff;">
        <ion-grid>
            <ion-row >
              <ion-col color="dark" (click)="attendanceupdater(i,'1')" 
              style="background-color: #5c5c5c;border-radius: 15px;color:#fff">
             <ion-label style="margin-left:20%;font-size: 10pt;" >ABSENT</ion-label>
           </ion-col>
      
           <ion-col color="warning" (click)="attendanceupdater(i,'3')" 
           style="background-color: #f9a825;border-radius: 15px;color:#fff">
             <ion-label style="margin-left:25%;font-size: 10pt;">LEAVE</ion-label>
           </ion-col>
      
           <ion-col color="success" (click)="attendanceupdater(i,'2')" 
           style="background-color: #5eae01;border-radius: 15px;color:#fff">
             <ion-label style="margin-left:20%;font-size: 10pt;">PRESENT</ion-label>
           </ion-col>
      </ion-row>
  </ion-grid>

    </ion-card>
    </div>
  </div>
</ion-content>
<ion-footer no-border>

  <ion-button expand="block" shape="round" color="color2" (click)="submitAttendance()"
  *ngIf="attendance_updated_earlier==false" style="border-radius: 25px;background-color: #f9a825;">
    SUBMIT
   </ion-button>
   <ion-button expand="block" shape="round" color="color2" (click)="updateAttendance()"
   *ngIf="attendance_updated_earlier==true" style="border-radius: 25px;background-color: #f9a825;">
    UPDATE ATTENDANCE
   </ion-button>
</ion-footer>
