.backgroundimg2
{
  -webkit-background-size: cover;
  -moz-background-size: contain;
  -o-background-size: contain;
  background-size: contain;
  background-repeat: no-repeat;
}
.content-attendance{
    width:100%;
    margin: 0px;
    padding: 0px;
}
.detail-name{

    @media (max-width: 360px) {
        font:montserrat;
        font-size: 8pt;
        text-align: center;
    }
    @media (max-width: 576px) {
        font:montserrat;
        font-size: 10pt;
        text-align: center;
    }

}
.imgBg{
    background-size:100% 100%;
    background-repeat:no-repeat;
    background-position:center center;
}
