<ion-header no-border>
  <ion-toolbar>
    <ion-buttons slot="start" style="margin-top:-4%">
      <ion-menu-button>
        <img src="assets/img/icon-Menu copy.png" style="width:50%;height:auto">
      </ion-menu-button>
    </ion-buttons>
    <ion-title style="text-align: center;margin-top:-4%;font-size: small;"><b>STUDENT SUMMARY</b></ion-title>
    <ion-buttons slot="end" style="width:20%;height:auto;margin-top:-4%;">
      <ion-item  >
        <ion-button>
        <img src="assets/img/calender icon.png" style="width:80%;height:auto">
        <ion-select [(ngModel)]="filtermonthwise" (ionChange)="loadResource(filtermonthwise)">
          <ion-select-option value=1>January </ion-select-option>
          <ion-select-option value=2>February </ion-select-option>
          <ion-select-option value=3>March </ion-select-option>
          <ion-select-option value=4>April </ion-select-option>
          <ion-select-option value=5>May </ion-select-option>
          <ion-select-option value=6>June </ion-select-option>
          <ion-select-option value=7>July </ion-select-option>
          <ion-select-option value=8>August </ion-select-option>
          <ion-select-option value=9>September </ion-select-option>
          <ion-select-option value=10>October </ion-select-option>
          <ion-select-option value=11>November </ion-select-option>
          <ion-select-option value=12>December </ion-select-option>
        </ion-select>
      </ion-button>

      </ion-item>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content style="--ion-background-color:#efeff0;">

  <div class="appForm"  margin-bottom style="margin-top: 20%; padding: 3%;">
   <div>
    <ion-card style="border-radius: 10px;background-color:#fff;">
      <div>
        <ion-row>
          <ion-col size="5">
              <img src="assets/img/profile/picture.png" style="padding-left: 5%;padding-top: 5%;padding-bottom: 5%;height:auto;">
          </ion-col>
          <ion-col size="7">
            <div style="margin-left: 6%;">
            <ion-row style="font: montserrat; font-weight: bold; font-size: 16pt;margin-top: 10%;color:#000;">
              {{student_name.first_name+' '+student_name.last_name | titlecase}}
            </ion-row>
            <ion-row style="color:#454545;font: montserrat; font-size:small;">
              Student
            </ion-row>
            <ion-row style="margin-top:2%; margin-bottom:2%;">
              <img src="assets/img/profile/line.png">
            </ion-row>
            <!-- <ion-row style="font: montserrat; font-weight: ----ion-color-light; font-size: 10pt;">
              <b>Roll Number</b> : {{enrol}}
            </ion-row> -->
            <ion-row style="color:#454545;font: montserrat;font-size: 10pt;">
              <b>School Name</b> : {{schoolname}}
            </ion-row>
            <ion-row style="color:#454545;font: montserrat;font-size: 10pt;">
              <b>Address</b> : {{address}}
            </ion-row>

          </div>
          </ion-col>
          </ion-row>
      </div>
    </ion-card>
  </div>
  <div>
    <ion-card style="border-radius: 10px;background-color: #fff;">
      <ion-row >
        <ion-col size="2" style="margin-top: 5%;margin-left: 3%;">
          <div [ngStyle]="{'background-image':'url(' + gender + ')'}" class="backgroundimg2">
            <div *ngIf="gen=='M';then thenBlock else elseBlock"></div>
            <ng-template #thenBlock>
              <img src="assets/img/profile/male.png" style="padding:20%;" />
            </ng-template>
            <ng-template #elseBlock>
              <img src="assets/img/profile/female.png" style="padding:20%;"/>
            </ng-template>
         </div>
         </ion-col>
        <ion-col size="1">
        </ion-col>
        <ion-col size="2">
          <div [ngStyle]="{'background-image':'url(' + enroll + ')'}" class="backgroundimg2">
            <h6 style="font-size: 15pt;color:#fff; text-align: center;padding-left: 6%; padding-top: 25%; padding-bottom: 25%;"><b>{{enrol}}</b></h6>
            </div>
        </ion-col>
        <ion-col size="1">
        </ion-col>
        <ion-col size="2">
          <div [ngStyle]="{'background-image':'url(' + classa + ')'}" class="backgroundimg2">
            <h6 style="font-size: 15pt;color:#fff; text-align: center;padding-left: 6%; padding-top: 25%; padding-bottom: 25%;"><b>{{class}}</b></h6>
          </div>
        </ion-col>
        <ion-col size="1">
        </ion-col>
        <ion-col size="2">
          <div [ngStyle]="{'background-image':'url(' + sectiona + ')'}" class="backgroundimg2">
            <h6 style="font-size: 15pt;color:#fff; text-align: center;padding-left: 6%; padding-top: 25%; padding-bottom: 25%;"><b>{{section}}</b></h6>

            </div>
        </ion-col>

    </ion-row>
      <ion-row style="margin-bottom: 3%;margin-top: -10%;">
        <ion-col size="3" class="detail-name" style="color:#454545;">
         <ion-label>Gender</ion-label>
        </ion-col>
        <!-- <ion-col col-1>
        </ion-col> -->
        <ion-col size="3" class="detail-name" style="color:#454545;">
          <ion-label >Enrollment Number</ion-label>
        </ion-col>
        <ion-col size="2"  class="detail-name" style="color:#454545;margin-left: 3%;">
         <ion-label >Class</ion-label>
        </ion-col>
        <ion-col size="3" class="detail-name" style="color:#454545;margin-left: 3%;">
          <ion-label>Section</ion-label>
        </ion-col>

      </ion-row>
    </ion-card>
  </div>

  <ion-card style="border-radius: 10px;background-color: #fff;">
       <ion-grid>
     <ion-row >
      <ion-col size="3" style="margin-top:5%; margin-bottom:5%;">
        <img src="assets/img/profile/acedmy.png" style="margin-top:100% ;">
      </ion-col>
      <ion-col size="9">
      <ion-grid >
        <ion-row >
          <ion-col size="5" style="margin-left:5%;">
          <div [ngStyle]="{'background-image':'url(' + totalbox + ')'}" class="imgBg">
              <h6 style="font-size: 25pt;color:#fff; text-align: center;padding-left: 5%; padding-top: 20%; padding-bottom: 30%;"><b>{{total}}</b></h6>
         </div>
          </ion-col>
          <ion-col size="5" style="margin-left:5%; ">
            <div [ngStyle]="{'background-image':'url(' + presentbox + ')'}" class="imgBg">
              <h6 style="font-size: 25pt;color:#fff; text-align: center;padding-left: 5%; padding-top: 20%; padding-bottom: 30%;"><b>{{presents}}</b></h6>
          </div>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="5" style="margin-left:5%; margin-top: 5%;">
          <div [ngStyle]="{'background-image':'url(' + absentbox + ')'}" class="imgBg">
            <h6 style="font-size: 25pt;color:#fff; text-align: center; padding-left: 5%; padding-top: 20%; padding-bottom: 30%;"  ><b>{{absents}}</b></h6>
          </div>
          </ion-col>
          <ion-col size="5" style="margin-left:5%; margin-top: 5%; " >
            <div [ngStyle]="{'background-image':'url(' + leavebox + ')'}" class="imgBg">
              <h6 style="font-size: 25pt;color:#fff;text-align: center;padding-left: 5%; padding-top: 20%; padding-bottom: 30%;"><b>{{leaves}}</b></h6>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-col>
  </ion-row>
    </ion-grid>
 </ion-card>

 <ion-grid no-padding>
  <ion-row>
    <ion-col size="4" *ngFor="let studentprogress of student_progress">
        <div style="background-color:#fff;border-radius: 15px;margin-left: 10%;">
            <h6 style="color:#000;text-align: center;margin-top: 10%;font-size: 17pt;"><b>{{studentprogress.rating}}</b></h6>
            <ion-grid no-padding style="margin-top:-20%;">
              <ion-row>
                <ion-col>
                  <img src="assets/img/star.png" *ngIf="studentprogress.rating>=1">
                  <!-- <img src="assets/img/half star.png" *ngIf="studentprogress.rating>1.1 && 1.9>=studentprogress.rating"> -->
                  <img src="assets/img/Asset 1.png" *ngIf="studentprogress.rating==0">
                </ion-col>
                <ion-col>
                  <img src="assets/img/star.png" *ngIf="studentprogress.rating>=2">
                  <!-- <img src="assets/img/half star.png" *ngIf="studentprogress.rating>2.1 && 2.9>=studentprogress.rating"> -->
                  <img src="assets/img/Asset 1.png" *ngIf="studentprogress.rating==0 || 2>studentprogress.rating">
                </ion-col>
                <ion-col>
                  <img src="assets/img/star.png" *ngIf="studentprogress.rating>=3">
                  <!-- <img src="assets/img/half star.png" *ngIf="studentprogress.rating>3.1 && 3.9>=studentprogress.rating"> -->
                  <img src="assets/img/Asset 1.png" *ngIf="studentprogress.rating==0 || 3>studentprogress.rating">
                </ion-col>
                <ion-col>
                  <img src="assets/img/star.png" *ngIf="studentprogress.rating>=4">
                  <!-- <img src="assets/img/half star.png" *ngIf="studentprogress.rating>4.1 && 4.9>=studentprogress.rating"> -->
                  <img src="assets/img/Asset 1.png" *ngIf="studentprogress.rating==0 || 4>studentprogress.rating">
                </ion-col>
                <ion-col>
                  <img src="assets/img/star.png" *ngIf="studentprogress.rating>=5">
                  <!-- <img src="assets/img/half star.png" *ngIf="studentprogress.rating>5.1 && 5.9>=studentprogress.rating"> -->
                  <img src="assets/img/Asset 1.png" *ngIf="studentprogress.rating==0 || 5>studentprogress.rating">
                </ion-col>
              </ion-row>
            </ion-grid>
            <h6 style="color:#000;font-size:10pt;text-align: center;margin-top: -5%;padding-bottom: 10%;">{{studentprogress.progress_category.category_name}}</h6>
        </div>
    </ion-col>
  </ion-row>
</ion-grid>
</div>


</ion-content>
