<ion-header no-border>
  <ion-toolbar>
    <ion-buttons slot="start" style="margin-top:-4%">
      <ion-menu-button>
        <img src="assets/img/icon-Menu copy.png" style="width:50%;height:auto">
      </ion-menu-button>
    </ion-buttons>  
    <ion-title style="text-align:center;font-size: small;margin-top:-4%;"><b>PAYMENT</b></ion-title>
    <ion-buttons slot="end" style="margin-top:-4%">
      <ion-button navPush="NotificationsPage"  >
        <img src="assets/img/Group 19.png" style="width:70%;height:auto">
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content style="--ion-background-color: #efeff0;" padding>

  <div [ngStyle]="{'background-image':'url(' + pending_item + ')'}" class="backgroundimg"
  style="width:95%;height:300px;margin-top: 5%;">
    <h6 style="padding-left: 30%;padding-top: 40%;color:#fff;font-size: 12pt;">Pending Payments</h6>
    <ion-label style="padding-left: 30%;font-size: 25pt;color:#fff"><b>Rs {{totalPayment  + '/-'}}</b></ion-label>
  </div>

  <div [ngStyle]="{'background-image':'url(' + approved_item + ')'}" class="backgroundimg"
  style="width:95%;height:150px;">
    <h6 style="padding-left: 45%;padding-top: 16%;color:#fff;font-size: 12pt;">Total</h6>
    <ion-label style="padding-left: 30%;font-size: 25pt;color:#fff"><b>Rs {{totalPaymentpayed + '/-'}}</b></ion-label>
  </div>

  <div style="background-color: #fff; border-radius: 20px;">

    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-label style="font-size: 13pt;"><b>Payment History</b></ion-label>
        </ion-col>
      </ion-row>

      <ion-row >
        <ion-col size="3">
         <ion-label style="font-size: 9pt;">Month</ion-label>
        </ion-col>
        <ion-col size="3">
          <ion-label style="font-size: 9pt;margin-left: 5%;">Fees</ion-label>
         </ion-col>
          <ion-col size="3">
          <ion-label style="text-align:center;font-size: 9pt;margin-left: 3%;">Due Date</ion-label>
         </ion-col>
          <ion-col size="3">
          <ion-label style="text-align:center;font-size: 9pt;margin-left: 3%;">Status</ion-label>
         </ion-col>
      </ion-row>
      <ion-row *ngFor="let payment of paymenttoshow" style="background-color: #efeff0;border-radius:15px;padding-top: 5%; margin-top: 3%;">
        <ion-col size="3" style="padding-top: 5%;">
          <ion-label style="font-size: 10pt;"><b>{{payment.feesmonth}}</b></ion-label>
      </ion-col>
      <ion-col size="3" style="padding-top: 5%;">
          <ion-label style="font-size: 10pt;"><b>{{payment.amount}}</b></ion-label>
       </ion-col>
       <ion-col size="3" style="padding-top: 5%;">
          <ion-label style="font-size: 10pt;"><b>{{payment.duedate}}</b></ion-label>
       </ion-col>
       <ion-col size="2">
         <img src="assets/img/complete box.png" *ngIf="payment.status=='paid'">
         <img src="assets/img/Pending box.png" *ngIf="payment.status=='pending'">
         <img src="assets/img/defaultericon.png" *ngIf="payment.status=='defaulter'">
   </ion-col>
  </ion-row>
    </ion-grid>

  </div>
  <!-- <div class="balance-header">
    <h1>Pending Payments</h1>
    <div class="balance-holder">
      <ion-badge color="color2">PKR {{totalPayment}}</ion-badge>
    </div>
  </div>
  <div class="balance-header">
    <h1>Total</h1>
    <div class="balance-holder">
      <ion-badge id="totalamountpayed" color="color2"></ion-badge>
    </div>
  </div>

  <ion-grid >
    <ion-row class="table-heading clearfix">
      <ion-col>
      <ion-label>Month</ion-label>
      </ion-col>
      <ion-col>
     <ion-label> Fees</ion-label>
      </ion-col>
      <ion-col>
       <ion-label>Status</ion-label>
      </ion-col>
      <ion-col>
        <ion-label>Due Date</ion-label>
       </ion-col>
    </ion-row>
    <ion-row *ngFor="let payment of paymenttoshow">
      <ion-col>
          <div class="inner-column name"> <span class="serial-number">{{payment.feesmonth}}</span>
            <span>{{payment.name}}{{payment.last_name}}</span></div>
      </ion-col>
      <ion-col>
          <ion-label>{{payment.amount}}</ion-label>
       </ion-col>
       <ion-col>
            <ion-label>{{payment.status}}</ion-label>
       </ion-col>
       <ion-col>
          <ion-label>{{payment.duedate}}</ion-label>
       </ion-col>
     </ion-row>
  </ion-grid> -->


  <!-- <div class="totals-visual">
    <div class="totals-row clearfix">
      <div class="totals-left total">Total Amount:</div>
      <div class="totals-right">{{totalPaymentpayed}}</div>
    </div>
    </div> -->
</ion-content>
