<ion-header no-border>
  <ion-toolbar>
    <ion-buttons slot="start" style="margin-top: -3%;">
      <ion-menu-button>
        <img src="assets/img/icon-Menu copy.png" style="width:50%;height:auto">
      </ion-menu-button>
    </ion-buttons>
    <ion-title style="text-align: center;font-size: small;margin-top:-3%"><b>ALBUM</b></ion-title>
    <ion-buttons slot="end" style="margin-top: -3%;">
      <ion-button (click)="editTrue()">
        <img src="assets/img/albumcreate.png" style="width:70%;height:auto">
        <!-- <ion-icon name="create"></ion-icon> -->
        <!-- <ion-badge color="danger">+</ion-badge> -->
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end" style="margin-top: -3%;">
      <ion-button (click)="albumDetail()">
        <img src="assets/img/album_icon.png" style="width:70%;height:auto">
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end" style="width:20%;height:auto;margin-top:-3%;">
      <ion-item  >
        <ion-button>
        <img src="assets/img/calender icon.png" style="width:80%;height:auto">
        <ion-select [(ngModel)]="filtermonthwise" (ionChange)="getAlbum(filtermonthwise)">
          <ion-select-option value=1>January </ion-select-option>
          <ion-select-option value=2>February </ion-select-option>
          <ion-select-option value=3>March </ion-select-option>
          <ion-select-option value=4>April </ion-select-option>
          <ion-select-option value=5>May </ion-select-option>
          <ion-select-option value=6>June </ion-select-option>
          <ion-select-option value=7>July </ion-select-option>
          <ion-select-option value=8>August </ion-select-option>
          <ion-select-option value=9>September </ion-select-option>
          <ion-select-option value=10>October </ion-select-option>
          <ion-select-option value=11>November </ion-select-option>
          <ion-select-option value=12>December </ion-select-option>
        </ion-select>
      </ion-button>

      </ion-item>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content padding style="--ion-background-color: #efeff0;">
  <ion-grid>
    <ion-row >
      <ion-col size="6" *ngFor="let albumcover of albumcovershowonpage;let i = index" (click)="albumShow(i)" style="margin-top: 5%;">
        <div class="container">
          <div [ngStyle]="{'background-image':'url(' + albumcover.image + ')'}" class="backgroundimg" style="border-radius: 20px;">
            <img src="assets/img/trash_album.png" class="changecolor" *ngIf="edit==true"
            (click)="deletePhoto(albumcover.id)" 
            style="padding-left: 80%;padding-top: 5%;">
        <div style="padding-top: 50%;padding-bottom: 10%;padding-left: 5%;padding-right: 5%;">
              <h6 style="color:#fff;text-align:center;background-color: #f9a825;font-size: x-small;
              border-radius: 15px;font-size: 11pt;padding-top: 3%;padding-bottom: 3%;">
              <b>{{albumcover.albumname | titlecase}}</b></h6>
            </div>
        </div>
      </div>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
