<ion-header no-border>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button>
        <img src="assets/img/icon-Menu copy.png" style="width:50%;height:auto">
      </ion-menu-button>
    </ion-buttons>  
    <ion-title style="text-align: center;font-weight: bold;color:#454545;"><h6>Reset Password</h6></ion-title>
    <ion-buttons slot="end">
      <ion-button  navPush="NotificationsPage" class="notification_Btn" >
        <img src="assets/img/Group 19.png" style="width:50%;height:auto">
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content style="--ion-background-color:#efeff0;">
  <ion-card style="border-radius:15px;margin-top: 15%;background-color: #fff;">
    <div class="appForm"  margin-bottom>
      <ion-list style="background-color: #fff;">
        <div style="text-align: left; font-size: 11pt; margin-left: 3%; margin-bottom: 3%;">Password</div>
        <div class="backgroundimg2">
          <ion-input type="password" class="place" style="margin-left: 15%;" id="user_email" [(ngModel)]="password" name="password" placeholder="Password" required></ion-input>
        </div>
        <div style="text-align: left; font-size: 11pt; margin-left: 3%; margin-bottom: 3%;">Confirm Password</div>
        <div class="backgroundimg2">
          <ion-input type="password" class="place" style="margin-left: 15%;" [(ngModel)]="confirm_password" name="confirm_password"  placeholder="Password" required></ion-input>
        </div>
      </ion-list>
    </div>
    <ion-button shape="round" size="block" color="color2" style="border-radius:25px;margin-top: 5%;background-color: #f9a825;" 
    (click)="change_password()" [disabled]="disabled()"
    >UPDATE PASSWORD</ion-button>
  </ion-card>
</ion-content>
