<ion-header no-border>
  <ion-toolbar>
    <ion-buttons slot="start" style="margin-top: -3%;">
      <ion-button (click)="previouspage()">
        <ion-img src="assets/img/backicon.png"></ion-img>
      </ion-button>
    </ion-buttons>
    <ion-title style="margin-top:-4%;text-align: center;font-size: small;"><b>MEETING</b></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content style="--ion-background-color:#efeff0;" padding>

  <ion-card style="border-radius: 15px;background-color: #fff;" padding *ngIf="globalVar.current_user.role=='faculty'">

    <div class="appForm"  margin-bottom>

      <ion-list style="background-color: #fff;">

        <div style="text-align: left; font-size: 11pt; margin-left: 3%; margin-bottom: 3%;color:#666666;">Enter Subject for Appointment Request</div>
        <div class="backgroundimg2">
         <ion-input type="email" class="place" style="margin-left: 15%;" placeholder="Enter Subject" [(ngModel)]="subject" name="subject"></ion-input>
    </div>

    <div style="text-align: left; font-size: 11pt; margin-left: 3%; margin-bottom: 3%;margin-top:5%;color:#666666;">Enter Description</div>
    <div class="backgroundimg2">
     <ion-input type="email" class="place" style="margin-left: 15%;" placeholder="Enter Subject" [(ngModel)]="description" name="description"></ion-input>
</div>

     <div style="text-align: left; font-size: 11pt; margin-left: 3%; margin-bottom: 3%;margin-top:3%">
      <h6 style="color:#666666;">Select Individual</h6></div>
      <ion-button expnad="block" shape="round" color="color2"
      style="width:100%;border-radius:25px;background-color: #f9a825;margin-top: 1%;">
      <ion-label style="color:#fff;font-size:9pt;" *ngIf="!studentid">Select Individual</ion-label>
        <ion-select style="max-width: 100% !important;color:#fff;" [(ngModel)]="studentid" name="studentid">
          <ion-select-option *ngFor="let student of globalVar.current_user.section_students" [value]="student.id">
            {{student.first_name+' '+student.last_name |titlecase}}</ion-select-option>
        </ion-select>
      </ion-button>

      <ion-grid no-padding style="margin-top:3% ;">
        <ion-row>
          <ion-col size="6">
            <ion-item style="width:100%;background-color: #efeff0;border-radius: 25px;">
              <h6 *ngIf="!from_date" style="text-align: center;font-size: small;color:#000;margin-top:0%">DATE</h6>
              <ion-datetime
                displayFormat="MMM DD YYYY"
                [(ngModel)]="from_date"
                name="from_date"
                max="2022-12-31"
                style="text-align: center;color:#000;font-size: smaller;"
                ></ion-datetime>
            </ion-item>
          </ion-col>
          <ion-col size="6">
            <ion-item style="width:100%;background-color:#efeff0;border-radius: 25px;">
              <h6 *ngIf="!unformated_pickup_time" style="text-align: center;font-size: 10pt;color:#000;margin-top: 0%;">TIME</h6>
            <ion-datetime
            displayFormat="h:mm A"
            [(ngModel)]="unformated_pickup_time"
            name="pickup_time"
            style="text-align: center;color:#000;font-size: smaller;"
            ></ion-datetime>
          </ion-item>
      </ion-col>
        </ion-row>
      </ion-grid>

  </ion-list>
        </div>
        </ion-card>


      <ion-grid style="margin-top: 10%;" *ngIf="globalVar.current_user.role=='faculty'">
        <ion-row>

          <ion-col size="6" >
             <ion-button expand="block" shape="round" color="color1" (click)="cancel_faculty()" 
             style="background-color:#454545;border-radius: 25px;">
              Cancel
            </ion-button>
          </ion-col>
          <ion-col size="6">
            <!-- <button ion-button block color="color2" [disabled]="disabled()"
            (click)="upload()" style="border-radius: 25px;" *ngIf="globalVar.current_user.role=='parent'">
              Request
            </button> -->
            <ion-button expand="block" shape="round" color="color2" [disabled]="disabled()"
            (click)="uploadfromfaculty()" style="background-color:#f9a825;border-radius: 25px;" *ngIf="globalVar.current_user.role=='faculty'">
              Request
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>


</ion-content>
