<ion-header >
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button>
        <img src="assets/img/icon-Menu copy.png" style="width:50%;height:auto">
      </ion-menu-button>
    </ion-buttons>    <!-- <button ion-button menuToggle icon-only>
      <img src="assets/img/icon-Menu copy.png" style="width:50%;height:auto">
    </button> -->
    <ion-title style="text-align: center;"><b>NOTIFICATION</b></ion-title>
    <!-- <ion-buttons end>
      <button ion-button navPush="NotificationsPage"  >
        <img src="assets/img/Group 19.png" style="width:50%;height:auto">
      </button>
    </ion-buttons> -->
  </ion-toolbar>
</ion-header>


<ion-content padding style="--ion-background-color:#efeff0;">
  <div *ngFor="let item of notifications; let i=index">
    <div *ngIf="(i+1)%4==0; then thenBlock else elseBlock"></div>
      <ng-template #thenBlock >
       <ion-label style="padding-left: 3%;"><b>{{item.created_at | date: 'dd-MMM-yyyy'}}</b></ion-label>
      <div [ngStyle]="{'background-image':'url(' + notification_item2 + ')'}"
      class="backgroundimg">
       <ion-grid>
           <ion-row>
             <ion-col size="3">
              <img src="assets/img/album_notif.png" *ngIf="item.notifiable_type=='Album'">
              <img src="assets/img/attendance_notif.png" *ngIf="item.notifiable_type=='StudentAttendance'">
              <img src="assets/img/diary_notif.png" *ngIf="item.notifiable_type=='diary'">
              <img src="assets/img/event_notif.png" *ngIf="item.notifiable_type=='event'">
              <img src="assets/img/leave_notif.png" *ngIf="item.notifiable_type=='LeaveApplication'">
              <img src="assets/img/meeting_notif.png" *ngIf="item.notifiable_type=='ParentTeacherMeeting'">
              <img src="assets/img/meeting_notif.png" *ngIf="item.notifiable_type=='ParentTeacherMeetingComment'">
              <img src="assets/img/notice_notif.png" *ngIf="item.notifiable_type=='SectionNotice'">
              <img src="assets/img/payment_notif.png" *ngIf="item.notifiable_type=='payment'">
              <img src="assets/img/survey_notif.png" *ngIf="item.notifiable_type=='survey'">
              <img src="assets/img/timetable_notif.png" *ngIf="item.notifiable_type=='timetable'">
              <img src="assets/img/tracking_notif.png" *ngIf="item.notifiable_type=='tracking'">
              <img src="assets/img/academic_notif.png" *ngIf="item.notifiable_type=='academic'">
             </ion-col>
             <ion-col style="padding-top: 5%;">
              <ion-label><b>{{item.notifiable_type}}</b></ion-label>
              <h6>{{item.body}}</h6>
            </ion-col>
           </ion-row>
       </ion-grid>
      </div>
     </ng-template>
      <ng-template #elseBlock>
      <div *ngIf="(i+1)%3==0; then thenBl else elseBl"></div>

      <ng-template #thenBl >
        <ion-label style="padding-left: 3%;"><b>{{item.created_at | date: 'dd-MMM-yyyy'}}</b></ion-label>
        <div [ngStyle]="{'background-image':'url(' + notification_item4 + ')'}"
      class="backgroundimg">
       <ion-grid>
           <ion-row>
             <ion-col col-3>
              <img src="assets/img/album_notif.png" *ngIf="item.notifiable_type=='Album'">
              <img src="assets/img/attendance_notif.png" *ngIf="item.notifiable_type=='StudentAttendance'">
              <img src="assets/img/diary_notif.png" *ngIf="item.notifiable_type=='diary'">
              <img src="assets/img/event_notif.png" *ngIf="item.notifiable_type=='event'">
              <img src="assets/img/leave_notif.png" *ngIf="item.notifiable_type=='LeaveApplication'">
              <img src="assets/img/meeting_notif.png" *ngIf="item.notifiable_type=='ParentTeacherMeeting'">
              <img src="assets/img/meeting_notif.png" *ngIf="item.notifiable_type=='ParentTeacherMeetingComment'">
              <img src="assets/img/notice_notif.png" *ngIf="item.notifiable_type=='SectionNotice'">
              <img src="assets/img/payment_notif.png" *ngIf="item.notifiable_type=='payment'">
              <img src="assets/img/survey_notif.png" *ngIf="item.notifiable_type=='survey'">
              <img src="assets/img/timetable_notif.png" *ngIf="item.notifiable_type=='timetable'">
              <img src="assets/img/tracking_notif.png" *ngIf="item.notifiable_type=='tracking'">
              <img src="assets/img/academic_notif.png" *ngIf="item.notifiable_type=='academic'">             </ion-col>
             <ion-col style="padding-top: 5%;">
              <ion-label><b>{{item.notifiable_type}}</b></ion-label>
              <h6>{{item.body}}</h6>
            </ion-col>
           </ion-row>
       </ion-grid>
      </div>
      </ng-template>

      <ng-template #elseBl>

        <div *ngIf="(i+1)%2==0; then then2 else else2"></div>

      <ng-template #then2>
        <ion-label style="padding-left: 3%;"><b>{{item.created_at | date: 'dd-MMM-yyyy'}}</b></ion-label>
        <div [ngStyle]="{'background-image':'url(' + notification_item3 + ')'}"
      class="backgroundimg">
       <ion-grid>
           <ion-row>
             <ion-col col-3>
              <img src="assets/img/album_notif.png" *ngIf="item.notifiable_type=='Album'">
              <img src="assets/img/attendance_notif.png" *ngIf="item.notifiable_type=='StudentAttendance'">
              <img src="assets/img/diary_notif.png" *ngIf="item.notifiable_type=='diary'">
              <img src="assets/img/event_notif.png" *ngIf="item.notifiable_type=='event'">
              <img src="assets/img/leave_notif.png" *ngIf="item.notifiable_type=='LeaveApplication'">
              <img src="assets/img/meeting_notif.png" *ngIf="item.notifiable_type=='ParentTeacherMeeting'">
              <img src="assets/img/meeting_notif.png" *ngIf="item.notifiable_type=='ParentTeacherMeetingComment'">
              <img src="assets/img/notice_notif.png" *ngIf="item.notifiable_type=='SectionNotice'">
              <img src="assets/img/payment_notif.png" *ngIf="item.notifiable_type=='payment'">
              <img src="assets/img/survey_notif.png" *ngIf="item.notifiable_type=='survey'">
              <img src="assets/img/timetable_notif.png" *ngIf="item.notifiable_type=='timetable'">
              <img src="assets/img/tracking_notif.png" *ngIf="item.notifiable_type=='tracking'">
              <img src="assets/img/academic_notif.png" *ngIf="item.notifiable_type=='academic'">             </ion-col>
             <ion-col style="padding-top: 5%;">
              <ion-label><b>{{item.notifiable_type}}</b></ion-label>
              <h6>{{item.body}}</h6>
            </ion-col>
           </ion-row>
       </ion-grid>
      </div>
         </ng-template>

      <ng-template #else2>
        <ion-label style="padding-left: 3%;"><b>{{item.created_at | date: 'dd-MMM-yyyy'}}</b></ion-label>
        <div [ngStyle]="{'background-image':'url(' + notification_item1 + ')'}"
      class="backgroundimg">
       <ion-grid>
           <ion-row>
             <ion-col col-3>
              <img src="assets/img/album_notif.png" *ngIf="item.notifiable_type=='Album'">
              <img src="assets/img/attendance_notif.png" *ngIf="item.notifiable_type=='StudentAttendance'">
              <img src="assets/img/diary_notif.png" *ngIf="item.notifiable_type=='diary'">
              <img src="assets/img/event_notif.png" *ngIf="item.notifiable_type=='event'">
              <img src="assets/img/leave_notif.png" *ngIf="item.notifiable_type=='LeaveApplication'">
              <img src="assets/img/meeting_notif.png" *ngIf="item.notifiable_type=='ParentTeacherMeeting'">
              <img src="assets/img/meeting_notif.png" *ngIf="item.notifiable_type=='ParentTeacherMeetingComment'">
              <img src="assets/img/notice_notif.png" *ngIf="item.notifiable_type=='SectionNotice'">
              <img src="assets/img/payment_notif.png" *ngIf="item.notifiable_type=='payment'">
              <img src="assets/img/survey_notif.png" *ngIf="item.notifiable_type=='survey'">
              <img src="assets/img/timetable_notif.png" *ngIf="item.notifiable_type=='timetable'">
              <img src="assets/img/tracking_notif.png" *ngIf="item.notifiable_type=='tracking'">
              <img src="assets/img/academic_notif.png" *ngIf="item.notifiable_type=='academic'">             </ion-col>
             <ion-col style="padding-top: 5%;">
              <ion-label><b>{{item.notifiable_type}}</b></ion-label>
              <h6>{{item.body}}</h6>
            </ion-col>
           </ion-row>
       </ion-grid>
      </div>
      </ng-template>
      </ng-template>

      </ng-template>
    </div>

    <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
      <ion-infinite-scroll-content></ion-infinite-scroll-content>
    </ion-infinite-scroll>

    <!-- when no item in Cart's array -->
  <div class="noItems" *ngIf="notifications.length==0">
    <ion-icon name="ios-notifications-off-outline"></ion-icon>
    <p>Empty Notifications</p>
  </div>
</ion-content>
