<ion-header no-border>

  <ion-toolbar>
    <ion-buttons slot="start" style="margin-top: -3%;">
      <ion-button (click)="previouspage()">
        <ion-img src="assets/img/backicon.png"></ion-img>
      </ion-button>
    </ion-buttons>
    <ion-title style="margin-top:-4%;text-align: center;font-size: small;"><b>RESOURCES</b></ion-title>
  </ion-toolbar>

</ion-header>


<ion-content padding style="--ion-background-color: #efeff0;">
  <ion-card style="border-radius: 15px;background-color: #fff;" padding>

    <div class="appForm"  margin-bottom>

      <ion-list style="background-color: #fff;" >

  <div style="text-align: left; font-size: 11pt; margin-left: 3%; margin-bottom: 3%;color:#000;">Enter Name</div>
    <div class="backgroundimg2">
     <ion-input type="email" class="place" style="margin-left: 15%;" placeholder="Enter Name..." [(ngModel)]="description" name="description"></ion-input>
   </div>

   <div style="text-align: left; font-size: 11pt; margin-left: 3%; margin-bottom: 3%;margin-top: 5%;color:#000;">Upload a File</div>
   <ion-button (click)="takeDocuments()" expand="block" shape="round" color="color2" style="margin-top: 3%;background-color: #f9a825;border-radius:25px;">
    <ion-label>Attach File</ion-label>
  </ion-button>
   <!-- <ion-item *ngIf="!documentToUpload" (click)="presentActionSheetForDocuments()" style="background-image:url(assets/img/roundedRectangle.png); background-size:contain; background-repeat: no-repeat;">
  </ion-item> -->

  <ion-grid no-padding style="margin-top: 5%;" *ngIf="documentToUpload">
    <ion-row>
      <ion-col size="4">
        <img src="assets/img/attach.png" style="width:30%;height:auto;margin-left: 25%;">
  </ion-col>
  <ion-col size="3" style="margin-left: -10%;margin-top: 3%;">
      <ion-label style="font-size: small; color:#000;">
        Document
      </ion-label>
    </ion-col>
      <ion-col size="5" >
        <ion-label style="color:#000;font-size:small;" text-wrap>{{documentToUpload}}</ion-label>
        </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid style="margin-top: 1%;" no-padding>
    <ion-row >
      <ion-col size="6">
        <ion-button shape="round" size="block" color="uiColor" 
        style="border-radius:25px;background-color: #efeff0;">
          <ion-label style="font-size: 9pt;color:#000;" *ngIf="!courseid">CLASS</ion-label>
          <ion-select style="max-width: 100% !important;color: #000;" [(ngModel)]="courseid" (ionChange)="sendCourse(courseid)">
            <ion-select-option *ngFor="let course of classdata" [value]="course.school_class_id">
              {{course.class_name}}
             </ion-select-option>
          </ion-select>
        </ion-button>
      </ion-col>
      <ion-col size="6">
        <ion-button shape="round" size="block" color="uiColor" 
        style="border-radius:25px;background-color: #efeff0;">
          <ion-label style="font-size: 9pt;color:#000;" *ngIf="!sectionid">SECTION</ion-label>
          <ion-select style="max-width: 100% !important;color: #000;" [(ngModel)]="sectionid" (ionChange)="getCourse(sectionid)">
            <ion-select-option *ngFor="let section of sectionsfromapi" [value]="section.id">
              {{section.section.section_name}}
             </ion-select-option>
          </ion-select>
          </ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12">
        <ion-button shape="round" size="block" color="uiColor" 
        style="border-radius:25px;background-color: #efeff0;" >
          <ion-label style="font-size: 9pt;color:#000;" *ngIf="!courseidtosend">COURSE</ion-label>
          <ion-select [(ngModel)]="courseidtosend" style="max-width: 100% !important;color: #000;">
            <ion-select-option *ngFor="let course of course" [value]="course.id">
              {{course.course.course_name}}
             </ion-select-option>
          </ion-select>
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>

  </ion-list>
</div>


</ion-card>

<ion-grid style="padding-top: 10%;">
  <ion-row>

    <ion-col size="6" >
       <ion-button expand="block" shape="round" color="color1" (click)="cancel()" style="background-color:#454545;border-radius: 25px;">
        CANCEL
      </ion-button>
    </ion-col>
    <ion-col size="6">
      <ion-button expand="block" shape="round" color="color2"
      (click)="uploadDocumentResource()" style="background-color:#f9a825;border-radius: 25px;">
        UPLOAD
      </ion-button>
    </ion-col>
  </ion-row>
</ion-grid>





</ion-content>
