<ion-header no-border>
  <ion-toolbar>
    <ion-buttons slot="start" style="margin-top:-4%;">
      <ion-button (click)="previouspage()">
        <ion-img src="assets/img/backicon.png"></ion-img>
      </ion-button>
    </ion-buttons>
 <ion-title style="text-align:center;font-size:small;margin-top:-4%;"><b>SURVEY</b></ion-title>
 <ion-buttons slot="end" style="margin-top:-4%;">
  <ion-button navPush="NotificationsPage"  >
    <img src="assets/img/Group 19.png" style="width:70%;height:auto">
  </ion-button>
</ion-buttons>
</ion-toolbar>
</ion-header>

<ion-content padding style="--ion-background-color:#efeff0;">
  <ion-card *ngFor="let questions of surveyquestionsshow;let i=index"
  style="margin-top: 2%;border-radius: 15px;background-color:#fff;">
    <ion-grid style="margin-top: 5%;" padding>
     <ion-row >
       <ion-col>
        <ion-label text-wrap style="color:#000;font-size: 13pt;padding-left: 5%;" >
          {{questions.question}}
        </ion-label>
      </ion-col>
     </ion-row>
     <ion-row style="margin-bottom:3%;margin-top: 2%;">
         <ion-col id="{{'col1-' + i}}" (click)="setanswer(i,1)">
            <img src="assets/img/extremelyunsatisfied.png" style="padding-bottom: 10%;width:100%;height:auto">
         </ion-col>
         <ion-col id="{{'col2-' + i}}"  (click)="setanswer(i,2)">
          <img src="assets/img/unsatisfied.png" style="width:100%;height:auto;padding-bottom: 10%;">
         </ion-col>
          <ion-col id="{{'col3-' + i}}" style="padding-left: 4%;" (click)="setanswer(i,3)">
            <img src="assets/img/neutral.png" style="width:68%;height:auto;padding-bottom: 10%;">
        </ion-col>
        <ion-col id="{{'col4-' + i}}"  (click)="setanswer(i,4)">
          <img src="assets/img/satisfied.png" style="width:80%;height:auto;padding-bottom: 10%;">
      </ion-col>
      <ion-col id="{{'col5-' + i}}"  (click)="setanswer(i,5)">
        <img src="assets/img/extremelysatisfied.png" style="width:90%;height:auto;padding-bottom: 10%;">
    </ion-col>

     </ion-row>
   </ion-grid>
   </ion-card>

</ion-content>
<ion-footer style="background-color: #efeff0;text-align:center;" no-border>
  <ion-button shape="round" size="small" color="light" style="border-radius: 25px; font-weight: bold;" (click)="postAnswer()">
   Submit Survey
  </ion-button>
</ion-footer>
