<ion-header no-border>
  <ion-toolbar>
    <ion-buttons slot="start" style="margin-top: -3%;">
      <ion-button (click)="previouspage()">
        <ion-img src="assets/img/backicon.png"></ion-img>
      </ion-button>
    </ion-buttons>
    <ion-title style="font-size: small;text-align: center;margin-top:-4%;"><b>Detail</b></ion-title>
    <ion-buttons slot="end" style="margin-top: -3%;">
      <ion-button (click)="editTrue()">
        <img src="assets/img/albumcreate.png" style="width:70%;height:auto">
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding style="--ion-background-color:#efeff0;">
  <ion-grid>
    <ion-row>
      <ion-col size="6"  *ngFor="let img of images.images;let i=index">
        <ion-checkbox color="color2" *ngIf="edit==true" checked="false"
        (ionChange)="selectPhoto($event,img.id)" class="input" color="warning"
        style="position: absolute;padding-top: 10%;padding-left: 50%;height:15%;width:60%;color:#f9a825;border-radius: 25px;"></ion-checkbox>
        <img src="{{img.image_url}}" (click)="openFull(i)" style="width: 100%;height:100%;">
    </ion-col >
    </ion-row>
  </ion-grid>

</ion-content>
<ion-footer *ngIf="edit==true" no-border>
  <ion-grid>
    <ion-row>
      <ion-col size="6">
        <ion-button expand="block" shape="round" color="color1" (click)="deletePhoto()" [disabled]="disabled()" style="border-radius:25px;background-color: #454545;">
          Delete Pictures
        </ion-button>
    </ion-col>
      <ion-col size="6">
        <ion-button expand="block" shape="round" color="color2" (click)="editAlbum()" style="border-radius:25px;background-color: #f9a825;">
          Add more pictures
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-footer>
