<ion-header no-border>
  <ion-toolbar>
    <ion-buttons slot="start" style="margin-top: -3%;">
      <ion-button (click)="previouspage()">
        <ion-img src="assets/img/backicon.png"></ion-img>
      </ion-button>
    </ion-buttons>
    <ion-title style="padding-left: 40%;font-size:small;margin-top:-4%;"><b>DETAILS</b></ion-title>
  </ion-toolbar>
</ion-header>
<ion-content style="--ion-background-color:#efeff0;" padding>

  <div class="details_img"  [ngStyle]="{'background-image':'url(' + events.image + ')'}"
  style="margin-top: 20%;border-radius: 20px;">
  </div>
  <div style="background-color: #fff;border-radius: 25px;height: 60%;margin-top:5%;">
    <ion-grid>
      <ion-row>
        <ion-col size="2">
          <img src="assets/img/EventName.png">
        </ion-col>
        <ion-col  >
          <h6 style="font-size: 10pt;">{{events.eventname}}</h6>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="2">
          <img src="assets/img/Event Date.png">
        </ion-col>
        <ion-col >
          <h6 style="font-size: 10pt;">{{events.eventdate}}</h6>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="2">
            <img src="assets/img/Event location.png">
          </ion-col>
        <ion-col >
          <h6 style="font-size: 10pt;">{{events.location}}</h6>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
         <h4 style="font-size: 15pt;">About Event</h4>
        </ion-col>
      </ion-row>
      <ion-row >
        <ion-col>
         <h6 style="font-size: 10pt;">{{events.description}}</h6>
        </ion-col>
      </ion-row>
     </ion-grid>

  </div>


</ion-content>
