<ion-header no-border>
  <ion-toolbar>
    <ion-buttons slot="start" style="margin-top: -4%;">
      <ion-button (click)="previouspage()">
        <ion-img src="assets/img/backicon.png"></ion-img>
      </ion-button>
    </ion-buttons>
    <ion-title style="margin-left:30%;font-size:small;margin-top: -4%;"><b>MEETING</b></ion-title>
    <!-- <ion-buttons end>
      <button ion-button navPush="NotificationsPage" class="notification_Btn" >
        <ion-icon name="ios-notifications"></ion-icon>
        <ion-badge color="danger">2</ion-badge>
      </button>
    </ion-buttons> -->
  </ion-toolbar>
</ion-header>


<ion-content padding style="--ion-background-color: #efeff0;">

  <ion-card style="border-radius: 15px;background-color: #fff;" padding *ngIf="globalVar.current_user.role=='parent'">

    <div class="appForm"  margin-bottom>

      <ion-list style="background-color: #fff;">

        <div style="text-align: left; font-size: 11pt; margin-left: 3%; margin-bottom: 3%;margin-top:5%">Enter Subject for Appointment Request</div>
        <div class="backgroundimg2">
         <ion-input type="email" class="place" style="margin-left: 15%;" placeholder="Enter Subject" [(ngModel)]="subject" name="subject"></ion-input>
    </div>

    <div style="text-align: left; font-size: 11pt; margin-left: 3%; margin-bottom: 3%;margin-top:5%">Enter Description</div>
    <div class="backgroundimg2">
     <ion-input type="email" class="place" style="margin-left: 15%;" placeholder="Enter Subject" [(ngModel)]="description" name="description"></ion-input>
</div>

        </ion-list>
        </div>
        </ion-card>


    <ion-grid style="margin-top: 10%;" *ngIf="globalVar.current_user.role=='parent'">
      <ion-row>

        <ion-col size="6" >
           <ion-button expand="block" shape="round" color="color1" (click)="cancel()" style="background-color:#454545;border-radius: 25px;">
            Cancel
          </ion-button>
        </ion-col>
        <ion-col size="6">
          <ion-button expand="block" shape="round" color="color2" [disabled]="disabled()" (click)="upload()" style="background-color:#f9a825;border-radius: 25px;">
            Request
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>


</ion-content>
