<ion-header no-border>
  <ion-toolbar >
    <ion-buttons slot="start" style="margin-top: -3%;">
      <ion-menu-button>
        <img src="assets/img/icon-Menu copy.png" style="width:50%;height:auto">
      </ion-menu-button>
    </ion-buttons>    <!-- <ion-buttons slot="start" menuToggle icon-only>
      <img src="assets/img/icon-Menu copy.png" style="width:50%;height:auto">
    </ion-buttons> -->
    <ion-title style="text-align:center;font-size:small;margin-top: -4%;"><b>MEETING</b></ion-title>
    <ion-buttons slot="end" style="width:20%;height:auto;margin-top: -3%;">
      <ion-item  >
        <ion-button>
        <img src="assets/img/calender icon.png" style="width:80%;height:auto">
        <ion-select [(ngModel)]="filtermonthwise" (ionChange)="loadResource(filtermonthwise)">
          <ion-select-option value=1>January </ion-select-option>
          <ion-select-option value=2>February </ion-select-option>
          <ion-select-option value=3>March </ion-select-option>
          <ion-select-option value=4>April </ion-select-option>
          <ion-select-option value=5>May </ion-select-option>
          <ion-select-option value=6>June </ion-select-option>
          <ion-select-option value=7>July </ion-select-option>
          <ion-select-option value=8>August </ion-select-option>
          <ion-select-option value=9>September </ion-select-option>
          <ion-select-option value=10>October </ion-select-option>
          <ion-select-option value=11>November </ion-select-option>
          <ion-select-option value=12>December </ion-select-option>
        </ion-select>
      </ion-button>

      </ion-item>
    </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content style="--ion-background-color: #efeff0;" padding>

  <!-- <ion-button expand="block" shape="round" color="color2" style="border-radius:15px;background-color:#f9a825;margin-top: 5%;">DATE: {{today | date:'dd MMM'}}</ion-button> -->
  <ion-card style="background-color:#fff;border-radius: 20px;margin-top: 7%;" *ngFor="let ptm of sortData; let i=index" (click)="showModal(i)">
    <ion-grid>
      <div [ngStyle]="{'background-image':'url(' + subjectCover + ')'}"  class="imgBg"
      style="margin-top: 5%;background-repeat: no-repeat;">
      <ion-row>
        <ion-col size="2">
          <img src="assets/img/meetingwithteacher.png" style="padding-top:12%">
        </ion-col>
        <ion-col size="9">
          <h6 style="font-size: 16pt;color:#fff;"><b>{{ptm.subject | titlecase}}</b></h6>
        </ion-col>
      </ion-row>
    </div>
    <ion-row style="margin-top:-5%;">
      <ion-col size="6">
        <h6 style="color: #666666;font-size: 12px;font-weight: bold;">Student Name </h6>
        <h6 style="color:#454545;font-size: 13pt;margin-top: -4%;"><b>{{ptm.studentname |titlecase}}</b></h6>
       </ion-col >

       <ion-col size="3">
        <h6 style="color: #666666;font-size: 12px;text-align: center;font-weight: bold;">Date</h6>
        <h6 *ngIf="ptm.appointmentdate=='NA'" style="margin-top: -3%;
        text-align:center;background-color: #454545;border-radius: 25px;font-size: 9pt;color:#fff;font-weight: bold;">{{ptm.appointmentdate}}</h6>
        <h6 *ngIf="ptm.appointmentdate!='NA'" style="font-weight:bold;text-align:center;background-color: #454545;border-radius: 25px;font-size: 9pt;color:#fff;margin-top: -3%;">
          {{ptm.appointmentdate | date: 'dd-MMM'}}</h6>
      </ion-col>

      <ion-col size="3" style="margin-bottom: 5%;">
         <h6 style="color: #666666;font-size: 12px;text-align: center;">Time</h6>
        <h6 style="text-align:center;background-color: #454545;border-radius: 25px;font-size: 9pt;color:#fff;margin-top: -3%;font-weight: bold;">
          {{ptm.appointmenttime}}</h6>
      </ion-col>
    </ion-row>

    <div style="border-bottom: 1px solid #454545;margin-top:-5%;"></div>

    <ion-row style="margin-top: 3%;">
      <ion-col>
       <ion-label style="color:#454545;font-weight: bold;">
         Description
       </ion-label>
       <h6 style="font-size: 11pt;background-color: #454545;
       border-radius: 25px;padding-left: 5%;color:#fff;
       padding-bottom:5%;padding-top:5%;padding-right: 5%;">
       {{ptm.description}}
       </h6>

      </ion-col>
    </ion-row>

</ion-grid>
</ion-card>

<!-- <ion-button  color="light" style="padding-left:40%;background-color:#fff;border-radius: 25px;" (click)="newMeeting()">
  Request Appointment
</ion-button> -->
</ion-content>
<ion-footer style="background-color: #efeff0;text-align:center;" no-border>
  <ion-button shape="round" size="small" color="light" style="margin-bottom:3%;color:#000;border-radius: 25px;font-weight:bold;" (click)="newMeeting()">
    Request Appointment
   </ion-button>       
</ion-footer>
