.header{
    .navbar{
      .navbar-background{
          background-color:transparent;
      }
  }
}
   .backgroundimg
  {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
    // .grid{
    //     padding:8px/2;
    //     .col{
    //         padding:8px/2;
    //         .mark_btn{
    //             width:--ion-height;
    //             border-radius:3px;
    //             background:color($colors,----ion-color-light);
    //             ion-icon{
    //                 color: color($colors,color1);
    //                 font-size:2.2rem;
    //             }
    //         }
    //     }
    // }
    .map_cover{
      //  padding:0px 8px 8px ;
//        height:calc(90% - ( #{--ion-height} + 2*#{8px}) );
        .map{
            height:97%;
        }
    }
    #map {
      width: 100%;
      height: 80%;
    }
