

<ion-header>
  <ion-toolbar  >
    <ion-buttons slot="start">
      <ion-menu-button>
        <img src="assets/img/icon-Menu copy.png" style="width:50%;height:auto">
      </ion-menu-button>
    </ion-buttons>  
    <ion-title style="text-align: center;font-weight: bold;color:#454545;"><h6>Tracking</h6></ion-title>
    <ion-buttons slot="end">
      <ion-button navPush="NotificationsPage"  >
        <img src="assets/img/Group 19.png" style="width:70%;height:auto">
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content padding style="--ion-background-color:#efeff0;">

  <!-- <div class="map_cover"> -->
     <div class="map" #map id="map"> </div>
  <!-- </div> -->

  <div style="background-color: #fff;border-radius: 5%;margin-bottom: 5%;padding-bottom: 10%;">
    <ion-grid no-padding style="padding-top: 10%;">
      <ion-row>
        <ion-col size="1"></ion-col>
        <ion-col size="2">
            <img src="assets/img/Pic card.png">
      </ion-col>
      <ion-col size="4" style="padding-left: 5%;">
        <ion-label style="font-size: 11pt;color:#454545;padding-top: 5%;">Driver</ion-label>
        <ion-label style="font-size: 11pt;color:#454545"><b>{{driver_name}}</b></ion-label>
      </ion-col>
        <ion-col size="4" style="padding-left: 10%;">
          <img src="assets/img/Driver Phone.png" (click)="callDriver()">
        </ion-col>
      </ion-row>
      <div style="border-bottom: 1px solid grey;width:90%;margin-left: 20px"></div>
      <ion-row>
        <ion-col size="1"></ion-col>
        <ion-col size="2">
            <img src="assets/img/car-1.png">
      </ion-col>
      <ion-col size="4" style="padding-left: 5%;">
        <ion-label style="font-size: 11pt;color:#454545;padding-top: 10%;">Suzuki</ion-label>
        <ion-label style="font-size: 11pt;color:#454545"><b>{{van_registration_number}}</b></ion-label>
      </ion-col>
        <ion-col size="4" style="padding-left: 10%;">
          <ion-label style="font-size: 11pt;color:#454545;padding-top: 10%;">Van Color</ion-label>
          <ion-label style="font-size: 11pt;color:#454545;"><b>{{van_color}}</b></ion-label>
        </ion-col>
      </ion-row>
      <div [ngStyle]="{'background-image':'url(' + item + ')'}" class="imgBg"
      style="width: 92%;height: auto;margin-left: 15px;">

        <ion-row>
          <ion-col size="3">
              <img src="assets/img/Picture student.png">
        </ion-col>
        <ion-col size="7">
          <ion-label style="font-size: 11pt;color:#fff;">Student</ion-label>
          <ion-label style="font-size: 11pt;color:#fff"><b>{{globalVar.student.first_name+' '+globalVar.student.last_name}}</b></ion-label>
        </ion-col>
      </ion-row>
      <ion-item style="border-bottom: 1px solid #fff;width:90%;margin-left: 20px"></ion-item>
      <ion-row style="padding-top: 5%;">
        <ion-col size="1"></ion-col>
        <ion-col size="6">
          <ion-label style="color:#fff">Pickup Time</ion-label>
          <ion-label style="color:#fff" id="fleet_distance"></ion-label>
      </ion-col>
      </ion-row>
    </div>

    </ion-grid>

  </div>

</ion-content >
