.backgroundimg
{
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
// ion-slides{
//   width:100%;
//   max-width: 100% !important;
// }
ion-slide >:first-child {
  width: 100%;
  }
