<ion-header no-border>
  <ion-toolbar>
    <ion-buttons slot="start" style="margin-top: -4%;">
      <ion-menu-button>
        <img src="assets/img/icon-Menu copy.png" style="width:50%;height:auto">
      </ion-menu-button>
    </ion-buttons>  
    <ion-title style="margin-left:30%;font-size: small;margin-top:-4%"><b>TIME TABLE</b></ion-title>
    <ion-buttons slot="end" style="margin-top: -4%;">
      <ion-button  navPush="NotificationsPage" class="notification_Btn" >
        <img src="assets/img/Group 19.png" style="width:50%;height:auto">
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding style="--ion-background-color:#efeff0;">
   <ion-slides #slides1>
        <ion-slide *ngFor="let timetable of timetableshow;let i=index">
          <ion-card style="border-radius: 15px;background-color: #fff;" no-padding>
            <div *ngFor="let t of timetable;let j=index">
            <ion-button size="block" shape="round" color="color2"  style="background-color: #f9a825;border-radius: 25px;" *ngIf="t.day==0 && j==0">Monday</ion-button>
            <ion-button size="block" shape="round" color="color2"  style="background-color: #f9a825;border-radius: 25px;"  *ngIf="t.day==1 && j==0">Tuesday</ion-button>
            <ion-button size="block" shape="round" color="color2"  style="background-color: #f9a825;border-radius: 25px;" *ngIf="t.day==2 && j==0">Wednesday</ion-button>
            <ion-button size="block" shape="round" color="color2"  style="background-color: #f9a825;border-radius: 25px;"  *ngIf="t.day==3 && j==0">Thursday</ion-button>
            <ion-button size="block" shape="round" color="color2"  style="background-color: #f9a825;border-radius: 25px;"  *ngIf="t.day==4 && j==0">Friday</ion-button>
            <ion-button size="block" shape="round" color="color2"  style="background-color: #f9a825;border-radius: 25px;"  *ngIf="t.day==5 && j==0">Saturday</ion-button>
            <ion-button size="block" shape="round" color="color2"  style="background-color: #f9a825;border-radius: 25px;"  *ngIf="t.day==6 && j==0">Sunday</ion-button>
              <ion-grid >
                <ion-row  style="margin-left: -3%;margin-top: -3%;" *ngIf="j==0">
                  <ion-col size="3" >
                    <div [ngStyle]="{'background-image':'url(' + starttiembg + ')'}"
                    class="backgroundimg" *ngIf="j==0;">
                    <h6 style="text-align:center;color:#fff;padding-top: 30%;">{{t.start_time | date:'hh:mm': '-0'}}</h6>
                    <h6 style="color:#fff;text-align:center;padding-bottom: 30%;">{{t.end_time | date:'hh:mm' : '-0'}}</h6>
                  </div>

                  <div [ngStyle]="{'background-image':'url(' + middletimebg + ')'}"
                  class="backgroundimg" *ngIf="j!=0 && !((j+1)==9)">
                  <h6 style="text-align:center;color:#fff;padding-top: 30%;">{{t.start_time | date:'hh:mm' : '-0'}}</h6>
                  <h6 style="color:#fff;text-align:center;padding-bottom: 30%;">{{t.end_time | date:'hh:mm' : '-0'}}</h6>
              </div>

                <div [ngStyle]="{'background-image':'url(' + endtimecardbg + ')'}"
                class="backgroundimg" *ngIf="j+1==9">
                <h6 style="text-align:center;color:#fff;padding-top: 30%;">{{t.start_time | date:'hh:mm' : '-0'}}</h6>
                <h6 style="color:#fff;text-align:center;padding-bottom: 30%;">{{t.end_time | date:'hh:mm' : '-0'}}</h6>
          </div>
            </ion-col>
                  <ion-col size="2" style="margin-top: 7%;">
                    <img src="assets/img/bar.png" style="width: 10%;">
                  </ion-col>
                  <ion-col size="7" style="margin-top:5%;margin-left: -13%;">
                    <h6 text-wrap style="font-size:12pt;color:#000;"><b>{{t.subject}}</b></h6 >
                      <h6 style="color:#000;" >{{t.class_name}}</h6>
                   </ion-col>
                  <!-- <ion-col col-2 style="margin-top:10%;">
                    <img src="assets/img/tag.png">
                  </ion-col> -->
                </ion-row>
                <ion-row  style="margin-left: -3%;margin-top: -15%;" *ngIf="j>0">
                  <ion-col size="3" >
                    <div [ngStyle]="{'background-image':'url(' + starttiembg + ')'}"
                    class="backgroundimg" *ngIf="j==0;">
                    <h6 style="text-align:center;color:#fff;padding-top: 30%;">{{t.start_time | date:'hh:mm': '-0'}}</h6>
                    <h6 style="color:#fff;text-align:center;padding-bottom: 30%;">{{t.end_time | date:'hh:mm' : '-0'}}</h6>
                  </div>

                  <div [ngStyle]="{'background-image':'url(' + middletimebg + ')'}"
                  class="backgroundimg" *ngIf="j!=0 && !((j+1)==9)">
                  <h6 style="text-align:center;color:#fff;padding-top: 30%;">{{t.start_time | date:'hh:mm' : '-0'}}</h6>
                  <h6 style="color:#fff;text-align:center;padding-bottom: 30%;">{{t.end_time | date:'hh:mm' : '-0'}}</h6>
              </div>

                <div [ngStyle]="{'background-image':'url(' + endtimecardbg + ')'}"
                class="backgroundimg" *ngIf="j+1==9">
                <h6 style="text-align:center;color:#fff;padding-top: 30%;">{{t.start_time | date:'hh:mm' : '-0'}}</h6>
                <h6 style="color:#fff;text-align:center;padding-bottom: 30%;">{{t.end_time | date:'hh:mm' : '-0'}}</h6>
          </div>
            </ion-col>
                  <ion-col size="2" style="margin-top: 7%;">
                    <img src="assets/img/bar.png" style="width: 10%;">
                  </ion-col>
                  <ion-col size="7" style="margin-top:5%;margin-left: -13%;">
                    <h6 text-wrap style="font-size:12pt;color:#000;"><b>{{t.subject}}</b></h6 >
                      <h6 style="color:#000;" >{{t.class_name}}</h6>
                   </ion-col>
                  <!-- <ion-col col-2 style="margin-top:10%;">
                    <img src="assets/img/tag.png">
                  </ion-col> -->
                </ion-row>
            </ion-grid>
        </div>
      </ion-card>
    </ion-slide>
    </ion-slides>
</ion-content>
