<ion-header no-border>
  <ion-toolbar >
    <ion-buttons slot="start" style="margin-top: -3%;">
      <ion-menu-button>
        <img src="assets/img/icon-Menu copy.png" style="width:50%;height:auto">
      </ion-menu-button>
    </ion-buttons>    <!-- <ion-buttons slot="start" menuToggle icon-only>
      <img src="assets/img/icon-Menu copy.png" style="width:50%;height:auto">
    </ion-buttons> -->
    <ion-title style="text-align:center;font-size:small;margin-top: -4%;"><b>LEAVE</b></ion-title>
    <ion-buttons slot="end" style="margin-top: -3%;">
      <ion-button (click)="openPage()"  >
        <img src="assets/img/Group 19.png" style="width:70%;height:auto;">
      </ion-button>
    </ion-buttons>
 </ion-toolbar>

</ion-header>

<ion-content padding style="--ion-background-color:#efeff0;">
  <ion-card *ngFor="let ptm of requestedleave; let i=index" style="background-color:#fff;border-radius: 25px;">
    <ion-grid *ngIf="ptm!=null">
      <ion-row >
        <ion-col >
           <img src="assets/img/status_dis.png" *ngIf="ptm.leave_status=='disapproved'" style="width: 100%;height: 100%;">
           <!-- <b style="color:#fff">Status: </b> <p class="capitalize">{{ptm.leave_status}}</p> -->

          <img src="assets/img/status_pen.png" *ngIf="ptm.leave_status=='pending'" style="width: 100%;height: 100%;">
          <!-- <b style="color:#fff">Status: </b> <p class="capitalize">{{ptm.leave_status}}</p> -->

          <img src="assets/img/status_app.png" *ngIf="ptm.leave_status=='approved'" style="width: 100%;height: 100%;">
          <!-- <b style="color:#fff">Status: </b>&nbsp; <p class="capitalize">{{ptm.leave_status}}</p> -->
        </ion-col>
        <!-- <ion-col *ngIf="ptm.image_url">
         <button ion-button block color="color1" (click)="imageShow(ptm.image_url)" style="border-radius: 25px;">
           <ion-label style="color:#fff">Attachement</ion-label>
         </button>
        </ion-col> -->
      </ion-row>
      <ion-row no-padding style="margin-top: -5%;">
           <ion-col size="6">
             <h6 style="font-size: 9pt;color: #666666;">Student Name </h6>
             <h6 style="font-size: 13pt;color:#000;margin-top: -5%;"><b>{{ptm.student.first_name+' '+ptm.student.last_name | titlecase}}</b></h6>
            </ion-col>

            <ion-col >
             <h6 style="font-size: 9pt;columns: #666666;">From Date</h6>
             <h6 *ngIf="ptm.leave_status=='approved'" style="padding-left:5%;padding-right:5%;margin-top: -5%;
             text-align:center; background-color: #0097dc;border-radius: 25px;font-size: 9pt;color:#fff">
              {{ptm.start_date | date: 'dd MMM'}}</h6>
              <h6 *ngIf="ptm.leave_status=='disapproved'" style="padding-left:5%;padding-right:5%;
              text-align:center;margin-top: -5%;
              background-color: #e91e63;border-radius: 25px;font-size: 9pt;color:#fff">
                {{ptm.start_date | date: 'dd MMM'}}</h6>
               <h6 *ngIf="ptm.leave_status=='pending'" style="margin-top: -5%;text-align:center;
               padding-left:5%;padding-right:5%;
               background-color: #f9a825;border-radius: 25px;font-size: 9pt;color:#fff">
                {{ptm.start_date | date: 'dd MMM'}}</h6>
            </ion-col>

           <ion-col>
              <h6  style="font-size: 9pt;color: #666666;">To Date</h6>
             <h6 *ngIf="ptm.leave_status=='approved'" style="text-align:center;font-size: 9pt;padding-left:5%;padding-right:5%;
             background-color: #0097dc;border-radius: 25px;color:#fff;margin-top: -5%;">
               {{ptm.end_date | date: 'dd MMM'}}</h6>
               <h6 *ngIf="ptm.leave_status=='disapproved'" style="text-align:center;font-size: 9pt;padding-left:5%;padding-right:5%;
               background-color: #e91e63;border-radius: 25px;color:#fff;margin-top: -5%;">
                {{ptm.end_date | date: 'dd MMM'}}</h6>
               <h6 *ngIf="ptm.leave_status=='pending'" style="text-align:center;font-size: 9pt;padding-left:5%;padding-right:5%;
               background-color: #f9a825;border-radius: 25px;color:#fff;margin-top: -5%;">
                {{ptm.end_date | date: 'dd MMM'}}</h6>
            </ion-col>
       </ion-row>
       <div style="border-bottom: 1px solid #454545;"></div>

       <ion-row *ngIf="ptm.subject!=null" >
        <ion-col>
          <h6 style="color: #666666;font-size: 9pt;">
            Subject &nbsp;
            <span *ngIf="ptm.leave_status=='approved'" style="padding-left:5%;padding-right:5%;
            font-size:9pt;padding-bottom: 2%;padding-top: 2%;
            background-color: #0097dc;border-radius: 25px;color:#fff">
            {{ptm.subject}}
            </span>
            <span *ngIf="ptm.leave_status=='disapproved'" style="font-size:9pt;padding-bottom: 2%;padding-top: 2%;background-color: #e91e63;
            border-radius: 25px;padding-left:5%;padding-right:5%;text-align:center;color:#fff">
            {{ptm.subject}}
            </span>
            <span *ngIf="ptm.leave_status=='pending'" style="font-size:9pt;padding-bottom: 2%;padding-top: 2%;background-color: #f9a825;
            border-radius: 25px;padding-left:5%;padding-right:5%;text-align:center;color:#fff">
            {{ptm.subject}}
            </span>
           </h6>

  </ion-col>
      </ion-row>

      <ion-row *ngIf="ptm.image_url" style="margin-top: -7%;">
        <ion-col (click)="imageShow(ptm.image_url)"  size="6">
            <h6 *ngIf="ptm.leave_status=='approved'" style="padding-left:5%;padding-right:5%;
            text-align:center;font-size:11pt;background-color: #0097dc;border-radius: 25px;color:#fff"
            >Open Attachment</h6>

            <h6 *ngIf="ptm.leave_status=='pending'" style="font-size: 11pt;background-color: #f9a825;
            border-radius: 25px;padding-left:5%;padding-right:5%;text-align:center;color:#fff"
            >Open Attachment</h6>

            <h6 *ngIf="ptm.leave_status=='disapproved'" style="font-size: 11pt;background-color: #e91e63;
            border-radius: 25px;padding-left:5%;padding-right:5%;text-align:center;color:#fff"
            >Open Attachment</h6>
        </ion-col>
      </ion-row>

      <ion-row style="margin-top: -7%;">
        <ion-col>
         <h6 style="color: #666666;font-size: 9pt;">
           Description
         </h6>
         <h6 *ngIf="ptm.leave_status=='pending'" style="font-size: 11pt;background-color: #f9a825;
         border-radius: 25px;padding-left: 5%;color:#fff;margin-bottom: -1%;padding-top: 5%;padding-bottom: 5%;
         margin-top: -2%;padding-right: 5%;">
         {{ptm.leave_reason}}
       </h6>
         <h6 *ngIf="ptm.leave_status=='approved'" style="font-size: 11pt;background-color: #0097dc;
         padding-top: 5%;padding-bottom: 5%;border-radius: 25px;padding-left: 5%;color:#fff;margin-bottom: -1%;margin-top: -2%;padding-right: 5%;">
         {{ptm.leave_reason}}
         </h6>
         <h6 *ngIf="ptm.leave_status=='disapproved'" style="font-size: 11pt;background-color: #e91e63;
         border-radius: 25px;padding-left: 5%;padding-top: 5%;padding-bottom: 5%;color:#fff;margin-bottom: -1%;margin-top: -2%;padding-right: 5%;">
         {{ptm.leave_reason}}
         </h6>

    </ion-col>
      </ion-row>

    </ion-grid>

    <ion-grid *ngIf="ptm.leave_status=='pending'" style="margin-top: -5%;">
      <ion-row >
        <ion-col>
          <ion-button shape="round" expand="block" style="border-radius: 30px;background-color: #454545;" color="color1" (click)="changestatus(3,i)" >
            <ion-label >REJECT</ion-label>
          </ion-button>
          <!-- <ion-item>
           <ion-label>Reject</ion-label>
            <ion-radio (click)="changestatus(3,i)" color="danger"></ion-radio>
          </ion-item> -->
        </ion-col>
        <ion-col>
          <ion-button shape="round" expand="block" style="border-radius: 30px;background-color: #f9a825;" color="warning" (click)="changestatus(2,i)" >
            <ion-label >ACCEPT</ion-label>
          </ion-button>
        <!-- <ion-item>
           <ion-label >Accept</ion-label>
            <ion-radio (click)="changestatus(2,i)" color="primary"></ion-radio>
          </ion-item> -->
        </ion-col>
      </ion-row>
    </ion-grid>

   </ion-card>

</ion-content>
