<ion-header no-border>

  <ion-toolbar>
    <ion-buttons slot="start" style="margin-top:-4%;">
      <ion-menu-button>
        <img src="assets/img/icon-Menu copy.png" style="width:50%;height:auto">
      </ion-menu-button>
    </ion-buttons>  

    <ion-title style="margin-left:30%;font-size: small;margin-top:-4%;"><b>RESOURCE</b></ion-title>
    <ion-buttons slot="end" style="width:20%;margin-left:5%;height:auto;margin-top:-4%;">
      <ion-item >
        <img src="assets/img/calender icon.png" style="width:50%;height:auto">
        <ion-select [(ngModel)]="filtermonthwise" (ionChange)="loadResource(filtermonthwise,subject)">
          <ion-select-option value=01>January </ion-select-option>
          <ion-select-option value=02>February </ion-select-option>
          <ion-select-option value=03>March </ion-select-option>
          <ion-select-option value=04>April </ion-select-option>
          <ion-select-option value=05>May </ion-select-option>
          <ion-select-option value=06>June </ion-select-option>
          <ion-select-option value=07>July </ion-select-option>
          <ion-select-option value=08>August </ion-select-option>
          <ion-select-option value=09>September </ion-select-option>
          <ion-select-option value=10>October </ion-select-option>
          <ion-select-option value=11>November </ion-select-option>
          <ion-select-option value=12>December </ion-select-option>
        </ion-select>

      </ion-item>
    </ion-buttons>
  </ion-toolbar>

</ion-header>


<ion-content padding style="--ion-background-color:#efeff0;">
  <ion-grid>
    <ion-row>
      <ion-col size="6" *ngFor="let resource of resourcedata;let i=index">
    <div *ngIf="(i+1)%3==0; then thenBlock else elseBlock"></div>
          <ng-template #thenBlock>
            <div [ngStyle]="{'background-image':'url(' + bg1image + ')'}" class="imgBg" style="height:100%;">
              <div style="padding-top: 20%;padding-left:10%;"></div>
              <h6  style="border-radius:20px;font-size: 9pt;
              opacity: 0.5;width:90%;font-size: 9pt;text-align: center;background-color: #efeff0;padding-top: 3%;padding-bottom: 3%;">
                  {{resource.description}}
              </h6>
              <h6 text-wrap style="color:#fff;padding-left: 5%;padding-bottom: 10%;font-size: 9pt;">
                {{resource.created_at | date: 'dd-MMM'}}</h6>
                <img src="assets/img/downloadbutton.png"
                (click)="downloadAndOpenPdf(resource.resource_url)" style="padding-left:
                45%;padding-bottom: 10px;width:60%;height:auto;">

          </div>
          </ng-template>
          <ng-template #elseBlock>
            <div *ngIf="(i+1)%2==0; then thBlock else elBlock"></div>
          </ng-template>
          <ng-template #thBlock>
            <div [ngStyle]="{'background-image':'url(' + bg2image + ')'}" class="imgBg" style="height:100%;">
              <div style="padding-top: 20%;padding-left:10%;"></div>
              <h6  style="border-radius:20px;font-size: 9pt;
              opacity: 0.5;width:90%;font-size: 11pt;text-align: center;background-color: #efeff0;padding-top: 3%;padding-bottom: 3%;">
                  {{resource.description}}
              </h6>
              <h6 text-wrap style="color:#fff;padding-left: 5%;padding-bottom: 10%;font-size: 9pt;">
                {{resource.created_at | date: 'dd-MMM'}}</h6>
                <img src="assets/img/downloadbutton.png"
                (click)="downloadAndOpenPdf(resource.resource_url)" style="padding-left:
                45%;padding-bottom: 10px;width:60%;height:auto;">
                </div>
        </ng-template>
          <ng-template #elBlock>
            <div [ngStyle]="{'background-image':'url(' + bg3image + ')'}" class="imgBg" style="height:100%;">
              <div style="padding-top: 20%;padding-left:10%;"></div>
              <h6 style="border-radius:20px;font-size: 9pt;
              opacity: 0.5;width:90%;background-color: #efeff0;text-align: center;padding-top: 3%;padding-bottom: 3%;">
                  {{resource.description}}
              </h6>
              <h6 text-wrap style="color:#fff;padding-left: 5%;padding-bottom: 10%;font-size:9pt;">
                {{resource.created_at | date: 'dd-MMM'}}</h6>
                <img src="assets/img/downloadbutton.png"
                (click)="downloadAndOpenPdf(resource.resource_url)" style="padding-left:
                45%;padding-bottom: 10px;width:60%;height:auto;">
          </div>
          </ng-template>
      </ion-col>
    </ion-row>
  </ion-grid>
  <!-- <ion-item>
    <ion-label>Subject</ion-label>
    <ion-select [(ngModel)]="subject" (ionChange)="loadResource(filtermonthwise,subject)">
      <ion-option *ngFor="let course of studentcourses" [value]="course.id">
        {{course.course.course_name}}
      </ion-option>
    </ion-select>

  </ion-item> -->
</ion-content>
<ion-footer style="background-color:#efeff0;" no-border>
  <ion-grid>
    <ion-row>
        <ion-col size="3"></ion-col>
        <ion-col class="appForm" size="5">
          <ion-item style="border-radius: 25px;background-color: #fff;margin-bottom:3%;">
            <ion-label style="color:#000;text-align: center;font-size: 9pt;" *ngIf="!subject">Subject</ion-label>
              <ion-select style="max-width: 100% !important;color:#000;" [(ngModel)]="subject" (ionChange)="loadResource(filtermonthwise,subject)">
                <ion-select-option *ngFor="let course of studentcourses" [value]="course.id">
                  <p>{{course.course.course_name}}</p>
                </ion-select-option>
              </ion-select>
            </ion-item>    
        </ion-col>
        <ion-col size="3"></ion-col>
    </ion-row>
  </ion-grid>
</ion-footer>
