<ion-header no-border>
  <ion-toolbar >
    <ion-buttons slot="start" style="margin-top: -3%;">
      <ion-menu-button>
        <img src="assets/img/icon-Menu copy.png" style="width:50%;height:auto">
      </ion-menu-button>
    </ion-buttons>    
    <div *ngIf="notice==1; then thenNotice else elseDiary">
    </div>
    <ng-template #thenNotice>
    <ion-title style="text-align:center;font-size:small;margin-top: -4%;"><b>Individual Notice</b></ion-title>
    </ng-template>
    <ng-template #elseDiary>
    <ion-title style="text-align:center;font-size:small;margin-top: -4%;"><b>Individual Diary</b></ion-title>
    </ng-template>

    <ion-buttons slot="end" style="margin-top: -3%;">
      <ion-button (click)="openPage()"  >
        <img src="assets/img/Group 19.png" style="width:70%;height:auto;">
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content padding style="--ion-background-color: #efeff0;">

  <ion-card style="border-radius: 15px;background-color: #fff;" padding>

    <div class="appForm"  margin-bottom>

      <ion-list style="background-color: #fff;">

   <div *ngIf="notice==1;" style="text-align: left; font-size: 11pt; margin-left: 3%; margin-bottom: 3%;color:#000;">Enter Subject For Notice</div>
        <div class="backgroundimg2" *ngIf="notice==1;">
         <ion-input type="email" class="place" style="margin-left: 15%;" placeholder="Enter Subject for notice" [(ngModel)]="subject" name="subject"></ion-input>
   </div>

   <div *ngIf="notice==1;" style="text-align: left; font-size: 11pt; margin-left: 3%; margin-top: 3%;color:#000;">Enter Notice Description</div>
        <div *ngIf="notice==1;" class="backgroundimg2">
         <ion-input type="email" class="place" style="margin-left: 15%;" placeholder="Enter diary information here..." [(ngModel)]="diarytext" name="diarytext"></ion-input>
   </div>

   <div *ngIf="notice!=1;" style="text-align: left; font-size: 11pt; margin-left: 3%; margin-bottom: 3%;color:#000;">Enter Diary Description</div>
   <div *ngIf="notice!=1;" class="backgroundimg2">
    <ion-input type="email" class="place" style="margin-left: 15%;" placeholder="Enter diary information here..." [(ngModel)]="diarytext" name="diarytext"></ion-input>
</div>

<div (click)="selectImage()" style="margin-top:3%;text-align: left; font-size: 11pt; margin-left: 3%; margin-bottom: 3%;color:#000;">Attach Image</div>
<div  (click)="selectImage()" class="backgroundimg">
 <img src="assets/img/attach.png" style="padding-top:1%;padding-bottom:1%;width:10%;height:auto;margin-left: 10%;">
</div>


<ion-grid no-padding style="margin-top: 5%;" *ngIf="images">
  <ion-row>
    <ion-col size="4">
          <img src="assets/img/attach.png" style="width:30%;height:auto;margin-left: 25%;">
    </ion-col>
    <ion-col size="5" style="margin-left: -10%;margin-top: 3%;">
        <ion-label style="font-size: small; color:#000;">
        Image
        </ion-label>
      </ion-col>
    <ion-col size="3">
        <div text-right>
            <img src="{{images}}" style="width:50px; height:auto;float:left">
          </div>
      </ion-col>
  </ion-row>
</ion-grid>

  <div  (click)="takeDocuments()"  style="color:#000;margin-top:3%;text-align: left; font-size: 11pt; margin-left: 3%; margin-bottom: 3%;">Attach Document</div>
  <div (click)="takeDocuments()"  class="backgroundimg">
   <img src="assets/img/attach.png" style="padding-top:1%;padding-bottom:1%;width:10%;height:auto;margin-left: 10%;">
  </div>

  <ion-grid no-padding style="margin-top: 5%;" *ngIf="documentToUpload">
    <ion-row>
      <ion-col size="4">
        <img src="assets/img/attach.png" style="width:30%;height:auto;margin-left: 25%;">
  </ion-col>
  <ion-col size="3" style="margin-left: -10%;margin-top: 3%;">
      <ion-label style="font-size: small; color:#000;">
        Document
      </ion-label>
    </ion-col>
      <ion-col size="5" >
        <ion-label style="color:#000;font-size:small;" text-wrap>{{documentToUpload}}</ion-label>
        </ion-col>
    </ion-row>
  </ion-grid>


</ion-list>
  </div>

  <ion-grid>
    <ion-row>
      <ion-col size="12">
        <ion-button shape="round" size="block" color="uiColor" style="width:100%;border-radius:25px;background-color: #f9a825;margin-top: 3%;" *ngIf="notice==1">
          <ion-label *ngIf="!studentid" style="color:#fff;font-size:9pt;">Select Individual</ion-label>
          <ion-select style="max-width: 100% !important;color:#fff;" [(ngModel)]="studentid" name="studentid">
            <ion-select-option *ngFor="let student of students" [value]="student.id">
              {{student.first_name+' '+ student.last_name |titlecase}}</ion-select-option>
          </ion-select>
        </ion-button>
      
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid *ngIf="notice!=1" style="margin-top: -10%;">
    <ion-row>
      <ion-col size="6">
        <ion-button  shape="round" size="block" color="uiColor" 
        style="border-radius:25px;background-color: #efeff0;">
          <h6 style="color:#000;font-size: small;" *ngIf="!courseid">CLASS</h6>
          <ion-select style="max-width: 100% !important;color: #000;font-size: small;" [(ngModel)]="courseid" (ionChange)="sendCourse(courseid)">
            <ion-select-option *ngFor="let course of classdata" [value]="course.school_class_id">
              {{course.class_name}}
             </ion-select-option>
          </ion-select>
        </ion-button>
      </ion-col>
      <ion-col size="6" >
        <ion-button  shape="round" size="block" color="uiColor" 
        style="border-radius:25px;background-color: #efeff0;">
        <h6 style="font-size: small;color:#000;" *ngIf="!sectionid">SECTION</h6>
          <ion-select style="max-width: 100% !important;color: #000;font-size: small;" [(ngModel)]="sectionid" (ionChange)="getCourse(sectionid)">
            <ion-select-option *ngFor="let section of sectionsfromapi" [value]="section.id">
              {{section.section.section_name}}
             </ion-select-option>
          </ion-select>
        </ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12">
        <ion-button expnad="block" shape="round" color="uiColor"
        style="width:100%;border-radius:25px;background-color: #efeff0;margin-top: 3%;">
          <ion-label style="color:#000;font-size:9pt;" *ngIf="!id">COURSE</ion-label>
          <ion-select style="max-width: 100% !important;color:#000;" [(ngModel)]="id" (ionChange)="changeStudents(id)">
            <ion-select-option *ngFor="let course of course" [value]="course.course.id">
              {{course.course.course_name}}
             </ion-select-option>
          </ion-select>
        </ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12">
      <ion-button expnad="block" shape="round" color="color2"
      style="width:100%;border-radius:25px;background-color: #f9a825;margin-top: 3%;">
        <ion-label style="color:#fff;font-size:9pt;" *ngIf="!studentid">Select Individual</ion-label>
        <ion-select style="max-width: 100% !important;color:#fff;" [(ngModel)]="studentid" name="studentid" >
          <ion-select-option *ngFor="let student of students" [value]="student.id">
            {{student.first_name+' '+student.last_name |titlecase}}</ion-select-option>
        </ion-select>
      </ion-button>
    </ion-col>
    </ion-row>
  </ion-grid>

</ion-card>

  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-button expand="block" shape="round" color="color1" style="border-radius:25px;background-color: #3e3d3d;" (click)="cancel()">
          Cancel</ion-button>

      </ion-col>
      <ion-col>
        <div *ngIf="notice==1; then thenBlock else elseBlock">

        </div>
        <ng-template #thenBlock>
          <ion-button shape="round" color="color2" style="border-radius:25px;background-color: #f9a825" expand="block"   
          (click)="sendNotice()" [disabled]="disabled()" *ngIf="!documentToUpload">Send Notice</ion-button>
          <ion-button shape="round" color="color2" style="border-radius:25px;background-color: #f9a825" expand="block"   
          (click)="uploadDocumentNotice()" [disabled]="disabled()" *ngIf="documentToUpload">Send Notice</ion-button>
        </ng-template>
        <ng-template #elseBlock>
          <ion-button shape="round" color="color2" expand="block"  style="border-radius:25px;background-color: #f9a825" 
          (click)="sendDiary()" 
          [disabled]="disabled()" *ngIf="!documentToUpload">Send Diary</ion-button>
          <ion-button shape="round" color="color2" expand="block"  style="border-radius:25px;background-color: #f9a825" 
          (click)="uploadDocumentDiary()" 
          [disabled]="disabled()" *ngIf="documentToUpload">Send Diary</ion-button>
        </ng-template>

      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
