<ion-header no-border>
  <ion-toolbar>
    <ion-buttons slot="start" style="margin-top:-4%;">
      <ion-button (click)="previouspage()">
        <ion-img src="assets/img/backicon.png"></ion-img>
      </ion-button>
    </ion-buttons>
    <ion-title style="margin-left:30%;font-size:small;margin-top:-4%;"><b>DETAIL</b></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding style="--ion-background-color:#efeff0;">
  <img src="{{imageUrl}}" style="width: 100%; height: auto;">

</ion-content>
