<ion-header no-border>
  <ion-toolbar>
    <ion-buttons slot="start" style="margin-top:-4%;">
      <ion-menu-button>
        <img src="assets/img/icon-Menu copy.png" style="width:50%;height:auto">
      </ion-menu-button>
    </ion-buttons>  
    <ion-title style="font-size: small;text-align: center;margin-top:-4%;"><b>SURVEY</b></ion-title>
    <ion-buttons slot="end" style="margin-top:-4%;">
      <ion-button navPush="NotificationsPage"  >
        <img src="assets/img/Group 19.png" style="width:70%;height:auto">
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding style="--ion-background-color:#efeff0;">
  <ion-card style="margin-top: 5%; border-radius: 10px;background-color:#fff;" *ngFor="let survey of surveyquestions let i=index" (click)="detailsurvey(i)">
    <ion-row style=" margin-top:4%;margin-bottom: 4%; margin-left: 5%; margin-right:5%;">
      <ion-col size="4">
        <div *ngIf="(i+1)%3==0; then thenBlock else elseBlock"></div>
          <ng-template #thenBlock >
            <div [ngStyle]="{'background-image':'url(' + bluedate + ')'}" class="imgBg">
              <div style="padding-top:15%;padding-bottom: 10%;color: #ffffff ; font-size: 25pt; font-weight: bold; text-align: center;">
                {{survey.created_at | date: 'dd'}}</div>
              <div style="color:#ffffff; text-align: center; font-size: 12pt; font-weight: light;padding-bottom: 6%;">
                {{survey.created_at | date: 'MMM'}}</div>
            </div>
          </ng-template>
          <ng-template #elseBlock>
            <div *ngIf="(i+1)%2==0; then thenBl else elseB"></div>
              <ng-template #thenBl >
                <div [ngStyle]="{'background-image':'url(' + pinkdate + ')'}" class="imgBg">
                  <div style="padding-top:15%;padding-bottom: 10%;color: #ffffff ; font-size: 25pt; font-weight: bold; text-align: center;">
                    {{survey.created_at | date: 'dd'}}</div>
                  <div style="color:#ffffff; text-align: center; font-size: 12pt; font-weight: light;padding-bottom: 6%;">
                    {{survey.created_at | date: 'MMM'}}</div>
                    </div>
              </ng-template>
              <ng-template #elseB>
                <div [ngStyle]="{'background-image':'url(' + yellowdate + ')'}" class="imgBg">
                  <div style="padding-top:15%;padding-bottom: 10%;color: #ffffff ; font-size: 25pt; font-weight: bold; text-align: center;">
                    {{survey.created_at | date: 'dd'}}</div>
                  <div style="color:#ffffff; text-align: center; font-size: 12pt; font-weight: light;padding-bottom: 6%;">
                    {{survey.created_at | date: 'MMM'}}</div>
                    </div>
              </ng-template>
  	      </ng-template>
      </ion-col>
      <ion-col size="8" style="margin-top:5%;margin-bottom: 5%;" >
        <div style="color:#000;font-size: 12pt; font-weight: bold;">{{survey.survey_name | titlecase}}</div>
        <img src="assets/img/profile/line.png">
        <ion-label style="color:#000;">{{survey.description}}</ion-label>
      </ion-col>
    </ion-row>
    <!-- <button ion-button block color="color2"(click)="downloadAndOpenPdf()" *ngIf="diary.document!=null">Open Attachement</button> -->
  </ion-card>

</ion-content>
