<ion-header no-border>
  <ion-toolbar>
    <ion-buttons slot="start" style="margin-top:-4%">
      <ion-menu-button>
        <img src="assets/img/icon-Menu copy.png" style="width:50%;height:auto">
      </ion-menu-button>
    </ion-buttons>  
    <ion-title style="text-align: center;font-size: small;margin-top:-4%;"><b>ATTENDANCE</b></ion-title>
    <ion-buttons slot="end" style="margin-top:-4%">
      <ion-button navPush="NotificationsPage"  >
        <img src="assets/img/Group 19.png" style="width:70%;height:auto">
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content padding style="--ion-background-color:#efeff0;">

  <div style="background-color: #fff;border-radius: 25px;margin-top: 15%;height: 60%;">
    <ion-grid >
      <ion-row>
        <ion-col size="5" style="margin-left:5%; margin-top: 5%;">
        <div [ngStyle]="{'background-image':'url(' + totalbox + ')'}" class="imgBg" >
            <h6 style="font-size: 35pt;text-align:center;color:#fff;padding-top: 10%;"><b>{{total}}</b></h6>
            <h6 style="font-size: 12pt;text-align:center;color:#fff;padding-bottom: 10%;">Total</h6>
        </div>
        </ion-col>
        <ion-col size="5" style="margin-left:5%; margin-top: 5%;">
          <div [ngStyle]="{'background-image':'url(' + presentbox + ')'}" class="imgBg" >
            <h6 style="font-size: 35pt;text-align:center;color:#fff;padding-top: 10%;"><b>{{totalpresent}}</b></h6>
            <h6 style="font-size: 12pt;text-align:center;color:#fff;padding-bottom: 10%;">Presents</h6>
          </div>
        </ion-col>
      </ion-row>
      <ion-row >
        <ion-col size="5" style="margin-left:5%;">
        <div [ngStyle]="{'background-image':'url(' + absentbox + ')'}" class="imgBg" >
          <h6 style="font-size: 35pt;text-align:center;color:#fff;padding-top: 10%;"><b>{{totalabsent}}</b></h6>
          <h6 style="font-size: 12pt;text-align:center;color:#fff;padding-bottom: 10%;">Absents</h6>
        </div>
        </ion-col>
        <ion-col size="5" style="margin-left:5%; ">
          <div [ngStyle]="{'background-image':'url(' + leavebox + ')'}" class="imgBg" >
            <h6 style="font-size: 35pt;text-align:center;color:#fff;padding-top: 10%;"><b>{{totalleave}}</b></h6>
            <h6 style="font-size: 12pt;text-align:center;color:#fff;padding-bottom: 10%;">Leave</h6>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
  <div style="background-color: #fff;border-radius: 20px;margin-top: 15%;">
<ion-grid>
  <ion-row>
    <ion-col>
      <h6 style="font-size: 13pt;color: #454545;"><b>Attendance History</b></h6>
    </ion-col>
    <ion-col size="4">
      <ion-item color="color1" style="background-color:#454545;border-radius: 15px;">
       <h6 style="font-size:9pt;color:#fff" *ngIf="filtermonthwise==1">January</h6>
       <h6 style="font-size:9pt;color:#fff" *ngIf="filtermonthwise==2">February</h6>
       <h6 style="font-size:9pt;color:#fff" *ngIf="filtermonthwise==3">March</h6>
       <h6 style="font-size:9pt;color:#fff" *ngIf="filtermonthwise==4">April</h6>
       <h6 style="font-size:9pt;color:#fff" *ngIf="filtermonthwise==5">May</h6>
       <h6 style="font-size:9pt;color:#fff" *ngIf="filtermonthwise==6">June</h6>
       <h6 style="font-size:9pt;color:#fff" *ngIf="filtermonthwise==7">July</h6>
       <h6 style="font-size:9pt;color:#fff" *ngIf="filtermonthwise==8">August</h6>
       <h6 style="font-size:9pt;color:#fff" *ngIf="filtermonthwise==9">September</h6>
       <h6 style="font-size:9pt;color:#fff" *ngIf="filtermonthwise==10">October</h6>
       <h6 style="font-size:9pt;color:#fff" *ngIf="filtermonthwise==11">November</h6>
       <h6 style="font-size:9pt;color:#fff" *ngIf="filtermonthwise==12">December</h6>
        <ion-select style="max-width: 100% !important;" [(ngModel)]="filtermonthwise" (ionChange)="loadAttendanceReport(filtermonthwise)">
          <ion-select-option value=1>January </ion-select-option>
          <ion-select-option value=2>February </ion-select-option>
          <ion-select-option value=3>March </ion-select-option>
          <ion-select-option value=4>April </ion-select-option>
          <ion-select-option value=5>May </ion-select-option>
          <ion-select-option value=6>June </ion-select-option>
          <ion-select-option value=7>July </ion-select-option>
          <ion-select-option value=8>August </ion-select-option>
          <ion-select-option value=9>September </ion-select-option>
          <ion-select-option value=10>October </ion-select-option>
          <ion-select-option value=11>November </ion-select-option>
          <ion-select-option value=12>December </ion-select-option>
        </ion-select>
      </ion-item>
     </ion-col>
  </ion-row>
  <ion-row style="margin-top: 5%;">
    <ion-col style="padding-left: 8%;">
     <ion-label style="font-size: 10pt;"> DATE </ion-label>
    </ion-col>
    <ion-col style="padding-left: 12%;">
     <ion-label style="font-size:10pt;"> DAY </ion-label>
    </ion-col>
    <ion-col style="padding-left: 10%;">
     <ion-label style="font-size:10pt;"> STATUS </ion-label>
    </ion-col>
  </ion-row>
  <ion-row *ngFor="let trio of sortData" style="background-color: #efeff0;margin-top: 5%;border-radius: 15px;">
    <ion-col >
     <h6 style="text-align: center;"><b>{{ trio.created_at | date: 'dd/MMM' }}</b></h6>
    </ion-col>
    <ion-col style="padding-left: 5%;">
      <h6 style="text-align: center;"><b>{{ trio.created_at | date: 'EEEE' }}</b></h6>
    </ion-col>
    <ion-col style="text-align: center;padding-top: 6%;">
      <div *ngIf="trio.attendance=='present'">
        <ion-badge color="success" style="border-radius: 15px;">
           <ion-label  style="font-size: 9pt; color: white;text-align: center;">
            <b>{{ trio.attendance | uppercase}}</b></ion-label></ion-badge>
      </div>
      <div *ngIf="trio.attendance=='absent'" >
        <ion-badge color="danger" style="border-radius: 15px;">
          <ion-label  style="font-size: 9pt; color: white;text-align: center;">
            <b>{{ trio.attendance | uppercase}}</b></ion-label>
          </ion-badge>
      </div>
      <div *ngIf="trio.attendance=='leave'" >
        <ion-badge color="warning" style="border-radius: 15px;">
          <ion-label  style="font-size: 9pt; color: white;text-align: center;">
            <b>{{ trio.attendance | uppercase}}</b></ion-label>
          </ion-badge>
      </div>
    </ion-col>
  </ion-row>
</ion-grid>
</div>

<!--
<ion-grid>
  <ion-item>
    <ion-row *ngFor="let trio of studentDetails" style="border: 3px; border-radius: 2px;">

  <ion-col>
    <div  style="font-weight:bold; text-align: center;"></div>
  </ion-col>
  <ion-col>
    <div  style="font-weight:bold; text-align: center;">
    {{ trio.created_at | date: 'EEEE' }}</div>
</ion-col>
<ion-col style="text-align: center;">
</ion-col>

</ion-row>
</ion-item>

</ion-grid> -->
</ion-content>
