<ion-header no-border>
  <ion-toolbar>
    <ion-title *ngIf="status=='diary'" >Previous Diary</ion-title  >
    <ion-title *ngIf="status=='notice'">Previous Notice</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding >
  <p *ngIf="previousdata.length==0 && status=='diary'">No previous diary to show</p>
  <p *ngIf="previousdata.length==0 && status=='notice'">No previous notice to show</p>
  <div class="fleet-card" style="margin-top: 3%; height:50%;" *ngFor="let diary of previousdata">
    <ion-grid *ngIf="status=='diary'">
      <ion-row>
        <ion-col>
          <button ion-button block color="color5" >{{diary.section_course.course.course_name}}</button>
        </ion-col>
      </ion-row>
     <ion-row >
       <ion-col col-4 *ngIf="diary.image_url">
         <img src="{{diary.image_url}}"  style="width: 100%; height: auto; float:left" (click)="imageFullpage(diary.image_url,diary)">
       </ion-col>
         <ion-col col-8>
              <h1>{{diary.diary_info}}</h1>
             </ion-col>
     </ion-row>
   </ion-grid>

     <ion-grid *ngIf="status=='notice'">
      <ion-row>
        <ion-col>
          <button ion-button block color="color5" >{{diary.subject}}</button>
        </ion-col>
      </ion-row>
     <ion-row >
       <ion-col col-4 *ngIf="diary.image_url">
         <img src="{{diary.image_url}}"  style="width: 100%; height: auto; float:left" (click)="imageFullpage(diary.image_url,diary)">
       </ion-col>
         <ion-col col-8>
              <h1>{{diary.notice_info}}</h1>
             </ion-col>
     </ion-row>
     <!-- <ion-badge *ngIf="diary.student!=null" color="color1" style="margin-left: 70%;">
      {{diary.student.first_name+" "+diary.student.last_name}}</ion-badge> -->
    </ion-grid>
    <ion-badge *ngIf="diary.student!=null" color="color1" style="margin-left: 70%;margin-top:35%">
      {{diary.student.first_name+" "+diary.student.last_name}}</ion-badge>

  </div>


<!--
<div *ngIf="status=='notice'">
  <div class="fleet-card" style="margin-top: 3%; height:50%;" *ngFor="let diary of previousdata">
  </div>

</div> -->
</ion-content>
