.fleet-card {
    -webkit-box-shadow: 3px 4px 16px rgba(0, 0, 0, .48);
    -moz-box-shadow: 3px 4px 16px rgba(0, 0, 0, .48);
    box-shadow: 3px 4px 16px rgba(0, 0, 0, .48);
    background: #fff;
    position: relative;
    padding: 10px 10px 10px;
    margin: 0 0 25px;
    &:before {
        content: "";
        top: 0px;
        left: 0px;
        width: 10px;
        position: absolute;
        height: 100%;
        background: #000;
        /* Old browsers */
        background: -moz-linear-gradient(top, #000 0%, #000 4%, #000 13%, #000 37%, #000 37%, #000 45%, #000 46%, #000 77%, #000 85%, #000 98%, #000 98%, #000 99%, #000 99%, #000 100%, #000 100%);
        /* FF3.6-15 */
        background: -webkit-linear-gradient(top, #000 0%, #000 4%, #000 13%, #000 37%, #000 37%, #000 45%, #000 46%, #000 77%, #000 85%, #000 98%, #000 98%, #000 99%, #000 99%, #000 100%, #000 100%);
        /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to bottom, #000 0%, #000 4%, #000 13%, #000 37%, #000 37%, #000 45%, #000 46%, #000 77%, #000 85%, #000 98%, #000 98%, #000 99%, #000 99%, #000 100%, #000 100%);
        /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        // filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#008ec8', endColorstr='#10a3aa', GradientType=0);
        /* IE6-9 */
    }
    h1 {
        color: #353535;
        font-weight: 500;
        font-size: 14px;
        padding: 0 0 10px 15px;
        margin: 0px;
        line-height: 22px;
        span {
          /*display: block;*/
        }
    }
  }
