<ion-header no-border>

  <ion-toolbar>
    <ion-buttons slot="start" style="margin-top: -3%;">
      <ion-menu-button>
        <img src="assets/img/icon-Menu copy.png" style="width:50%;height:auto">
      </ion-menu-button>
    </ion-buttons>   
    <ion-title style="margin-top:-4%;font-size: small;text-align: center;"><b>VIDEOS</b></ion-title>
    <ion-buttons slot="end" style="margin-top: -3%;">
      <ion-button navPush="NotificationsPage"  >
        <img src="assets/img/Group 19.png" style="width:70%;height:auto">
      </ion-button>
    </ion-buttons>
        <!-- <ion-buttons slot="end">
      <ion-button (click)="uploadvideo()">
        <img src="assets/img/albumcreate.png" style="width:100%;height:auto">
      </ion-button>
    </ion-buttons> -->

  </ion-toolbar>

</ion-header>


<ion-content padding style="--ion-background-color:#efeff0;">

  <div *ngFor="let video of allvideo" >
    <ion-card *ngIf="video.video_name" style="border-radius: 20px; margin-top: 5%;background-color: #fff;">
     <ion-grid >
       <ion-row>
         <ion-col size="12"  style="margin-top: 5%;" >
           <div class="container" >
             <video  poster="{{video.video_url}}"  preload="auto" crossorigin (click)="playvideo(video.video_url)"
             style="width:100%;height:150px">
             <source src="{{video.video_url}}#t=0.1" type="video/mp4">
             </video>
          <div style="padding-bottom: 5%;padding-left: 3%;margin-top: 5%;" >
               <h6 *ngIf="video.video_name" style="text-align:center;font-size: 11pt;background-color: #f9a825;border-radius: 20px;
               color:#fff;padding-top: 4%;padding-bottom:4% ;">
               <b>Name: {{video.video_name |titlecase}}</b></h6>
               <h6 *ngIf="video.description" style="text-align:center;padding-top: 4%;padding-bottom:4% ;color:#fff;font-size: 11pt;background-color: #f9a825;border-radius: 20px;">
                 <b>Desription: {{video.description |titlecase}}</b></h6>
             </div>
           </div>
         </ion-col >
       </ion-row>
     </ion-grid>
   </ion-card>
 
   </div> 
  
</ion-content>
<ion-footer style="text-align:center;background-color: #efeff0;" no-border>
        <ion-button shape="round" size="small" color="light" style="margin-bottom:3%;border-radius: 25px; font-weight: bold;"
        (click)="uploadvideo()">
         Upload Video
        </ion-button>      
</ion-footer>
