<ion-header no-border>
  <ion-toolbar>
    <ion-buttons slot="start" style="margin-top:-4%">
      <ion-menu-button>
        <img src="assets/img/icon-Menu copy.png" style="width:50%;height:auto">
      </ion-menu-button>
    </ion-buttons>  
    <ion-title style="text-align:center;font-size: small;margin-top:-4%"><b>LEAVE</b></ion-title>
    <ion-buttons slot="end" style="margin-top:-4%">
      <ion-button navPush="NotificationsPage"  >
        <img src="assets/img/Group 19.png" style="width:70%;height:auto">
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding style="--ion-background-color:#efeff0;">
   <ion-card *ngFor="let ptm of requestedleave; let i=index" style="background-color:#fff;border-radius: 25px;">
      <ion-grid *ngIf="ptm!=null">
        <ion-row >
          <ion-col >
             <img src="assets/img/status_dis.png" *ngIf="ptm.leave_status=='disapproved'" style="width: 100%;height: 100%;">
     
            <img src="assets/img/status_pen.png" *ngIf="ptm.leave_status=='pending'" style="width: 100%;height: 100%;">
     
            <img src="assets/img/status_app.png" *ngIf="ptm.leave_status=='approved'" style="width: 100%;height: 100%;">
          </ion-col>
        </ion-row>
        <ion-row style="margin-top: -5%;">
        <ion-col size="4">
          <h6 style="color:#000;text-align: center;font-size: small;">From Date</h6>
          <h6 *ngIf="ptm.leave_status=='approved'" style="margin-left:20%;width:60%;text-align:center;margin-top: -9%;
          background-color: #0097dc;border-radius: 25px;font-size: 9pt;color:#fff">
           {{ptm.start_date | date: 'dd-MMM'}}</h6>
           <h6 *ngIf="ptm.leave_status=='disapproved'" style="margin-left:20%;width:60%;text-align:center;margin-top: -9%;
           background-color: #e91e63;border-radius: 25px;font-size: 9pt;color:#fff">
             {{ptm.start_date | date: 'dd-MMM'}}</h6>
            <h6 *ngIf="ptm.leave_status=='pending'" style="margin-left:20%;width:60%;text-align:center;margin-top: -9%;
            background-color: #f9a825;border-radius: 25px;font-size: 9pt;color:#fff">
             {{ptm.start_date | date: 'dd-MMM'}}</h6>
     </ion-col>
     <ion-col size="4"></ion-col>
        <ion-col size="4" >
           <h6 style="color:#000;text-align: center;font-size: small;">End Date</h6>
           <h6 *ngIf="ptm.leave_status=='approved'" style="margin-left:20%;width:60%;text-align:center;margin-top: -9%;
           background-color: #0097dc;border-radius: 25px;font-size: 9pt;color:#fff">
            {{ptm.end_date | date: 'dd-MMM'}}</h6>
            <h6 *ngIf="ptm.leave_status=='disapproved'" style="margin-left:20%;width:60%;text-align:center;margin-top: -9%;
            background-color: #e91e63;border-radius: 25px;font-size: 9pt;color:#fff">
             {{ptm.end_date | date: 'dd-MMM'}}</h6>
            <h6 *ngIf="ptm.leave_status=='pending'" style="margin-left:20%;width:60%;text-align:center;margin-top: -9%;
            background-color: #f9a825;border-radius: 25px;font-size: 9pt;color:#fff">
             {{ptm.end_date | date: 'dd-MMM'}}</h6>
     </ion-col>
        </ion-row>

        <div style="border-bottom: 1px solid #454545;"></div>

        <ion-row *ngIf="ptm.subject!=null" style="margin-top: -3%;">
          <ion-col>
            <h6 style="color: #000;font-size: small;">
              Subject &nbsp;
              <span *ngIf="ptm.leave_status=='approved'" style="padding-left:5%;padding-right:5%;
              font-size:9pt;padding-bottom: 2%;padding-top: 2%;
              background-color: #0097dc;border-radius: 25px;color:#fff">
              {{ptm.subject}}
              </span>
              <span *ngIf="ptm.leave_status=='disapproved'" style="font-size:9pt;padding-bottom: 2%;padding-top: 2%;background-color: #e91e63;
              border-radius: 25px;padding-left:5%;padding-right:5%;text-align:center;color:#fff">
              {{ptm.subject}}
              </span>
              <span *ngIf="ptm.leave_status=='pending'" style="font-size:9pt;padding-bottom: 2%;padding-top: 2%;background-color: #f9a825;
              border-radius: 25px;padding-left:5%;padding-right:5%;text-align:center;color:#fff">
              {{ptm.subject}}
              </span>
             </h6>

    </ion-col>
        </ion-row>

        <ion-row  *ngIf="ptm.image_url" style="margin-top: -7%;">
          <ion-col (click)="imageShow(ptm.image_url)"  size="6">
              <h6 *ngIf="ptm.leave_status=='approved'" style="padding-left:5%;padding-right:5%;
              text-align:center;font-size:11pt;background-color: #0097dc;border-radius: 25px;color:#fff"
              >Open Attachment</h6>
  
              <h6 *ngIf="ptm.leave_status=='pending'" style="font-size: 11pt;background-color: #f9a825;
              border-radius: 25px;padding-left:5%;padding-right:5%;text-align:center;color:#fff"
              >Open Attachment</h6>
  
              <h6 *ngIf="ptm.leave_status=='disapproved'" style="font-size: 11pt;background-color: #e91e63;
              border-radius: 25px;padding-left:5%;padding-right:5%;text-align:center;color:#fff"
              >Open Attachment</h6>
          </ion-col>
        </ion-row>

        <ion-row style="margin-top: -7%;margin-bottom: -5%;">
          <ion-col>
           <h6 style="color:#000;font-size: small;">
             Description
           </h6>
           <h6 *ngIf="ptm.leave_status=='pending'" style="font-size: 11pt;background-color: #f9a825;
           border-radius: 25px;padding-left: 5%;color:#fff;margin-bottom: 5%;padding-top: 5%;padding-bottom: 5%;
           margin-top: 3%;padding-right: 5%;">
           {{ptm.leave_reason}}
         </h6>
           <h6 *ngIf="ptm.leave_status=='approved'" style="font-size: 11pt;background-color: #0097dc;
           padding-top: 5%;padding-bottom: 5%;border-radius: 25px;padding-left: 5%;color:#fff;margin-bottom: 5%;margin-top: 3%;padding-right: 5%;">
           {{ptm.leave_reason}}
           </h6>
          <h6 *ngIf="ptm.leave_status=='disapproved'" style="font-size: 11pt;background-color: #e91e63;
           border-radius: 25px;padding-left: 5%;padding-top: 5%;padding-bottom: 5%;color:#fff;margin-bottom: 5%;margin-top: 3%;padding-right: 5%;">
           {{ptm.leave_reason}}
           </h6>

      </ion-col>
        </ion-row>

   </ion-grid>
   </ion-card>


</ion-content>
<ion-footer style="text-align: center;background-color: #efeff0;" no-border>
  <ion-button shape="round" size="small" color="light" style="margin-bottom:3%;border-radius: 25px; font-weight: bold;" (click)="newleaveRequest()">
   Request Leave
  </ion-button>
</ion-footer>
