// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

// Font path is used to include ionicons,
// roboto, and noto sans fonts
$font-path: "../assets/fonts";


// The app direction is used to include
// rtl styles in your app. For more info, please see:
// http://ionicframework.com/docs/theming/rtl-support/
$app-direction: ltr;


// @import "../global.scss";


// Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files.
// To view all the possible Ionic variables, see:
// http://ionicframework.com/docs/theming/overriding-ionic-variables/

:root {
  /** primary **/
  --ion-color-primary: #488aff;
  --ion-color-primary-rgb: 56, 128, 255;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #3171e0;
  --ion-color-primary-tint: #4c8dff;

  /** secondary **/
  --ion-color-secondary: #32db64;
  --ion-color-secondary-rgb: 61, 194, 255;
  --ion-color-secondary-contrast: #ffffff;
  --ion-color-secondary-contrast-rgb: 255, 255, 255;
  --ion-color-secondary-shade: #36abe0;
  --ion-color-secondary-tint: #50c8ff;

  /** tertiary **/
  --ion-color-tertiary: #3e3d3d;
  --ion-color-tertiary-rgb: 82, 96, 255;
  --ion-color-tertiary-contrast: #ffffff;
  --ion-color-tertiary-contrast-rgb: 255, 255, 255;
  --ion-color-tertiary-shade: #3e3d3d;
  --ion-color-tertiary-tint: #3e3d3d;

  /** success **/
  --ion-color-success: #2dd36f;
  --ion-color-success-rgb: 45, 211, 111;
  --ion-color-success-contrast: #ffffff;
  --ion-color-success-contrast-rgb: 255, 255, 255;
  --ion-color-success-shade: #28ba62;
  --ion-color-success-tint: #42d77d;

  /** warning **/
  --ion-color-warning: #f9a825;
  --ion-color-warning-rgb: 255, 196, 9;
  --ion-color-warning-contrast: #ffffff;
  --ion-color-warning-contrast-rgb: 0, 0, 0;
  --ion-color-warning-shade: #e0ac08;
  --ion-color-warning-tint: #ffca22;

  /** danger **/
  --ion-color-danger: #e9427b;
  --ion-color-danger-rgb: 235, 68, 90;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255, 255, 255;
  --ion-color-danger-shade: #cf3c4f;
  --ion-color-danger-tint: #ed576b;

  /** dark **/
  --ion-color-dark: #222428;
  --ion-color-dark-rgb: 34, 36, 40;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255, 255, 255;
  --ion-color-dark-shade: #1e2023;
  --ion-color-dark-tint: #383a3e;

  /** medium **/
  --ion-color-medium: #454545;
  --ion-color-medium-rgb: 146, 148, 156;
  --ion-color-medium-contrast: #ffffff;
  --ion-color-medium-contrast-rgb: 255, 255, 255;
  --ion-color-medium-shade: #808289;
  --ion-color-medium-tint: #9d9fa6;

  /** light **/
  --ion-color-light: #fff;
  --ion-color-light-rgb: 244, 245, 248;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0, 0, 0;
  --ion-color-light-shade: #d7d8da;
  --ion-color-light-tint: #f5f6f9;

  --ion-padding:8px;
  $content-margin:8px;
  --ion-height:44px;
  $control-radius:3px;
  
  // App  Variables
  $mainFont:1.3rem;
   $appFonts:(h3:2.5rem,h4:1.4rem,h5:1.3rem,p:1.2rem);
   @each $head , $fontSize in $appFonts {
      #{$head}{
        font-size:$fontSize!important;
      }
   }
  
  // appForm variables
  $appForm_Item_Height:44px;
  $appForm_Item_Text_color:var(--ion-color-tertiary);
  $appForm_icon_color:var(--ion-color-warning);
//   $appForm_border_color:var(color2);
  $appForm_border_radius:3px;
  font-size:1.2rem ;
  font-weight:500;
  
  // $toolbar-ios-title-text-align:left;
  // --ion-placeholder-color:var(--ion-color-tertiary);
  // $item-ios-padding-top:0px;
  // $text-input-ios-margin-right:0px;
  // $item-ios-padding-bottom:0px;
  // $text-input-ios-margin-left:0px;
  $toolbar-ios-title-font-size: 1.3rem;
  $toolbar-md-title-font-size: 1.3rem;
  $toolbar-wp-title-font-size: 1.1rem;
  $toolbar-md-height: 1.3rem;
    
  //  select
  $select-ios-icon-color:var(--ion-color-tertiary);
  $select-ios-placeholder-color:--ion-placeholder-color;
  // button variables
  $button-ios-margin-top:8px;
  $button-ios-margin-end:0px;
  $button-ios-margin-bottom:0px;
  $button-ios-margin-start:0px;
  $button-ios-padding-start:8px;
  $button-ios-padding-end:$button-ios-padding-start;
  $button-ios-padding-bottom:0px;
  $button-ios-height:--ion-height ;
  $button-ios-border-radius:3px;
  $button-ios-font-size:1.2rem;
  $button-ios-text-color:var(--ion-color-light);
  
  // header Variables
  $toolbar-ios-height:44px;
  $toolbar-ios-title-font-size:1.1rem;
  $toolbar-ios-title-font-weight:250;
  $toolbar-ios-title-text-color:var(--ion-color-medium);
  // $toolbar-ios-title-text-color:color($colors,light);
//  $nav_Bar_Padding:8px/2;
  $header_icon_size:2.0rem;
  $header_icon_color:$toolbar-ios-title-text-color;
  $toolBar_Back_Ground:var(--ion-color-light);
  // $toolBar_Back_Ground:color($colors,color1);
  
  
  // item thumnail in subCategories Variable
  $item-ios-thumbnail-width:85px;
  $item-ios-thumbnail-height:100px;
  $option_button_width:100px;
  
  // side menu Variables
  
  $menu-width:50%;
  $menu-small-width:$menu-width;
  $menu_item_height:34px;
  
  
  
  // Radio Variables
  $radioSize:24px;
  $radioRadius:50%;
  
  //search bar variables
  $searchbar-ios-input-search-icon-color:var(--ion-color-tertiary);
  $searchbar-ios-input-search-icon-size:20px;
  $searchbar-ios-input-placeholder-color:var(--ion-color-tertiary);
  $searchbar-ios-input-text-color:var(--ion-color-tertiary);
  $searchbar-ios-input-clear-icon-color:var(--ion-color-tertiary);
  $searchbar-ios-input-clear-icon-size:30px;
  $searchbar-input-background-color:var(--ion-color-tertiary);
  
  // badges Variables
  $badge-font-size:1rem;
  $badge-font-weight:300;
  // checkbox variables
  $checkbox-ios-background-color-off:var(--ion-color-tertiary);
  $checkbox-ios-background-color-on:var(--ion-color-tertiary);
  $checkbox-ios-icon-size:16px;
  $checkbox-ios-icon-border-width:0px;
  $checkbox-ios-icon-border-radius:2px;
  $checkbox-ios-icon-checkmark-width:0px;
  // Details page
  $img_details_height:35%;
  
  // @import "ionic.theme.default";
  //  @import "ionic.ion-icons";
  //  @import "roboto";
  //  @import "noto-sans";
}

.ios {
//  --ion-background-color: #efeff0;
  // --ion-background-color-rgb: 0,0,0;

  --ion-text-color: #454545;
  // --ion-text-color-rgb: 255,255,255;
 
  --ion-color-primary:    #488aff;
  --ion-color-secondary:  #32db64;
  --ion-color-danger:     #e9427b;
  --ion-color-success: #5aea01;
  --ion-color-warning : #f9a825;
  --ion-color-light:      #fff;
  --ion-color-dark:       #000;
  --ion-color-color1:     #3e3d3d;
  --ion-color-color2:     #f9a825;
  --ion-color-color3:     #e2e1dd;
  --ion-color-color4:     #939391;
  --ion-color-color5:     #fcd462;
  --ion-color-faceColor:  #3a5a98;
  --ion-color-twitterColor: #89b8e2;
  --ion-color-googleColor:  #ff5450;
  --ion-color-newColor: #454545;
  --ion-color-uiColor: #efeff0;
}

.md {
//  --ion-background-color: #efeff0;
  // --ion-background-color-rgb: 0,0,0;
  --ion-font-family: "Roboto", "Helvetica Neue", sans-serif !important;

  font-family: "Roboto", "Helvetica Neue", sans-serif !important;
  $toolbar-md-title-font-size: 1.2rem;
  --ion-text-color: #000000;
  // --ion-text-color-rgb: 255,255,255;

  --ion-color-primary:    #488aff;
  --ion-color-secondary:  #32db64;
  --ion-color-danger:     #e9427b;
  --ion-color-success: #5aea01;
  --ion-color-warning : #f9a825;
  --ion-color-light:      #fff;
  --ion-color-dark:       #000;
  --ion-color-color1:     #3e3d3d;
  --ion-color-color2:     #f9a825;
  --ion-color-color3:     #e2e1dd;
  --ion-color-color4:     #939391;
  --ion-color-color5:     #fcd462;
  --ion-color-faceColor:  #3a5a98;
  --ion-color-twitterColor: #89b8e2;
  --ion-color-googleColor:  #ff5450;
  --ion-color-newColor: #454545;
  --ion-color-uiColor: #efeff0;
}

$colors: (
  primary:    #488aff,
  secondary:  #32db64,
  danger:     #e9427b,
  success: #5aea01,
  warning : rgb(179, 179, 57),
  light:      #fff,
  dark:       #000,
  color1:     #3e3d3d,
  color2:     #f9a825,
  color3:     #e2e1dd,
  color4:     #939391,
  color5:     #fcd462,
  faceColor:  #3a5a98,
  twitterColor: #89b8e2,
  googleColor:  #ff5450,
  newColor: #454545,
  uiColor: #efeff0
);

// App Theme
// --------------------------------------------------
// Ionic apps can have different themes applied, which can
// then be future customized. This import comes last
// so that the above variables are used and Ionic's
// default are overridden.



// Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/ionicons/



// Fonts
// --------------------------------------------------

