<ion-header no-border>
  <ion-toolbar>
    <ion-buttons slot="start" style="margin-top:-4%">
      <ion-button (click)="previouspage()">
        <ion-img src="assets/img/backicon.png"></ion-img>
      </ion-button>
    </ion-buttons>
    <ion-title style="margin-left: 30%;font-size: small;margin-top:-4%;"><b>LEAVE</b></ion-title>
    <!-- <ion-buttons end>
      <button ion-button navPush="NotificationsPage" class="notification_Btn" >
        <ion-icon name="ios-notifications"></ion-icon>
        <ion-badge color="danger">2</ion-badge>
      </button>
    </ion-buttons> -->
  </ion-toolbar>
</ion-header>
<ion-content padding style="--ion-background-color: #efeff0;">
  <ion-card style="border-radius: 15px;background-color:#fff ;" padding>

    <div class="appForm"  class="ion-margin-bottom">

      <ion-list style="background-color: #fff;">

        <div style="text-align: left; font-size: 11pt; margin-left: 3%; margin-bottom: 3%;margin-top:5%">Enter Subject for Appointment Request</div>
        <div class="backgroundimg2">
         <ion-input type="email" class="place" style="margin-left: 15%;" placeholder="Enter Subject" [(ngModel)]="subject" name="subject"></ion-input>
    </div>


    <!-- <ion-label style="font-size: 11pt;padding-left: 5%;padding-top: 10%;">Enter Subject for Appointment Request</ion-label>
    <button ion-button block color="----ion-color-light" style="width: 100%;margin-top: 5%;padding-left: 6%;">
    <input type="text" placeholder="Enter Subject" [(ngModel)]="subject" name="subject"
    style="width: 100%;border-radius: 20px;height:50px;padding-left: 5%;">
    </button> -->

   <div style="text-align: left; font-size: 11pt; margin-left: 3%; margin-bottom: 3%;margin-top:5%">Enter Description</div>
    <div class="backgroundimg2">
     <ion-input type="email" class="place" style="margin-left: 15%;" placeholder="Enter Description..." [(ngModel)]="description" name="description"></ion-input>
</div>

<!-- <ion-label style="font-size: 11pt;padding-left: 5%;padding-top: 5%;">Enter Description</ion-label>
    <button ion-button block color="----ion-color-light" style="width: 100%;margin-top: 5%;padding-left: 6%;">
 *ngIf="!images"      <input placeholder="Enter Description..." [(ngModel)]="description" name="description"
      style="width: 100%;border-radius: 20px;height:50px;padding-left: 5%;">
  </button> -->

  <div (click)="selectImage()" style="margin-top:3%;text-align: left; font-size: 11pt; margin-left: 3%; margin-bottom: 3%;">Attach Image</div>
  <div (click)="selectImage()" class="backgroundimg">
   <img src="assets/img/attach.png" style="padding-top:1%;padding-bottom:1%;width:10%;height:auto;margin-left: 15%;">
  </div>


  <ion-grid no-padding style="margin-top: 5%;" *ngIf="images">
    <ion-row>
      <ion-col size="4">
            <img src="assets/img/attach.png" style="width:30%;height:auto;margin-left: 25%;">
      </ion-col>
      <ion-col size="5" style="margin-left: -10%;margin-top: 3%;">
          <ion-label style="font-size: small; color:#000;">
          Image
          </ion-label>
        </ion-col>
      <ion-col size="3">
          <div text-right>
              <img src="{{images}}" style="width:50px; height:auto;float:left">
            </div>
        </ion-col>
    </ion-row>
  </ion-grid>

  <!-- <ion-label *ngIf="!images" style="font-size: 11pt;padding-left: 5%;padding-top: 10%;">Attach Image</ion-label>
  <button block ion-button icon-only color="----ion-color-light" style="margin-top: 3%;" (click)="selectImage()" *ngIf="!images">
    <ion-icon name="attach"  item-left ></ion-icon>
  </button> -->

  <!-- <ion-grid no-padding style="margin-top: 3%;" *ngIf="images">
    <ion-row>
      <ion-col>
        <ion-item >
          <ion-icon name="ios-image" item-left></ion-icon>
          <ion-input (click)="selectImage()" readonly placeholder="Attach image"></ion-input>
        </ion-item>
      </ion-col>

      <ion-col >
          <div text-right>
              <img src="{{images}}" style="width:50px; height:auto; ">
            </div>
        </ion-col>
    </ion-row>
  </ion-grid> -->
</ion-list>

  <ion-grid style="margin-top:3% ;">
    <ion-row>
      <ion-col size="6">
        <ion-item style="width:100%;background-color: #efeff0;border-radius: 25px;">
          <h6 *ngIf="!from_date" style="text-align: center;font-size: small;color:#000;margin-top:0%">From DATE</h6>
          <ion-datetime
            displayFormat="MMM DD YYYY"
            [(ngModel)]="from_date"
            name="from_date"
            max="2022-12-31"
            style="text-align: center;color:#000;font-size: smaller;"
            ></ion-datetime>
        </ion-item>
      </ion-col>
      <ion-col size="6">
        <ion-item style="width:100%;background-color: #efeff0;border-radius: 25px;">
          <h6 *ngIf="!to_date" style="text-align: center;font-size: small;color:#000;margin-top:0%">To DATE</h6>
          <ion-datetime
          displayFormat="MMM DD YYYY"
          [(ngModel)]="to_date"
          name="to_date"
          max="2022-12-31"
          style="text-align: center;color:#000;font-size: smaller;"
          ></ion-datetime>
        </ion-item>
  </ion-col>
    </ion-row>
  </ion-grid>

  <!-- <ion-grid  style="padding-top: 10%;">
    <ion-row>
      <ion-col col-6>
        <ion-item>
          <ion-label style="font-size: 9pt;">FROM DATE</ion-label>
          <ion-datetime
            displayFormat="MMM DD YYYY"
            [(ngModel)]="from_date"
            name="from_date"
            max="2022-12-31"
          ></ion-datetime>
        </ion-item>
      </ion-col>
      <ion-col col-6>
        <ion-item>
          <ion-label style="font-size: 9pt;">TO DATE</ion-label>
        <ion-datetime
        displayFormat="MMM DD YYYY"
        [(ngModel)]="to_date"
        name="to_date"
        max="2022-12-31"
    ></ion-datetime>
        </ion-item>
  </ion-col>
    </ion-row>
  </ion-grid> -->

</div>
</ion-card>
<ion-grid style="margin-top: 10%;">
  <ion-row>

    <ion-col size="6" >
       <ion-button expand="block" shape="round" color="color1" (click)="cancel()" style="background-color:#454545;border-radius: 25px;">
        CANCEL
      </ion-button>
    </ion-col>
    <ion-col size="6">
      <ion-button expand="block" shape="round" color="color2" [disabled]="disabled()"
      (click)="post_leave()" style="background-color:#f9a825;border-radius: 25px;">
        REQUEST
      </ion-button>
    </ion-col>
  </ion-row>
</ion-grid>

</ion-content>
