<!-- <ion-header no-border>

  <ion-toolbar>
    <ion-buttons style="margin-top: -3%;" slot="start">
      <ion-button (click)="previouspage()">
        <ion-img src="assets/img/backicon.png"></ion-img>
      </ion-button>
    </ion-buttons>
    <ion-title style="text-align: center;margin-top: -4%;font-size: small;"><b>ALBUM</b></ion-title>
  </ion-toolbar>

</ion-header> -->


 <ion-content class="modal-holder">

  <div class="close-modal" (click)="dismiss()">
    <img src="assets/img/close-modal.png" alt="" >
  </div>

  <ion-grid no-padding>
    <ion-row>
      <ion-col>
        <ion-slides pager="true" #slides1>
          <ion-slide *ngFor="let image of images.images">
            <img src="{{image.image_url}}" style="width: 90%;height: auto;">
          </ion-slide>
        </ion-slides>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
