.modal-holder {
    // margin: 50px 10px;
     //background: #efeff0;
    //   border: 0px solid #a1a1a1;
     //  border-top:#000;
 
     // -webkit-box-shadow: 3px 4px 16px rgba(0,0,0,.18);
     // -moz-box-shadow: 3px 4px 16px rgba(0,0,0,.18);
     // box-shadow: 3px 4px 16px rgba(0,0,0,.18);
 //    position: relative;
     width: 90%;
      height: 80%;
      top:8%;
      left: 3%;
      right: 3%;
      bottom: 15%;
   }
   .close-modal {
     position: absolute;
 //    top: 5%;
     right: 10px;
     z-index: 50;
     cursor: pointer;
     img {
       max-width: 25px;
     }
   }