<ion-header no-border>
  <ion-toolbar>
    <ion-buttons slot="start" style="margin-top: -3%;">
      <ion-menu-button>
        <img src="assets/img/icon-Menu copy.png" style="width:50%;height:auto">
      </ion-menu-button>
    </ion-buttons>    <!-- <ion-buttons slot="start" menuToggle icon-only>
      <img src="assets/img/icon-Menu copy.png" style="width:50%;height:auto">
    </ion-buttons> -->
    <ion-title style="margin-left:30%;font-size:small;margin-top: -4%;"><b>Zoom Login</b></ion-title>
    </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true" padding style="--ion-background-color:#efeff0;">
  <!-- <ion-card>
    <ion-card-header color="primary">
      Login User can:
    </ion-card-header>
    <ion-card-content>
      <ul>
        <li>join a meeting</li>
        <li>start a scheduled meeting</li>
        <li>start an instant meeting</li>
      </ul>
    </ion-card-content>
  </ion-card> -->
  <ion-card padding *ngIf="!loggedIn" style="border-radius:15px;margin-top: 15%;background-color: #fff;">
    <div class="appForm"  margin-bottom>
      <ion-list  style="background-color: #fff;">
        <div style="text-align: left; font-size: 11pt; margin-left: 3%; margin-bottom: 3%;">Email</div>
        <div class="backgroundimg2">
          <ion-input type="text" class="place" style="margin-left: 15%;" [(ngModel)]="userName" name="userName" placeholder="Email" required></ion-input>
        </div>
        <div style="text-align: left; font-size: 11pt; margin-left: 3%; margin-bottom: 3%;margin-top: 3%;">Password</div>
        <div class="backgroundimg2">
          <ion-input type="password" class="place" style="margin-left: 15%;" [(ngModel)]="password" name="password" placeholder="Password" required></ion-input>
        </div>
      </ion-list>
      </div>
      <div padding>
      <ion-button *ngIf="!loggedIn" (click)="login()" shape="round" size="block" color="color2" 
      style="border-radius:25px;margin-top: 5%;background-color: #f9a825;">
        Login
      </ion-button>
      <ion-button *ngIf="loggedIn" (click)="logout()" shape="round" size="block" color="color1" 
      style="border-radius:25px;margin-top: 5%;background-color: #454545;">
       Logout
      </ion-button>
    </div>
  </ion-card>
  <ion-card padding *ngIf="loggedIn" style="border-radius:15px;margin-top: 15%;background-color: #fff;">
      <div padding>
        <ion-button *ngIf="loggedIn" (click)="startInstantMeeting()" shape="round" size="block" color="color2" 
        style="border-radius:25px;margin-top: 5%;background-color: #f9a825;">
        Start an Instant Meeting
      </ion-button>
      </div>
      <div class="appForm"  margin-bottom>
        <ion-list  style="background-color: #fff;">
          <div style="text-align: left; font-size: 11pt; margin-left: 3%; margin-bottom: 3%;">Meeting Number</div>
          <div class="backgroundimg2">
            <ion-input  class="place" style="margin-left: 15%;" type="string" [(ngModel)]="meetingNumber" name="meetingNumber" placeholder="Meeting Number" required></ion-input>
          </div>
          <div style="text-align: left; font-size: 11pt; margin-left: 3%; margin-bottom: 3%;margin-top: 3%;">Meeting Password (if any)</div>
          <div class="backgroundimg2">
            <ion-input  class="place" style="margin-left: 15%;" type="password" [(ngModel)]="meetingPassword" name="meetingPassword" placeholder="Meeting Password" required></ion-input>
          </div>
      </ion-list>
    </div>
   <div padding> 
    <ion-button (click)="joinMeeting()" shape="round" size="block" color="color2" 
    style="border-radius:25px;margin-top: 5%;background-color: #f9a825;">
    Join a Meeting</ion-button>
    <ion-button (click)="startMeeting()" shape="round" size="block" color="color2" 
    style="border-radius:25px;margin-top: 5%;background-color: #f9a825;">
    Start a Meeting</ion-button>
  </div>
  </ion-card>
</ion-content>
