<ion-header no-border>

  <ion-toolbar>
    <ion-buttons slot="start" style="margin-top:-4%;">
      <ion-menu-button>
        <img src="assets/img/icon-Menu copy.png" style="width:50%;height:auto">
      </ion-menu-button>
    </ion-buttons>   
    <ion-title style="font-size: small;text-align: center;margin-top:-4%"><b>VIDEO</b></ion-title>
    <ion-buttons slot="end" style="width:20%;height:auto;margin-top:-4%">
      <ion-item  >
        <ion-button>
        <img src="assets/img/calender icon.png" style="width:80%;height:auto">
        <ion-select [(ngModel)]="filtermonthwise" (ionChange)="loadResource(filtermonthwise)">
          <ion-select-option value=1>January </ion-select-option>
          <ion-select-option value=2>February </ion-select-option>
          <ion-select-option value=3>March </ion-select-option>
          <ion-select-option value=4>April </ion-select-option>
          <ion-select-option value=5>May </ion-select-option>
          <ion-select-option value=6>June </ion-select-option>
          <ion-select-option value=7>July </ion-select-option>
          <ion-select-option value=8>August </ion-select-option>
          <ion-select-option value=9>September </ion-select-option>
          <ion-select-option value=10>October </ion-select-option>
          <ion-select-option value=11>November </ion-select-option>
          <ion-select-option value=12>December </ion-select-option>
        </ion-select>
      </ion-button>

      </ion-item>
    </ion-buttons>
 </ion-toolbar>

</ion-header>


<ion-content padding style="--ion-background-color:#efeff0;">
  <div *ngFor="let video of allvideo" >
   <ion-card *ngIf="video.video_name" style="border-radius: 20px; margin-top: 5%;background-color: #fff;">
    <ion-grid >
      <ion-row>
        <ion-col size="12"  style="margin-top: 5%;" >
          <div class="container" >
            <video  poster="{{video.video_url}}"  preload="auto" crossorigin (click)="playvideo(video.video_url)"
            style="width:100%;height:150px">
              <source src="{{video.video_url}}" type="video/mp4">
            </video>
         <div style="padding-bottom: 5%;padding-left: 3%;margin-top: 5%;" >
              <h6 *ngIf="video.video_name" style="text-align:center;font-size: 11pt;background-color: #f9a825;border-radius: 20px;
              color:#fff;padding-top: 4%;padding-bottom:4% ;">
              <b>Name: {{video.video_name |titlecase}}</b></h6>
              <h6 *ngIf="video.description" style="text-align:center;padding-top: 4%;padding-bottom:4% ;color:#fff;font-size: 11pt;background-color: #f9a825;border-radius: 20px;">
                <b>Desription: {{video.description |titlecase}}</b></h6>
            </div>
          </div>
        </ion-col >
      </ion-row>
    </ion-grid>
  </ion-card>

  </div>
</ion-content>
