// ion-menu ion-content {
//   --background: var(--ion-item-background, var(--ion-background-color, #fff));
// }

// ion-menu.md ion-content {
//   --padding-start: 8px;
//   --padding-end: 8px;
//   --padding-top: 20px;
//   --padding-bottom: 20px;
// }

// ion-menu.md ion-list {
//   padding: 20px 0;
// }

// ion-menu.md ion-note {
//   margin-bottom: 30px;
// }

// ion-menu.md ion-list-header,
// ion-menu.md ion-note {
//   padding-left: 10px;
// }

// ion-menu.md ion-list#inbox-list {
//   border-bottom: 1px solid var(--ion-color-step-150, #d7d8da);
// }

// ion-menu.md ion-list#inbox-list ion-list-header {
//   font-size: 22px;
//   font-weight: 600;

//   min-height: 20px;
// }

// ion-menu.md ion-list#labels-list ion-list-header {
//   font-size: 16px;

//   margin-bottom: 18px;

//   color: #757575;

//   min-height: 26px;
// }

// ion-menu.md ion-item {
//   --padding-start: 10px;
//   --padding-end: 10px;
//   border-radius: 4px;
// }

// ion-menu.md ion-item.selected {
//   --background: rgba(var(--ion-color-primary-rgb), 0.14);
// }

// ion-menu.md ion-item.selected ion-icon {
//   color: var(--ion-color-primary);
// }

// ion-menu.md ion-item ion-icon {
//   color: #616e7e;
// }

// ion-menu.md ion-item ion-label {
//   font-weight: 500;
// }

// ion-menu.ios ion-content {
//   --padding-bottom: 20px;
// }

// ion-menu.ios ion-list {
//   padding: 20px 0 0 0;
// }

// ion-menu.ios ion-note {
//   line-height: 24px;
//   margin-bottom: 20px;
// }

// ion-menu.ios ion-item {
//   --padding-start: 16px;
//   --padding-end: 16px;
//   --min-height: 50px;
// }

// ion-menu.ios ion-item.selected ion-icon {
//   color: var(--ion-color-primary);
// }

// ion-menu.ios ion-item ion-icon {
//   font-size: 24px;
//   color: #73849a;
// }

// ion-menu.ios ion-list#labels-list ion-list-header {
//   margin-bottom: 8px;
// }

// ion-menu.ios ion-list-header,
// ion-menu.ios ion-note {
//   padding-left: 16px;
//   padding-right: 16px;
// }

// ion-menu.ios ion-note {
//   margin-bottom: 8px;
// }

// ion-note {
//   display: inline-block;
//   font-size: 16px;

//   color: var(--ion-color-medium-shade);
// }

// ion-item.selected {
//   --color: var(--ion-color-primary);
// }
.imgBg{
  background-size:100% 100%;
  background-repeat:no-repeat;
  background-position:center center;
}
ion-menu{
  width:63%;
  top:40px + 8px;
  bottom:0px;
  left:8px;
  border-radius: 25px;
  --ion-background-color:#efeff0;
    show-backdrop{
      opacity:0!important;
  }
  ion-content{
    scroll-content{
        margin-top:0px!important;
    }
    ion-list{
        
        // border-radius: 35px;
        //        padding:8px 0px;
        ion-menu-toggle{
     //     width:220px;
         border-radius: 25px;
      ion-img{
        //    background: url('../assets/img/doodle.png');
            padding:0px 8px;
            height:34px;
            margin-bottom:0px;
            p{
                color: var(#3e3d3d);
                font-weight:400;
            }
            img{
                width: 14px;
                min-width: 0px;
                font-size: 1.6rem;
                display: flex;
                align-items: center;
            }
        }
      }
    }
}
  ion-footer{
      padding:0px 8px;
      .button{
          width:auto;
          margin:0px;
          margin-bottom:40px;
          margin-left:14px;
          padding:0px 8px;
          opacity:1;
          .button-inner{
              color:var(#f9a825);
              //@extend p;
              font-weight:400;
          }
      }
  }
}