<ion-menu contentId="main-content" >
      <ion-content >
    <ion-list [ngStyle]="{'background-image':'url(' + item + ')'}" class="imgBg" 
    style="margin-top: 10%;margin-bottom: 10%;background-color: #ffffff;border-radius: 25px;">
      <ion-menu-toggle auto-hide="false" style="width: 50%;">
      <ion-img src="assets/img/homesidemenu.png" style="width:70%;" (click)="home()" *ngIf="this.globalVar.current_user && this.globalVar.current_user.information && this.globalVar.current_user.role=='faculty'">
      </ion-img>

      <ion-img src="assets/img/attendance_sidemenu.png" style="width:70%;" (click)="attendance()" *ngIf="this.globalVar.current_user && this.globalVar.current_user.information && this.globalVar.current_user.role=='faculty'">
      </ion-img>

      <ion-img src="assets/img/diary_sidemenu.png" style="width:70%;" (click)="diary()" *ngIf="this.globalVar.current_user && this.globalVar.current_user.information && this.globalVar.current_user.role=='faculty'">
      </ion-img>

      <!-- <ion-img src="assets/img/timetable_sidemenu.png" style="width:70%;" (click)="timetable()" *ngIf="this.globalVar.current_user && this.globalVar.current_user.information && this.globalVar.current_user.role=='faculty'">
      </ion-img> -->

      <ion-img src="assets/img/notice_sidemenu.png" style="width:70%;" (click)="notice()" *ngIf="this.globalVar.current_user && this.globalVar.current_user.information && this.globalVar.current_user.role=='faculty'">
      </ion-img>

      <ion-img src="assets/img/leave_sidemenu.png" style="width:70%;" (click)="teacher_leave()" *ngIf="this.globalVar.current_user && this.globalVar.current_user.information &&  this.globalVar.current_user.role=='faculty'">
      </ion-img>

      <ion-img  src="assets/img/meeting_sidemenu.png" style="width:70%;" (click)="ptm_teacher()" *ngIf="this.globalVar.current_user && this.globalVar.current_user.information && this.globalVar.current_user.role=='faculty'">
      </ion-img>

      <ion-img  src="assets/img/event_sidemenu.png" style="width:70%;" (click)="school_events()" *ngIf="this.globalVar.current_user && this.globalVar.current_user.information && this.globalVar.current_user.role=='faculty'">
      </ion-img>

      <ion-img src="assets/img/album_sidemenu.png" style="width:70%;" (click)="album()" *ngIf="this.globalVar.current_user && this.globalVar.current_user.information &&  this.globalVar.current_user.role=='faculty'">
      </ion-img>

      <ion-img  src="assets/img/video_sidemenu.png" style="width:70%;" (click)="teacher_video()" *ngIf="this.globalVar.current_user && this.globalVar.current_user.information && this.globalVar.current_user.role=='faculty'">
      </ion-img>

      <ion-img  src="assets/img/resources_sidemenu.png" style="width:70%;" (click)="teacher_resouce()" *ngIf="this.globalVar.current_user && this.globalVar.current_user.information && this.globalVar.current_user.role=='faculty'">
      </ion-img>

      <ion-img  src="assets/img/result_sidemenu.png" style="width:70%;" (click)="faculty_Result()" *ngIf="this.globalVar.current_user && this.globalVar.current_user.information && this.globalVar.current_user.role=='faculty'">
      </ion-img>

      <ion-img  src="assets/img/progress_sidemenu.png" style="width:70%;" (click)="faculty_Progress()" *ngIf="this.globalVar.current_user && this.globalVar.current_user.information && this.globalVar.current_user.role=='faculty'">
      </ion-img>

      <ion-img  src="assets/img/timetable_sidemenu.png" style="width:70%;" (click)="faculty_timetable()" *ngIf="this.globalVar.current_user && this.globalVar.current_user.information && this.globalVar.current_user.role=='faculty'">
      </ion-img>

        <ion-img src="assets/img/zoom.png" style="width:70%;" (click)="LoginUser()" *ngIf="this.globalVar.current_user && this.globalVar.current_user.information && this.globalVar.current_user.role=='faculty'"></ion-img>

      

      <!-- parents side menu -->

      <!-- <ion-item  > -->
        <ion-img src="assets/img/homesidemenu.png" style="width:70%;" (click)="parentsHome()" *ngIf="this.globalVar.current_user && this.globalVar.current_user.information && this.globalVar.current_user.role=='parent'"></ion-img>
        <!-- <ion-icon name="{{p.icon}}" color="color2"  item-left></ion-icon> -->
        <!-- <p>Home</p> -->
      <!-- </ion-item> -->

      <!-- <ion-item  > -->
        <ion-img src="assets/img/profile_sidemenu.png" style="width:70%;" (click)="ChildSummary()" *ngIf="this.globalVar.current_user && this.globalVar.current_user.information && this.globalVar.current_user.role=='parent'"></ion-img>
        <!-- <ion-icon name="{{p.icon}}" color="color2"  item-left></ion-icon> -->
        <!-- <p>Child Summary</p> -->
      <!-- </ion-item> -->

      <!-- <ion-item  > -->
        <ion-img src="assets/img/diary_sidemenu.png" style="width:70%;" (click)="studentsDiary()" *ngIf="this.globalVar.current_user && this.globalVar.current_user.information && this.globalVar.current_user.role=='parent'"></ion-img>
        <!-- <img src="assets/img/menu/timetable.jpg" item-left width="14px" >
        <p>Diary</p> -->
      <!-- </ion-item> -->

      <!-- <ion-item  > -->
        <ion-img src="assets/img/attendance_sidemenu.png" style="width:70%;" (click)="ChidAttendance()" *ngIf="this.globalVar.current_user && this.globalVar.current_user.information && this.globalVar.current_user.role=='parent'"></ion-img>
        <!-- <img src="assets/img/home/012.png" item-left width="14px" >
        <p>Attendance</p> -->
      <!-- </ion-item> -->

      <!-- <ion-item > -->
        <ion-img src="assets/img/event_sidemenu.png" style="width:70%;"  (click)="calenders()" *ngIf="this.globalVar.current_user && this.globalVar.current_user.information && this.globalVar.current_user.role=='parent'"></ion-img>
        <!-- <img src="assets/img/eventsimage.png" item-left width="14px" >
        <p>Events</p> -->
      <!-- </ion-item> -->

      <!-- <ion-item  > -->
        <ion-img src="assets/img/payment_sidemenu.png" style="width:70%;" (click)="payment()" *ngIf="this.globalVar.current_user && this.globalVar.current_user.information && this.globalVar.current_user.role=='parent'"></ion-img>
        <!-- <img src="assets/img/payment.png" item-left width="14px" >
        <p>Payment</p> -->
      <!-- </ion-item> -->

      <!-- <ion-item  > -->
        <ion-img src="assets/img/album_sidemenu.png" style="width:70%;" (click)="Album()" *ngIf="this.globalVar.current_user && this.globalVar.current_user.information && this.globalVar.current_user.role=='parent'"></ion-img>
        <!-- <img src="assets/img/home/albums.png" item-left width="14px" >
        <p>Album</p> -->
      <!-- </ion-item> -->

      <!-- <ion-item  > -->
        <ion-img src="assets/img/notice_sidemenu.png" style="width:70%;" (click)="Notice()" *ngIf="this.globalVar.current_user && this.globalVar.current_user.information && this.globalVar.current_user.role=='parent'"></ion-img>
        <!-- <img src="assets/img/home/006.png" item-left width="14px" >
        <p>Notice</p> -->
      <!-- </ion-item> -->

      <!-- <ion-item  > -->
        <ion-img src="assets/img/leave_sidemenu.png" style="width:70%;" (click)="parent_leave()" *ngIf="this.globalVar.current_user && this.globalVar.current_user.information && this.globalVar.current_user.role=='parent'"></ion-img>
        <!-- <img src="assets/img/home/012.png" item-left width="14px" >
        <p>Leave</p> -->
      <!-- </ion-item> -->

      <!-- <ion-item  > -->
        <ion-img src="assets/img/tracking_sidemenu.png" style="width:70%;" (click)="trackStudent()" *ngIf="this.globalVar.current_user && this.globalVar.current_user.information && this.globalVar.current_user.role=='parent'"></ion-img>
        <!-- <img src="assets/img/road.png" item-left width="14px" >
        <p>Track Student</p> -->
      <!-- </ion-item> -->

     <!-- <ion-item  > -->
        <ion-img src="assets/img/survey_sidemenu.png" style="width:70%;" (click)="parent_survey()" *ngIf="this.globalVar.current_user && this.globalVar.current_user.information && this.globalVar.current_user.role=='parent'"></ion-img>
        <!-- <img src="assets/img/survey.png" item-left width="14px" >
        <p>Survey</p> -->
      <!-- </ion-item> -->

      <!-- <ion-item  > -->
        <ion-img src="assets/img/meeting_sidemenu.png" style="width:70%;" (click)="ptm()" *ngIf="this.globalVar.current_user && this.globalVar.current_user.information && this.globalVar.current_user.role=='parent'"></ion-img>
        <!-- <img src="assets/img/home/0101.png" item-left width="14px" >
        <p>PTM</p> -->
      <!-- </ion-item> -->

      <!-- <ion-item  > -->
        <ion-img src="assets/img/video_sidemenu.png" style="width:70%;" (click)="parent_video()" *ngIf="this.globalVar.current_user && this.globalVar.current_user.information && this.globalVar.current_user.role=='parent'"></ion-img>
        <!-- <img src="assets/img/home/0101.png" item-left width="14px" >
        <p>Video</p> -->
      <!-- </ion-item> -->

      <!-- <ion-item > -->
        <ion-img src="assets/img/resources_sidemenu.png" style="width:70%;" (click)="parent_resouce()" *ngIf="this.globalVar.current_user && this.globalVar.current_user.information && this.globalVar.current_user.role=='parent'"></ion-img>
        <!-- <img src="assets/img/home/011.png" item-left width="14px" >
        <p>Resource</p> -->
      <!-- </ion-item> -->

      <!-- <ion-item  > -->
        <ion-img src="assets/img/result_sidemenu.png" style="width:70%;" (click)="parent_Result()" *ngIf="this.globalVar.current_user && this.globalVar.current_user.information && this.globalVar.current_user.role=='parent'"></ion-img>
        <!-- <img src="assets/img/home/011.png" item-left width="14px" >
        <p>Result</p> -->
      <!-- </ion-item> -->

      <ion-img src="assets/img/timetable_sidemenu.png" style="width:70%;" (click)="parent_timetable()" *ngIf="this.globalVar.current_user && this.globalVar.current_user.information && this.globalVar.current_user.role=='parent'"></ion-img>
      
       <ion-img src="assets/img/zoom.png"  style="width:70%;" (click)="NonLoginUser()" *ngIf="this.globalVar.current_user && this.globalVar.current_user.information && this.globalVar.current_user.role=='parent'"></ion-img>

      <ion-img src="assets/img/resetpassword.png" style="width:40%;" (click)="resetPassword()"></ion-img>

    </ion-menu-toggle>
  </ion-list>
  </ion-content>
  <ion-footer no-border>
    <ion-menu-toggle>
    <div menuClose style="margin-top: 15%;margin-left:5%;margin-bottom: 5%;">
      <img src="assets/img/logout.png" (click)="logout()" style="width: 20%;height: auto;">
      </div>
    </ion-menu-toggle>
  </ion-footer>
  
</ion-menu>
<ion-router-outlet id="main-content"></ion-router-outlet>

<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<!-- <ion-nav [root]="rootPage" #content swipeBackEnabled="false" [class.animateApp]="animateVarible==true"></ion-nav> -->
<!-- <ion-app>
  <ion-split-pane contentId="main-content">
    <ion-menu contentId="main-content" type="overlay">
      <ion-content>
        <ion-list id="inbox-list">
          <ion-list-header>Inbox</ion-list-header>
          <ion-note>hi@ionicframework.com</ion-note>

          <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages; let i = index">
            <ion-item (click)="selectedIndex = i" routerDirection="root" [routerLink]="[p.url]" lines="none" detail="false" [class.selected]="selectedIndex == i">
              <ion-icon slot="start" [ios]="p.icon + '-outline'" [md]="p.icon + '-sharp'"></ion-icon>
              <ion-label>{{ p.title }}</ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>

        <ion-list id="labels-list">
          <ion-list-header>Labels</ion-list-header>

          <ion-item *ngFor="let label of labels" lines="none">
            <ion-icon slot="start" ios="bookmark-outline" md="bookmark-sharp"></ion-icon>
            <ion-label>{{ label }}</ion-label>
          </ion-item>
        </ion-list>
      </ion-content>
    </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app> -->
