<ion-header no-border>

  <ion-toolbar>
    <ion-buttons style="margin-top: -3%;" slot="start">
      <ion-button (click)="previouspage()">
        <ion-img src="assets/img/backicon.png"></ion-img>
      </ion-button>
    </ion-buttons>

    <ion-title style="margin-left:30%;;margin-top:-4%;font-size: small;"><b>CHAT</b></ion-title>
  </ion-toolbar>

</ion-header>


<ion-content padding style="--ion-background-color:#efeff0;">


  <div *ngFor="let cmnt of cmntShow; let i=index" >
    <ion-grid *ngIf="cmnt.comment!=null">
      <ion-row>
        <ion-col size="4">
          <img src="assets/img/meeting/teacher1.png" *ngIf="cmnt.sentby!='parent'">
          <h6 *ngIf="cmnt.sentby=='parent'" style="margin-top: 10%;">{{cmnt.commentTime | date: 'hh:mm'}}</h6>
        </ion-col>
        <ion-col size="2"></ion-col>
        <ion-col size="4" >
          <img src="assets/img/meeting/parent1.png" *ngIf="cmnt.sentby=='parent'" >
            <h6 *ngIf="cmnt.sentby!='parent'" style="margin-top: 6%;">{{cmnt.commentTime | date: 'hh:mm'}}</h6>
          </ion-col>
      </ion-row>
    </ion-grid>
    <div [ngStyle]="{'background-image':'url(' + bgparent + ')'}" class="backgroundimg" *ngIf="cmnt.sentby!='parent' && cmnt.comment!=null">
          <h6 text-wrap style="padding-left:10%;padding-top: 5%;padding-bottom: 5%;color:#fff">{{cmnt.comment}}</h6>
    </div>

    <div [ngStyle]="{'background-image':'url(' + bgteacher + ')'}" class="backgroundimg" *ngIf="cmnt.sentby=='parent' && cmnt.comment!=null">
        <h6 style="padding-left:10%;padding-top: 5%;padding-bottom: 5%;color:#fff" text-wrap>{{cmnt.comment}}</h6>
  </div>

  </div>


</ion-content>
<ion-footer style="background-color: #efeff0;" no-border>
  <ion-grid>
      <ion-row>
        <ion-col size="10" >
          <ion-card padding style="width:95%;height:auto;border-radius: 25px;background-color: #fff;">

            <div class="appForm"  margin-bottom>

              <ion-list>

          <div style="margin-top:5%;"></div>
            <div [ngStyle]="{'background-image':'url(assets/img/meeting/attachmentsymbol.png)'}"
             style="background-size:contain; background-repeat: no-repeat;">
             <ion-input type="text" class="place" style="margin-left: 20%;" spellCheck="true" placeholder="Enter Your message..." [(ngModel)]="comment" name="comment"></ion-input>
           </div>
        </ion-list>
        </div>
        </ion-card>
        </ion-col>
    <ion-col size="2" style="margin-top:10%;">
          <ion-button (click)="submit()" color="color2" class="comment_Btn" style="background-color: #f9a825;">
            <img src="assets/img/paperplane.png" >
            <!-- <ion-icon name="paper-plane" (click)="submit()" ></ion-icon> -->
          </ion-button>
            </ion-col>
   </ion-row>
</ion-grid>


</ion-footer>
