@import '../../../theme/variables.scss';
@import '../../../global.scss';
// .header{
//     width:44px;
//     .toolbar{
//         .toolbar-background{
//             background-color:transparent;
//         }
//     }
// }
.backgroundimg
{
//    background: url('../../assets/bgcover.png') no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: contain;
}

.sign{
    @extend .imgBg;
    text-align: center;    
    .scroll-content{
        margin-top:0px!important;
        .note{
            color: color($colors,light);
            @include whiteNormal(30px,2);
            margin: 8px 0px;
        }
    }
}
.logo{
    display:inline-block;
    margin:50px 0px;
    max-width:100%;
    h3{
        color: color($colors,color2);
        font-weight:300;
        font-size:3rem!important;
        margin: 0px!important;
        @include whiteNormal(40px,1);
    }
    p{
        margin:0px;
        color:color($colors,light);
        @include whiteNormal(15px,1);
    }
}
.forgot{
    margin:10px 0px 0px;
    color:var(#fff);
   @include whiteNormal(34px,1);
}

.backgroundimg
{
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

%orSpan{
content:'';
margin:auto 0px;
height:1px;
background: var(#fff);
width:calc(50% - (35px/2) );
}
.or{
color: var(#fff);
@include whiteNormal(20px,1);
width:100%;
font-size:1.3rem;
text-align: center;
position:relative;
margin:10px 0px;
&:before{
    @include position(0px,auto,0px,0px);
    @extend  %orSpan;
}
&:after{
    @include position(0px,0px,0px,auto);
    @extend  %orSpan;
}
}

.socialMedia{   
display:flex;
justify-content:center;
.button{
    @include borderRadius(44px);
    margin:0px 8px*2;
    ion-icon{
        color: color($colors,color1);
        font-size:2.2rem;
    }
}
}

.place{
    ::placeholder{
        color: #d0d0d1;
    }
}
