
<!-- <ion-header>
  <ion-toolbar>
    <ion-title></ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content style="--ion-background-color:#efeff0;">
  <div style="background-image:url(assets/img/signin/background.png);height:100%" class="sign">

  <div class="logo" style="width:40%;">
    <img src="assets/img/signin/1.png">
  </div>
  <div padding style="margin-left: 3%; margin-right: 3%;">
    <ion-card  style="border-radius:15px;background-color: #fff;">
    <div padding class="appForm" margin-bottom>
      <ion-list style="background-color: #fff;" >
        <div style="text-align: left; font-size: 11pt; margin-left: 3%; margin-bottom: 3%;color:#000;">Enter Email/Phone</div>
        <div [ngStyle]="{'background-image':'url(assets/img/signin/emailbox.png)'}" 
     style="background-size:contain; background-repeat: no-repeat;">
          <ion-input type="email" class="place"  [(ngModel)]="_email" placeholder="Email/Phone" required="true"></ion-input>
        </div>
        <div style="text-align: left; font-size: 11pt; margin-left: 3%; margin-bottom: 3%;margin-top: 3%;color:#000;">Enter Password</div>
        <div [ngStyle]="{'background-image':'url(assets/img/signin/passwordbox.png)'}" 
        style="background-size:contain; background-repeat: no-repeat;" >
          <ion-input type="password" class="place"  [(ngModel)]="_password" name="password" #password="ngModel" placeholder="Password" required style="width: 100%;"></ion-input>
        </div>
      </ion-list>
    </div>
    <div style="background-color: transparent;" (click)="doLogin()"><img src="assets/img/signin/loginbutton.png"></div>
    <!-- <div class="forgot" style="font-size: 9pt; color:#454545; margin-bottom:7%;" (click)="passwordModal()">Forgot Password?</div> -->
  </ion-card>
</div> 
</div>
</ion-content>
