.backgroundimg
{
//    background: url('../../assets/bgcover.png') no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.docenter{
  width: 100%;
  text-align:center;
}