<ion-header no-border>

  <ion-toolbar>
    <ion-buttons slot="start" style="margin-top:-4%;">
      <ion-menu-button>
        <img src="assets/img/icon-Menu copy.png" style="width:50%;height:auto">
      </ion-menu-button>
    </ion-buttons>
    <ion-title style="font-size:small;text-align: center;margin-top:-4%;"><b>RESULT</b></ion-title>
    <ion-buttons slot="end" style="width:20%;height:auto;margin-top:-4%;">
      <ion-item  >
        <ion-button>
        <img src="assets/img/calender icon.png" style="width:80%;height:auto">
        <ion-select [(ngModel)]="filtermonthwise" (ionChange)="loadResult(filtermonthwise)">
          <ion-select-option value=1>January </ion-select-option>
          <ion-select-option value=2>February </ion-select-option>
          <ion-select-option value=3>March </ion-select-option>
          <ion-select-option value=4>April </ion-select-option>
          <ion-select-option value=5>May </ion-select-option>
          <ion-select-option value=6>June </ion-select-option>
          <ion-select-option value=7>July </ion-select-option>
          <ion-select-option value=8>August </ion-select-option>
          <ion-select-option value=9>September </ion-select-option>
          <ion-select-option value=10>October </ion-select-option>
          <ion-select-option value=11>November </ion-select-option>
          <ion-select-option value=12>December </ion-select-option>
        </ion-select>
      </ion-button>

      </ion-item>
    </ion-buttons>
  </ion-toolbar>

</ion-header>


<ion-content padding style="--ion-background-color:#efeff0;">
  <ion-card style="border-radius:20px;background-color: #fff;" *ngFor="let result of show_result;let i=index">
    <ion-grid style="padding-top: 3%;padding-bottom: 3%;" *ngIf="result.marks_obtained">
      <div [ngStyle]="{'background-image':'url(' + courseimg + ')'}" class="imgBg">
        <ion-row>
          <ion-col>
           <h6 class="docenter" style="text-align:center;color:#fff;
           font-size: 13pt;">
             <b>{{result.section_course.course_name | titlecase}} </b></h6>
            </ion-col>
          </ion-row>
    </div>
    <ion-row style="margin-top: -5%;">
      <ion-col size="5">
        <h6 style="color: #666666;font-size: 10pt;">Category</h6>
        <ion-label style="color:#000;font-size: 13pt;margin-top: -7%;"><b>
          {{result.result_category | uppercase}}</b></ion-label>
       </ion-col>

       <!-- <ion-col col-3>
        <p >Total Marks</p>
        <ion-label style="padding-left: 5%;background-color: #454545;border-radius: 25px;font-size: 9pt;color:#fff">
          {{result.total_marks}}</ion-label>
      </ion-col> -->

      <ion-col size="4">
        <h6  style="text-align:center;color: #666666;font-size: 10pt;">Section</h6>
        <h6 style="text-align:center;width:40%;margin-left: 30%;margin-top: -7%;
        background-color: #454545;border-radius: 25px;font-size: 9pt;color:#fff">
          {{result.student.class_section.section.section_name}}</h6>
      </ion-col>

      <ion-col size="3" >
        <h6 style="text-align:center;color: #666666;font-size: 10pt;">Class</h6>
        <h6 style="text-align:center;width:80%;margin-left: 10%;margin-top: -7%;
        background-color: #454545;border-radius: 25px;font-size: 9pt;color:#fff">
          {{result.student.class_section.school_class.class_name}}</h6>
      </ion-col>
    </ion-row>
    <div style="border-bottom: 1px solid #454545;"></div>
    <ion-row no-padding style="margin-top: -3%;">
      <ion-col size="7" >
        <h6 style="color: #666666;font-size: 8pt;">Obtained Marks
          <span style="background-color: #454545;
          border-radius: 10px;padding-left: 5%;color:#fff;margin-top: 10%;
          padding-right: 5%;font-size: 8pt;">
          {{result.marks_obtained}}
          </span>

        </h6>
      </ion-col>
      <ion-col size="5">
          <h6 style="color: #666666;font-size: 8pt;">Total Marks &nbsp;
            <span style="background-color: #454545;
            border-radius: 25px;padding-left: 5%;color:#fff;margin-top: 10%;
            padding-right: 5%;font-size: 8pt;">
            {{result.total_marks}}
            </span>

          </h6>
        </ion-col>
    </ion-row>

  </ion-grid>

</ion-card>

</ion-content>
