<ion-header no-border>
  <ion-toolbar>
    <ion-buttons slot="start" style="margin-top:-4%;">
      <ion-button (click)="previouspage()">
        <ion-img src="assets/img/backicon.png"></ion-img>
      </ion-button>
    </ion-buttons>
    <ion-title style="text-align: center;font-size:small;margin-top:-4%;"><b>MEETING DETAILS</b></ion-title>
    <!-- <ion-buttons end>
      <button ion-button navPush="NotificationsPage" class="notification_Btn" >
        <img src="assets/img/Group 19.png" style="width:50%;height:auto">
      </button>
    </ion-buttons> -->
  </ion-toolbar>
</ion-header>
<ion-content padding style="--ion-background-color:#efeff0;">
  <div class="appForm"  margin-bottom>

    <ion-list>

    <ion-card style="margin-top: 3%; border-radius: 15px; background-color: #fff;">
      <ion-row style="margin:2%;">
        <ion-col size="3">
          <ion-img src="assets/img/meeting/teacher.png"></ion-img>
        </ion-col>
        <ion-col size="9">
          <ion-label style="font-size: 10pt;">{{meeting.facultyname}}</ion-label>
        </ion-col>
      </ion-row>
    </ion-card>
    <ion-card style="margin-top: 3%; border-radius: 15px;background-color:#fff; ">
      <ion-row style="margin:2%;">
        <ion-col size="3">
          <ion-img src="assets/img/meeting/Subject.png"></ion-img>
        </ion-col>
        <ion-col size="9">
          <ion-label style="font-size: 10pt;">{{meeting.subject}}</ion-label>
        </ion-col>
      </ion-row>
  </ion-card>
  <ion-card style="margin-top: 3%; border-radius: 15px;background-color:#fff ">
    <ion-row style="margin:2%;">
      <ion-col size="2">
        <ion-img src="assets/img/meeting/Time.png"></ion-img>
      </ion-col>
      <ion-col size="9">
        <ion-label style="font-size: 10pt;">{{meeting.appointmenttime}}</ion-label>
      </ion-col>
    </ion-row>
  </ion-card>

  <ion-card style="margin-top: 3%; border-radius: 15px;background-color: #fff; ">
    <ion-row style="margin:2%;">
      <ion-col size="2">
        <ion-img src="assets/img/meeting/Date.png"></ion-img>
      </ion-col>
      <ion-col size="9">
        <ion-label *ngIf="meeting.appointmentdate=='NA'" style="font-size: 10pt;">{{meeting.appointmentdate}}</ion-label>
        <ion-label *ngIf="meeting.appointmentdate!='NA'" style="font-size: 10pt;">{{meeting.appointmentdate | date: 'dd-MMM'}}</ion-label>
      </ion-col>
    </ion-row>
  </ion-card>
  <ion-card style="margin-top: 3%; border-radius: 15px;background-color: #fff; ">
    <ion-row style="margin:2%;">
      <ion-col size="4">
        <ion-img src="assets/img/meeting/Description.png"></ion-img>
      </ion-col>
      <ion-col size="8">
        <ion-label style="font-size: 10pt;">{{meeting.description}}</ion-label>
      </ion-col>
    </ion-row>
  </ion-card>

    </ion-list>
  </div>


</ion-content>
<ion-footer style="background-color: #efeff0;text-align:center;" no-border>
  <ion-button shape="round" size="small" color="light" style="margin-bottom:3%;color:#000;border-radius: 25px;font-weight:bold;" (click)="discussion()">
    Discussion
  </ion-button>
</ion-footer>

