@import '../../../global.scss';
@import '../../../theme/variables.scss';
// .col_6{
//     float:left;
//   }
//   .calendar_bg{
//     // background:url('../assets/img/calendar_icon_00.png') no-repeat;
//     // background-position: right;
//     // background-size: 15px;
//   }
//   .imgBg{
//     height:200px;
//   //                @extend %details_shadow;
//     position:relative;
// //    border-radius:3px;
//   }
.scroll-content{
  margin-top:0px!important;
  overflow: hidden;
  .details{
      height:75%;
      overflow-y: scroll;
      .list{
          .item{
              background:color($colors,light);
              padding:0px  ;
              margin-bottom:0px;
              &.list-header{
                  padding-top:0px;
              }
              &.contact_item{
                  margin-top:0px;
                  padding-top:0px;
                  padding-bottom:30px;
                  align-items:flex-end;
                  .icon{
                      font-size:1.5rem!important;
                      min-height:16px;
                      width:34px;
                      text-align: center;
                  }
              }
              span{
                  @extend p;
                  font-weight:normal;
                  @include whiteNormal(32px,2);
                  color: color($colors,danger)!important;
              }
              h6{
                  white-space:normal;
                  margin:0px;
                  color:color($colors,color1);
                  line-height:16px;
              }
          }
      }
  }
}