<ion-header no-border>
  <ion-toolbar>
    <ion-buttons slot="start" style="margin-top: -3%;">
      <ion-menu-button>
        <img src="assets/img/icon-Menu copy.png" style="width:50%;height:auto">
      </ion-menu-button>
    </ion-buttons>    <!-- <ion-buttons slot="start" menuToggle icon-only>
      <img src="assets/img/icon-Menu copy.png" style="width:50%;height:auto">
    </ion-buttons> -->
    <ion-title style="margin-left:30%;font-size:small;margin-top: -4%;"><b>ZOOM</b></ion-title>
    </ion-toolbar>
</ion-header>

<ion-content padding [fullscreen]="true" style="--ion-background-color:#efeff0;">
  <!-- <ion-card>
    <ion-card-header color="primary">
      Non-login User can:
    </ion-card-header>
    <ion-card-content>
      <ul>
        <li>join a meeting</li>
        <li>host a meeting with ZAK</li>
      </ul>
    </ion-card-content>
  </ion-card> -->
  <ion-card padding style="border-radius:15px;margin-top: 15%;background-color: #fff;">
    <div class="appForm"  margin-bottom>
      <ion-list  style="background-color: #fff;">
        <div style="text-align: left; font-size: 11pt; margin-left: 3%; margin-bottom: 3%;">Meeting Number</div>
        <div class="backgroundimg2">
          <ion-input  class="place" style="margin-left: 15%;" type="string" [(ngModel)]="meetingNumber" name="meetingNumber" placeholder="Meeting Number" required></ion-input>
        </div>
        <div style="text-align: left; font-size: 11pt; margin-left: 3%; margin-bottom: 3%;margin-top: 3%;">Meeting Password (if any)</div>
        <div class="backgroundimg2">
          <ion-input  class="place" style="margin-left: 15%;" type="password" [(ngModel)]="meetingPassword" name="meetingPassword" placeholder="Meeting Password" required></ion-input>
        </div>
    </ion-list>
  </div>
 <div padding> 
  <ion-button (click)="joinMeeting()" shape="round" size="block" color="color2" 
  style="border-radius:25px;margin-top: 5%;background-color: #f9a825;">
  Join a Meeting</ion-button>
</div>
</ion-card>
      <!-- <div>
        <ion-button expand="full" (click)="startMeetingWithZAK()">Start a Meeting with ZAK</ion-button>
      </div> -->
  <!-- <ion-card>
    <ion-card-header color="primary">
      Change the meeting language
    </ion-card-header>
    <ion-card-content padding>
      <ion-list>
        <ion-item>
          <ion-label position="stacked">Languages</ion-label>
          <ion-select [(ngModel)]="language">
            <ion-select-option value="en-US">English</ion-select-option>
            <ion-select-option value="zh-CN">Simplified Chinese</ion-select-option>
            <ion-select-option value="ja-JP">Japanese</ion-select-option>
            <ion-select-option value="de-DE">German</ion-select-option>
            <ion-select-option value="fr-FR">French</ion-select-option>
            <ion-select-option value="zh-TW">Traditional Chinese</ion-select-option>
            <ion-select-option value="es-419">Spanish</ion-select-option>
            <ion-select-option value="ru-RU">Russian</ion-select-option>
            <ion-select-option value="pt-PT">Portuguese</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-list>
      <div>
        <ion-button expand="full" (click)="setLanguage()">
          Change the Language
        </ion-button>
      </div>
    </ion-card-content>
  </ion-card> -->
</ion-content>
