<ion-header no-border>
  <ion-toolbar>
    <ion-buttons slot="start" style="margin-top:-4%">
      <ion-button (click)="previouspage()">
        <ion-img src="assets/img/backicon.png"></ion-img>
      </ion-button>
    </ion-buttons>
    <ion-title style="margin-top:-3%;text-align: center;font-size:small;"><b>{{albumname}}</b></ion-title>
  </ion-toolbar>
</ion-header>


<ion-content padding style="--ion-background-color:#efeff0;">
  <ion-grid>
    <ion-row>
      <ion-col size="6"  *ngFor="let img of images.images;let i=index">
            <img src="{{img.image_url}}" alt="" srcset="" (click)="openFull(i)">
      </ion-col >
    </ion-row>
  </ion-grid>
</ion-content>
