<ion-header>

  <ion-toolbar>
    <ion-buttons slot="start" style="margin-top: -3%;">
      <ion-menu-button>
        <img src="assets/img/icon-Menu copy.png" style="width:50%;height:auto">
      </ion-menu-button>
    </ion-buttons>  
    <ion-title style="margin-top:-4%;text-align: center;font-size: small;"><b>PROGRESS</b></ion-title>
    <ion-buttons slot="end" style="margin-top: -3%;">
      <ion-button navPush="NotificationsPage"  >
        <img src="assets/img/Group 19.png" style="width:70%;height:auto">
      </ion-button>
    </ion-buttons>
 </ion-toolbar>

</ion-header>


<ion-content padding style="--ion-background-color: #efeff0;">

  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-item color="color2" style="border-radius:25px;background-color: #f9a825;color:#fff">
    <ion-label>MONTH</ion-label>
    <ion-select [(ngModel)]="filtermonthwise" (ionChange)="loadResource(filtermonthwise)">
      <ion-select-option value=1>January </ion-select-option>
      <ion-select-option value=2>February </ion-select-option>
      <ion-select-option value=3>March </ion-select-option>
      <ion-select-option value=4>April </ion-select-option>
      <ion-select-option value=5>May </ion-select-option>
      <ion-select-option value=6>June </ion-select-option>
      <ion-select-option value=7>July </ion-select-option>
      <ion-select-option value=8>August </ion-select-option>
      <ion-select-option value=9>September </ion-select-option>
      <ion-select-option value=10>October </ion-select-option>
      <ion-select-option value=11>November </ion-select-option>
      <ion-select-option value=12>December </ion-select-option>
     </ion-select>
  </ion-item>

      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-button expand="block" shape="round" color="color2" (click)="editData()" 
        [disabled]="disabled()" style="border-radius:25px;background-color: #f9a825;">EDIT</ion-button>
      </ion-col>
      <ion-col>
        <ion-button expand="block" shape="round" color="color2" (click)="postdata()" 
        *ngIf="!progressispresent" style="border-radius:25px;background-color: #f9a825;">SUBMIT</ion-button>
        <ion-button expand="block" shape="round" color="color2" (click)="progress_update()" 
        *ngIf="progressispresent" style="border-radius:25px;background-color: #f9a825;">UPDATE</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>

  <div *ngIf="!progressispresent && !edit">
  <ion-card *ngFor="let student of students;let i=index" style="border-radius: 15px;background-color: #fff;" >
      <ion-grid>
          <ion-row style="margin-top: -5%;">
            <ion-col size="6">
              <h6 style="color: #000;">Student Name</h6>
              <ion-label style="font-size: 13pt;color:#000;"><b>{{student.first_name+' '+student.last_name | titlecase}}
              </b></ion-label>
            </ion-col>
            <ion-col size="6">
              <h6 style="text-align: center;color:#000;">Student Id</h6>
              <h6 style="width:50%;margin-left:25%;background-color: #454545;text-align: center;color:#fff;
              border-radius: 25px;">{{student.enrollment_number}}</h6>
            </ion-col>
          </ion-row>

          <div style="border-bottom: 1px solid #454545;"></div>

          <ion-row  no-padding >
            <ion-col size="6" *ngFor="let category of categories;let j=index">
                <h6 style="color: #000;">{{category.category_name}}</h6>
                <ion-input style="width:50%;background-color: #f9a825;
                border-radius: 25px;color:#fff" [(ngModel)]="student_progress[i].student_rating[j].rating"
                ></ion-input>
              </ion-col>
          </ion-row>
      </ion-grid>
  </ion-card>
  </div>

  <div *ngIf="progressispresent && !edit">
    <ion-card *ngFor="let student of studentmonthprogress;let i=index" style="border-radius: 15px;background-color: #fff;" >
        <ion-grid>
            <ion-row style="margin-top: -5%;">
              <ion-col size="6" >
                <h6 style="color: #000;">Student Name</h6>
                <ion-label style="font-size: 13pt;color:#000;"><b>{{student.student.first_name+' '+student.student.last_name | titlecase}}
                </b></ion-label>
              </ion-col>
              <ion-col size="6">
                <h6 style="text-align: center;color:#000;">Student Id</h6>
                <h6 style="width:50%;margin-left:25%;background-color: #454545;text-align: center;color:#fff;
                border-radius: 25px;">{{student.student.enrollment_number}}</h6>
              </ion-col>
            </ion-row>

            <div style="border-bottom: 1px solid #454545;"></div>

            <ion-row  no-padding >
              <ion-col size="6" *ngFor="let category of student.progress_ratings">
                  <h6 style="color: #000;">{{category.progress_category.category_name}}
                      <span style="padding-left:5%;padding-right:5%;background-color: #f9a825;
                  border-radius: 25px;color:#fff;"
                  >{{category.rating}}</span>
                  </h6>

                </ion-col>
            </ion-row>
        </ion-grid>
    </ion-card>
    </div>
    <div *ngIf="edit">
      <ion-card *ngFor="let student of students;let i=index" style="border-radius: 15px;background-color: #fff;" >
        <ion-grid>
            <ion-row>
              <ion-col size="6" style="margin-top: -5%;">
                <h6 style="color: #000;">Student Name</h6>
                <ion-label style="font-size: 13pt;color: #000;"><b>{{student.first_name+' '+student.last_name | titlecase}}
                </b></ion-label>
              </ion-col>
              <ion-col size="6" >
                <h6 style="text-align: center;color: #000;">Student Id</h6>
                <h6 style="width:50%;margin-left:25%;background-color: #454545;text-align: center;color:#fff;
                border-radius: 25px;">{{student.enrollment_number}}</h6>
              </ion-col>
            </ion-row>

            <div style="border-bottom: 1px solid #454545;"></div>

            <ion-row  no-padding >
              <ion-col size="6" *ngFor="let category of categories;let j=index">
                  <h6 style="color: #000;">{{category.category_name}}</h6>
                  <ion-input style="width:50%;background-color: #f9a825;
                  border-radius: 25px;color:#fff"
                  [(ngModel)]="student_progress_edit[i].student_rating[j].rating"
                  ></ion-input>
                </ion-col>
            </ion-row>
        </ion-grid>
    </ion-card>
        </div>
  </ion-content>
