<ion-header no-border>

  <ion-toolbar>
    <ion-buttons slot="start" style="margin-top: -3%;">
      <ion-menu-button>
        <img src="assets/img/icon-Menu copy.png" style="width:50%;height:auto">
      </ion-menu-button>
    </ion-buttons>  
    <ion-title style="text-align:center;margin-top:-4%;font-size: small;"><b>RESULT</b></ion-title>
    <ion-buttons slot="end" (click)="newResult()" style="margin-top: -3%;">
      <ion-button class="notification_Btn" >
        <img src="assets/img/book.png" style="width:70%;height:auto">
      </ion-button>
    </ion-buttons>
  </ion-toolbar>

</ion-header>


<ion-content padding style="--ion-background-color:#efeff0;">

  <ion-grid no-padding style="margin-top: 5%;">
    <ion-row>
      <ion-col size="4">
        <ion-item color="primary" style="border-radius:15px;width:100%;background-color: #0097dc;height: 50%;">
          <h6 style="color:#fff;font-size:small;margin-top: -13%;" *ngIf="!courseid">CLASS</h6>
          <ion-select [(ngModel)]="courseid" (ionChange)="sendCourse(courseid)" style="max-width: 100% !important;font-size:9pt;margin-top: -15%;">
            <ion-select-option *ngFor="let course of classdata" [value]="course.school_class_id">
              {{course.class_name}}
             </ion-select-option>
          </ion-select>
        </ion-item>
      </ion-col>
      <ion-col size="4" >
        <ion-item color="primary" style="border-radius:15px;width:100%;background-color: #0097dc;height: 50%;">
          <h6 style="color:#fff;font-size:small;margin-top: -13%;" *ngIf="!sectionid" >SECTION</h6>
          <ion-select [(ngModel)]="sectionid" (ionChange)="filterresults(sectionid,'section')" style="max-width: 100% !important;font-size: 9pt;margin-top: -15%;">
            <ion-select-option *ngFor="let section of sectionsfromapi" [value]="section.id">
              {{section.section.section_name}}
             </ion-select-option>
          </ion-select>
          </ion-item>
      </ion-col>
    <ion-col size="4">
      <ion-item color="primary" shape="round" style="border-radius:15px;width:100%;background-color: #0097dc;height: 50%;" >
        <h6 style="color:#fff;font-size:small;margin-top: -13%;" *ngIf="!id">COURSE</h6>
        <ion-select [(ngModel)]="id" (ionChange)="filterresults(id,'course')" style="max-width: 100% !important;font-size: 9pt;margin-top: -15%;">
          <ion-select-option *ngFor="let course of course" [value]="course.id">
            {{course.course_name}}
          </ion-select-option>
        </ion-select>
      </ion-item>
    </ion-col>

    </ion-row>
  </ion-grid>

    <div  *ngFor="let result of show_result;let i=index" >
      <ion-card style="border-radius:20px;background-color: #fff;" (click)="result_details(i)" *ngIf="result.student_results.length!=0">
      <ion-grid style="padding-top: 3%;" >
        <div [ngStyle]="{'background-image':'url(' + courseimg + ')'}" class="imgBg">
          <ion-row>
             <h6 class="docenter" style="text-align:center;color:#fff;font-size: 13pt;">
               <b>{{result.section_course.course.course_name | titlecase}} </b></h6>
            </ion-row>
      </div>
      <ion-row no-padding style="margin-top: -4%;">
        <ion-col size="6">
          <h6 style="color: #666666;font-size: 10pt;">Category</h6>
          <h6 style="font-size: 13pt;color:#000;margin-top: -3%;"><b>
            {{result.result_category | uppercase}}</b></h6>
         </ion-col>

         <!-- <ion-col col-3>
          <p >Total Marks</p>
          <ion-label style="padding-left: 5%;background-color: #454545;border-radius: 25px;font-size: 9pt;color:#fff">
            {{result.total_marks}}</ion-label>
        </ion-col> -->

        <ion-col size="3">
          <h6 style="text-align:center;color: #666666;font-size: 10pt;">Section</h6>
          <h6 style="text-align:center;width:50%;margin-left: 20%;margin-top: -3%;
          background-color: #454545;border-radius: 25px;font-size: 9pt;color:#fff">
            {{result.section_course.class_section.section.section_name}}</h6>
        </ion-col>

        <ion-col size="3" >
          <h6 style="text-align:center;color: #666666;font-size: 10pt;">Class</h6>
          <h6 style="text-align:center;margin-top: -3%;
          background-color: #454545;border-radius: 25px;font-size: small;color:#fff">
            {{result.section_course.class_section.school_class.class_name}}</h6>
        </ion-col>
      </ion-row>
          <div style="border-bottom: 1px solid #454545;"></div>
      <ion-row >
          <ion-col>
            <h6 style="color:#666666;">Total Marks &nbsp;
              <span style="font: size 11pt;background-color: #454545;
              border-radius: 25px;padding-left: 5%;color:#fff;margin-top: 5%;padding-right: 5%;">
              {{result.total_marks}}
              </span>

            </h6>
          </ion-col>
      </ion-row>

    </ion-grid>
  </ion-card>

  </div>



</ion-content>
