<!--
  Generated template for the DriverHomePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-toolbar>
    <button ion-button menuToggle icon-only>
      <ion-icon name="ios-menu"></ion-icon>
    </button>
    <ion-title>Driver Home</ion-title>
    <ion-buttons end>
      <button ion-button navPush="NotificationsPage" class="notification_Btn" >
        <ion-icon name="ios-notifications"></ion-icon>
        <ion-badge color="danger">2</ion-badge>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content padding>

  <ion-grid style="margin-top: 3%;" no-padding>
    <ion-row>
      <ion-col col-4>
      <button ion-button block color="color1" >{{myDate | date: 'dd-MMM-yyyy'}}</button>
      </ion-col>
        <ion-col col-5  >
          <button ion-button block color="color1" >{{status}}</button>
        </ion-col>
        <ion-col col-3 >
          <button ion-button block color="color1" >{{global.first_name }}{{ global.last_name}}</button>
        </ion-col>
    </ion-row>
  </ion-grid>


  <!-- <ion-grid>
    <ion-row>
      <button ion-button block color="color1">{{myDate | date: 'dd-MMM-yyyy'}}</button>
    </ion-row>
    <ion-row style="margin-top: 30%;">
      <ion-col col-3>
      </ion-col>
        <img src="assets/img/road.png"  style="width: 50%; height: 50%;">
    </ion-row>
    </ion-grid> -->

    <!-- <div class="fleet-card">
      <ion-grid>
       <ion-row >
           <ion-col>
             <h1 style="   display: block;
             font-size: 17px;
             padding: 0 0 3px;
             font-weight: 500;">Status: {{status}} </h1>
             <h1 style="   display: block;
             font-size: 17px;
             padding: 0 0 3px;
             font-weight: 500;">Name: {{global.first_name }}&nbsp;{{ global.last_name}}</h1>
             <h1 style="   display: block;
             font-size: 17px;
             padding: 0 0 3px;
             font-weight: 500;">Capacity: {{global.van.capacity}}</h1>
              <h1 style="   display: block;
              font-size: 17px;
              padding: 0 0 3px;
              font-weight: 500;">Date: {{myDate | date: 'dd-MMM-yyyy'}}</h1>
               </ion-col>
       </ion-row>
     </ion-grid>
      </div> -->
      <div class="" #map id="map" style="margin-top: 5%;"> </div>

</ion-content>
<ion-footer>
  <button ion-button block color="secondary" margin-bottom (click)="StartRide()"
  *ngIf="showstartbutton==true">Start Ride</button>
  <button ion-button block color="danger" margin-bottom (click)="endRide()"
  *ngIf="showendbutton==true">End Ride</button>
</ion-footer>
