<ion-header no-border>

  <ion-toolbar>
    <ion-buttons slot="start" style="margin-top:-4%;">
      <ion-button (click)="previouspage()">
        <ion-img src="assets/img/backicon.png"></ion-img>
      </ion-button>
    </ion-buttons>
    <ion-title style="font-size: small;text-align: center;margin-top: -4%;"><b>CREATE ALBUM</b></ion-title>
  </ion-toolbar>

</ion-header>


<ion-content padding style="--ion-background-color: #efeff0;">

  <ion-card style="border-radius: 15px;background-color: #fff;" padding>

    <div class="appForm"  margin-bottom>

      <ion-list style="background-color: #fff;">
        <ion-radio-group>

    <div style="text-align: left; font-size: 11pt; margin-left: 3%; margin-bottom: 3%;color:#000;">Enter Album Name</div>
    <div class="backgroundimg2">
      <ion-input type="email" placeholder="Your Album Name" style="margin-left: 15%;" [(ngModel)]="albumname" name="albumname"></ion-input>
   </div>

    <!-- <ion-item>
      <ion-icon name="ios-radio-button-on" item-left></ion-icon>
    </ion-item> -->
    <div style="text-align: left; font-size: 11pt; margin-left: 3%; margin-bottom: 3%;color:#000;">Enter Album Description</div>
    <div class="backgroundimg2">
      <ion-input type="email" placeholder="Enter Album Description here..." style="margin-left: 15%;" [(ngModel)]="albumdesc" name="albumdesc"></ion-input>
   </div>

   <!-- <ion-item>
      <ion-icon name="ios-create" item-left></ion-icon>
      <ion-textarea spellCheck="true" rows="5"
      ></ion-textarea>
    </ion-item> -->
    <ion-grid no-padding style="margin-top:3% ;">
      <ion-row>
        <ion-col size="6">
          <ion-item style="width:100%;background-color: #efeff0;border-radius: 25px;">
            <ion-label style="color:#000;">Private: </ion-label>
            <ion-radio (click)="privacy(1)"></ion-radio>
          </ion-item >
        </ion-col>
        <ion-col size="6">
          <ion-item style="width:100%;background-color: #efeff0;border-radius: 25px;">
            <ion-label style="color:#000;">Public: </ion-label>
            <ion-radio (click)="privacy(2)"></ion-radio>
          </ion-item>
        </ion-col>
    </ion-row>

        <ion-row *ngIf="privacyisprivate==true">
          <ion-button size="block" shape="round" color="color2" style="background-color: #f9a825;border-radius: 25px;width: 100%;">
            <h6 style="color:#fff;font-size: x-small;">Select Classes</h6>
            <ion-select style="max-width: 100% !important;font-size: small;" multiple [(ngModel)]="classesandsection" name="classesandsection">
              <ion-select-option *ngFor="let class of classandsectionshow" [value]="class">
                {{class.classname}}{{class.sectionname}}</ion-select-option>
               </ion-select>
            </ion-button>
      </ion-row>
  </ion-grid>

</ion-radio-group>
  </ion-list>



</div>
</ion-card>
<ion-grid>
  <ion-row>

    <ion-col size="6">
       <ion-button size="block" shape="round" color="color1" (click)="dismiss()" style="background-color: #454545;border-radius: 25px;">
        CANCEL
      </ion-button>
    </ion-col>
    <ion-col size="6">
      <ion-button size="block" shape="round" color="color2" (click)="upload2aws()" [disabled]="disabled()" style="background-color: #f9a825;border-radius: 25px;">
        CREATE ALBUM
      </ion-button>
    </ion-col>
  </ion-row>
</ion-grid>
  </ion-content>
