.backgroundimg
{
    background: url('../../../assets/img/roundedRectangle.png') 0 0/100% 100% no-repeat;
    // background-size: cover;
    // background-position: center center;
    //   -webkit-background-size: cover;
//   -moz-background-size: cover;
//   -o-background-size: cover;
//   background-size: cover;
}

.backgroundimg2
{
    background: url('../../../assets/img/signin/emailbox.png') 0 0/100% 100% no-repeat;
}