<ion-header no-border>

  <ion-toolbar>
    <ion-buttons slot="start" style="margin-top: -3%;">
      <ion-menu-button>
        <img src="assets/img/icon-Menu copy.png" style="width:50%;height:auto">
      </ion-menu-button>
    </ion-buttons>  

    <ion-title style="margin-top:-4%;text-align: center;font-size: small;"><b>RESOURCE</b></ion-title>
    <ion-buttons slot="end" style="margin-top: -3%;">
      <ion-button navPush="NotificationsPage"  >
        <img src="assets/img/Group 19.png" style="width:70%;height:auto">
      </ion-button>
    </ion-buttons>
  </ion-toolbar>

</ion-header>


<ion-content padding style="--ion-background-color:#efeff0;">
  <ion-grid>
    <ion-row>
      <ion-col size="6" *ngFor="let resource of resourcedata;let i=index">
    <div *ngIf="(i+1)%3==0; then thenBlock else elseBlock"></div>
          <ng-template #thenBlock>
            <div [ngStyle]="{'background-image':'url(' + bg1image + ')'}" class="imgBg" style="height:100%;">
              <div style="padding-top: 20%;padding-left:10%;"></div>
              <h6  style="border-radius:20px;font-size: 9pt;
              opacity: 0.5;width:90%;font-size: 9pt;text-align: center;background-color: #efeff0;padding-top: 3%;padding-bottom: 3%;">
                  {{resource.description}}
              </h6>
              <h6 text-wrap style="color:#fff;padding-left: 5%;padding-bottom: 10%;font-size: 9pt;">
                {{resource.created_at | date: 'dd-MMM'}}</h6>
                <img src="assets/img/downloadbutton.png"
                (click)="downloadAndOpenPdf(resource.resource_url)" style="padding-left:
                45%;padding-bottom: 10px;width:60%;height:auto;">

          </div>
          </ng-template>
          <ng-template #elseBlock>
            <div *ngIf="(i+1)%2==0; then thBlock else elBlock"></div>
          </ng-template>
          <ng-template #thBlock>
            <div [ngStyle]="{'background-image':'url(' + bg2image + ')'}" class="imgBg" style="height:100%;">
              <div style="padding-top: 20%;padding-left:10%;"></div>
              <h6  style="border-radius:20px;font-size: 9pt;
              opacity: 0.5;width:90%;font-size: 11pt;text-align: center;background-color: #efeff0;padding-top: 3%;padding-bottom: 3%;">
                  {{resource.description}}
              </h6>
              <h6 text-wrap style="color:#fff;padding-left: 5%;padding-bottom: 10%;font-size: 9pt;">
                {{resource.created_at | date: 'dd-MMM'}}</h6>
                <img src="assets/img/downloadbutton.png"
                (click)="downloadAndOpenPdf(resource.resource_url)" style="padding-left:
                45%;padding-bottom: 10px;width:60%;height:auto;">
                </div>
        </ng-template>
          <ng-template #elBlock>
            <div [ngStyle]="{'background-image':'url(' + bg3image + ')'}" class="imgBg" style="height:100%;">
              <div style="padding-top: 20%;padding-left:10%;"></div>
              <h6 style="border-radius:20px;font-size: 9pt;
              opacity: 0.5;width:90%;background-color: #efeff0;text-align: center;padding-top: 3%;padding-bottom: 3%;">
                  {{resource.description}}
              </h6>
              <h6 text-wrap style="color:#fff;padding-left: 5%;padding-bottom: 10%;font-size:9pt;">
                {{resource.created_at | date: 'dd-MMM'}}</h6>
                <img src="assets/img/downloadbutton.png"
                (click)="downloadAndOpenPdf(resource.resource_url)" style="padding-left:
                45%;padding-bottom: 10px;width:60%;height:auto;">
          </div>
          </ng-template>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
<ion-footer style="background-color:#efeff0;text-align: center;" no-border>
        <ion-button shape="round" size="small" color="light" style="margin-bottom:3%;border-radius: 25px; font-weight: bold;" (click)="newResource()">
          Upload New Resource
        </ion-button>      
</ion-footer>
