<ion-header no-border>

  <ion-toolbar>
    <ion-buttons slot="start" style="margin-top: -3%;">
      <ion-button (click)="previouspage()">
        <ion-img src="assets/img/backicon.png"></ion-img>
      </ion-button>
    </ion-buttons>

    <ion-title style="text-align: center;font-size: small;margin-top:-3%"><b>New Result</b></ion-title>
  </ion-toolbar>

</ion-header>


<ion-content padding style="--ion-background-color: #efeff0;">
  <ion-card style="border-radius: 15px;background-color: #fff;" padding>

    <div class="appForm"  margin-bottom>

      <ion-list style="background-color: #fff;">

  <!-- <div style="text-align: left; font-size: 11pt; margin-left: 3%; margin-bottom: 3%;">Select Month</div>
    <ion-item style="background-image:url(assets/img/signin/emailbox.png); background-size:contain; background-repeat: no-repeat;">
   </ion-item> -->

   <!-- <div style="text-align: left; font-size: 11pt; margin-left: 3%; margin-bottom: 3%;">Select Category</div>
   <ion-item style="background-image:url(assets/img/signin/emailbox.png); background-size:contain; background-repeat: no-repeat;">
  </ion-item> -->

  <div style="text-align: left; font-size: 11pt; margin-left: 3%; margin-bottom: 3%;color:#000;">Enter Total Marks</div>
   <div class="backgroundimg2">
    <ion-input type="email" class="place" style="margin-left: 15%;" placeholder="Enter Total Marks..."
    [(ngModel)]="TotalMarks" name="TotalMarks"></ion-input>
  </div>

  <div style="text-align: left; font-size: 11pt; margin-left: 3%; margin-bottom: 3%;color:#000;">Enter Result Details</div>
   <div class="backgroundimg2">
    <ion-input type="email" class="place" style="margin-left: 15%;" placeholder="Enter Result Details..."
    [(ngModel)]="resultDetails" name="resultDetails"></ion-input>
  </div>

  <ion-grid>
    <ion-row>
      <ion-col size="6">
        <ion-item color="uiColor" style="width:100%;margin-top: 3%;background-color: #efeff0;border-radius: 25px;">
          <h6 style="color: #000;font-size: small;margin-top: 3%;" *ngIf="!courseid">CLASS</h6>
          <ion-select style="color: #000;max-width:100% !important;font-size: small;" [(ngModel)]="courseid" (ionChange)="sendCourse(courseid)">
            <ion-select-option *ngFor="let course of classdata" [value]="course.school_class_id">
              {{course.class_name}}
             </ion-select-option>
          </ion-select>
        </ion-item>
      </ion-col>
      <ion-col size="6">
        <ion-item color="uiColor" style="width:100%;margin-top: 3%;background-color: #efeff0;border-radius: 25px;">
          <h6 style="color: #000;font-size: small;margin-top: 3%;" *ngIf="!sectionid">SECTION</h6>
          <ion-select style="color: #000;max-width:100% !important;font-size: small;" [(ngModel)]="sectionid" (ionChange)="getCourse(sectionid)">
            <ion-select-option *ngFor="let section of sectionsfromapi" [value]="section.id">
              {{section.section.section_name}}
             </ion-select-option>
          </ion-select>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="6">

        <ion-item color="uiColor" style="width:100%;margin-top: 3%;background-color: #efeff0;border-radius: 25px;">
          <h6 style="color: #000;font-size: small;margin-top: 3%;" *ngIf="!category">CATEGORY</h6>
          <ion-select style="color: #000;max-width:100% !important;font-size: small;" [(ngModel)]="category" >
            <ion-select-option value=1>Final </ion-select-option>
            <ion-select-option value=2>Mid </ion-select-option>
            <ion-select-option value=3>Test </ion-select-option>
          </ion-select>
             </ion-item>

      </ion-col>

      <ion-col size="6">
        <ion-item color="uiColor" style="width:100%;margin-top: 3%;background-color: #efeff0;border-radius: 25px;">
          <h6 style="color: #000;font-size: small;margin-top: 3%;" *ngIf="!filtermonthwise">DATE</h6>
          <ion-datetime
           displayFormat="MMM DD YYYY"
           [(ngModel)]="filtermonthwise"
           name="filtermonthwise"
           max="2022-12-31"
           style="color: #000;max-width:100% !important;font-size: small;"
         ></ion-datetime>

          <!-- <ion-select >
            <ion-option value=1>January </ion-option>
            <ion-option value=2>February </ion-option>
            <ion-option value=3>March </ion-option>
            <ion-option value=4>April </ion-option>
            <ion-option value=5>May </ion-option>
            <ion-option value=6>June </ion-option>
            <ion-option value=7>July </ion-option>
            <ion-option value=8>August </ion-option>
            <ion-option value=9>September </ion-option>
            <ion-option value=10>October </ion-option>
            <ion-option value=11>November </ion-option>
            <ion-option value=12>December </ion-option>
          </ion-select> -->
        </ion-item>

      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12">
        <ion-button expand="block" shape="round" color="color2" style="width:100%;margin-top: 3%;background-color: #f9a825;border-radius: 25px;" >
          <ion-label style="color: #fff;font-size: small;" *ngIf="!courseidtosend">COURSE</ion-label>
          <ion-select [(ngModel)]="courseidtosend" style="max-width: 100% !important;font-size: small;">
            <ion-select-option *ngFor="let course of course" [value]="course.id">
              {{course.course.course_name}}
             </ion-select-option>
          </ion-select>
        </ion-button>

      </ion-col>
    </ion-row>
  </ion-grid>


   </ion-list>
   </div>
   </ion-card>

   <ion-grid style="padding-top: 10%;">
    <ion-row>

      <ion-col size="6" >
         <ion-button expand="block" shape="round" color="color1" style="background-color:#454545;border-radius: 25px;" (click)="cancel()">
          Cancel
        </ion-button>
      </ion-col>
      <ion-col size="6">
        <ion-button expand="block" shape="round" color="color2"
        (click)="createResult()" style="background-color:#f9a825;border-radius: 25px;">
          Create Result
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
