<ion-header no-border>

  <ion-toolbar>
    <ion-buttons slot="start" style="margin-top: -3%;">
      <ion-button (click)="previouspage()">
        <ion-img src="assets/img/backicon.png"></ion-img>
      </ion-button>
    </ion-buttons>
    <ion-title style="margin-top:-4%;padding-left: 40%;font-size: small;"><b>Video</b></ion-title>
  </ion-toolbar>

</ion-header>


<ion-content padding style="--ion-background-color:#efeff0;">
  <ion-card style="background-color: #fff;border-radius: 15px;" padding>
    <div class="appForm"  margin-bottom >
      <ion-list style="background-color: #fff;">
        <ion-radio-group>
        <div style="text-align: left; font-size: 11pt; margin-left: 3%; margin-bottom: 3%;">
          <h6 style="color:#000;">Enter Video Name</h6></div>
          <div class="backgroundimg2">
         <ion-input type="email" class="place" style="margin-left: 15%;" placeholder="Video name" [(ngModel)]="video_name" name="video_name"></ion-input>
       </div>

        <div style="text-align: left; font-size: 11pt; margin-left: 3%; margin-bottom: 3%;margin-top: 5%;">
          <h6 style="color:#000;">
          Enter Description</h6></div>
          <div class="backgroundimg2">
           <ion-input type="email" class="place" style="margin-left: 15%;" placeholder="Enter Description" [(ngModel)]="description" name="description"></ion-input>
         </div>

        <div *ngIf="!images" (click)="selectImage()" style="text-align: left; font-size: 11pt; margin-left: 3%; margin-bottom: 3%;margin-top: 5%;">
          <h6 style="color:#000;">Upload Video</h6></div>
        <ion-button expand="block" shape="round" color="color2" *ngIf="!images" (click)="selectImage()" 
        style="background-color: #f9a825;border-radius: 25px;">
          <ion-icon name="attach" slot="start"></ion-icon>
          Attach Video
        </ion-button>
        <!-- <ion-item *ngIf="!images" (click)="selectImage()" style="background-image:url(assets/img/roundedRectangle.png); background-size:contain; background-repeat: no-repeat;">
       </ion-item> -->

       <ion-grid *ngIf="images">
        <ion-row>
          <ion-col (click)="selectImage()" size="6">
            <ion-button expand="block" shape="round" color="color2" style="border-radius:25px;background-color: #f9a825;">
              Upload Video
            </ion-button>
          </ion-col>
          <ion-col (click)="playvideo()" size="6">
            <ion-button expand="block" shape="round" color="color1" style="border-radius:25px;background-color: #454545;" >
              Play Video
            </ion-button>
                </ion-col>
        </ion-row>
      </ion-grid>

      <ion-grid no-padding style="margin-top:3% ;">
        <ion-row>
          <ion-col size="6">
            <ion-item style="width:100%;background-color: #efeff0;border-radius: 25px;">
              <ion-label style="color:#000;">Private: </ion-label>
              <ion-radio (click)="privacy(1)"></ion-radio>
            </ion-item >
          </ion-col>
          <ion-col size="6">
            <ion-item style="width:100%;background-color: #efeff0;border-radius: 25px;">
              <ion-label style="color:#000;">Public: </ion-label>
              <ion-radio (click)="privacy(2)"></ion-radio>
            </ion-item>
          </ion-col>
      </ion-row>

        <ion-row *ngIf="privacyisprivate==true">
          <ion-col size="12">
            <ion-button size="block" shape="round" color="color2" style="background-color: #f9a825;border-radius: 25px;width: 100%;">
              <!-- <ion-item color="color2" style="background-color: #f9a825;border-radius: 25px;width: 100%;"> -->
                <h6 style="color:#fff;font-size: x-small;" *ngIf="classesandsection.length==0">Select Classes</h6>
                <ion-select style="max-width: 100% !important;font-size: small;" multiple="true" [(ngModel)]="classesandsection" name="classesandsection">
              <ion-select-option *ngFor="let class of classes" [value]="class">
                {{class.school_class.class_name}}{{class.section.section_name}}</ion-select-option>
               </ion-select>
            <!-- </ion-item> -->
          </ion-button>
        </ion-col>
        </ion-row>
  </ion-grid>

</ion-radio-group>
</ion-list>

    </div>


  </ion-card>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-button expand="block"  shape="round" color="color1" style="background-color:#454545;border-radius: 20px;" (click)="cancel()">
          CANCEL
        </ion-button>
      </ion-col>
        <ion-col>
          <ion-button expand="block"  shape="round" color="color2" (click)="uploadVideo()" style="border-radius: 20px;background-color: #f9a825;" >
            UPLOAD
          </ion-button>
        </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
