<ion-header no-border>
  <ion-toolbar >
    <ion-buttons slot="start" style="margin-top: -3%;">
      <ion-menu-button>
        <img src="assets/img/icon-Menu copy.png" style="width:50%;height:auto">
      </ion-menu-button>
    </ion-buttons>
    <ion-title style="text-align:center;font-size:small;margin-top: -4%;"><b>NOTICE</b></ion-title>
    <ion-buttons slot="end" style="margin-top: -3%;">
      <ion-button (click)="openPage()"  >
        <img src="assets/img/Group 19.png" style="width:70%;height:auto;">
      </ion-button>
    </ion-buttons>
 </ion-toolbar>
</ion-header>

<ion-content padding style="--ion-background-color: #efeff0;">

  <ion-card style="border-radius: 15px;background-color: #fff;" padding>

  <div class="appForm"  margin-bottom>

    <ion-list style="background-color: #fff;">

   <div style="text-align: left; font-size: 11pt; margin-left: 3%; margin-bottom: 3%;color:#000;">Enter Subject for Notice</div>
      <div class="backgroundimg2">
       <ion-input type="email" class="place" style="margin-left: 15%;" placeholder="Enter Subject for notice" [(ngModel)]="subject" name="subject"></ion-input>
  </div>

  <div style="text-align: left; font-size: 11pt; margin-left: 3%; margin-top: 3%;color:#000;">Enter Description for Notice</div>
  <div class="backgroundimg2">
   <ion-input type="email" class="place" style="margin-left: 15%;" placeholder="Enter diary information here..." [(ngModel)]="diaryText" name="diaryText"></ion-input>
</div>

<div  (click)="selectImage()" style="margin-top:3%;text-align: left; font-size: 11pt; margin-left: 3%; margin-bottom: 3%;color:#000;">Attach Image</div>
<div  (click)="selectImage()" class="backgroundimg">
 <img src="assets/img/attach.png" style="padding-top:1%;padding-bottom:1%;width:10%;height:auto;margin-left: 10%;">
</div>


<ion-grid no-padding style="margin-top: 5%;" *ngIf="images">
  <ion-row>
    <ion-col size="4">
          <img src="assets/img/attach.png" style="width:30%;height:auto;margin-left: 25%;">
    </ion-col>
    <ion-col size="5" style="margin-left: -10%;margin-top: 3%;">
        <ion-label style="font-size: small; color:#000;">
        Image
        </ion-label>
      </ion-col>
    <ion-col size="3">
        <div text-right>
            <img src="{{images}}" style="width:50px; height:auto;float:left">
          </div>
      </ion-col>
  </ion-row>
</ion-grid>

  <div (click)="takeDocuments()"  style="color:#000;margin-top:3%;text-align: left; font-size: 11pt; margin-left: 3%; margin-bottom: 3%;">Attach Document</div>
  <div (click)="takeDocuments()"  class="backgroundimg">
   <img src="assets/img/attach.png" style="padding-top:1%;padding-bottom:1%;width:10%;height:auto;margin-left: 10%;">
  </div>


  <ion-grid no-padding style="margin-top: 5%;" *ngIf="documentToUpload">
    <ion-row>
      <ion-col size="4">
        <img src="assets/img/attach.png" style="width:30%;height:auto;margin-left: 25%;">
  </ion-col>
  <ion-col size="3" style="margin-left: -10%;margin-top: 3%;">
      <ion-label style="font-size: small; color:#000;">
        Document
      </ion-label>
    </ion-col>
      <ion-col size="5" >
        <ion-label style="color:#000;font-size:small;" text-wrap>{{documentToUpload}}</ion-label>
        </ion-col>
    </ion-row>
  </ion-grid>


</ion-list>
</div>
<ion-grid>
  <ion-row >
    <ion-col (click)="diaryToIndividual()">
      <img src="assets/img/individual.png">
    </ion-col>
  </ion-row>

</ion-grid>
<!-- <button ion-button block round color="color2" (click)="diaryToIndividual()"
style="margin-top:5%;margin-bottom: 5%;">
 <ion-icon name="contact" item-left></ion-icon>
 Notice to individual
</button> -->
</ion-card>

<ion-grid>
  <ion-row>
    <ion-col>
      <ion-button shape="round" expand="block" style="border-radius: 25px;background-color: #3e3d3d;" color="color1" (click)="cancel()">CANCEL</ion-button>
    </ion-col>
    <ion-col>
      <ion-button shape="round" expand="block" color="color2"  style="border-radius: 25px;background-color: #f9a825"
      (click)="sendNotice()" [disabled]="disabled()" *ngIf="!documentToUpload">SEND NOTICE</ion-button>
      <ion-button shape="round" expand="block" color="color2" style="border-radius: 25px;background-color: #f9a825"
      (click)="uploadDocumentNotice()" [disabled]="disabled()" *ngIf="documentToUpload">SEND NOTICE</ion-button>
        </ion-col>
  </ion-row>
</ion-grid>

</ion-content>
