@import '../../../global.scss';
@import '../../../theme/variables.scss';
.grid{
    padding:8px/2;
    .col{
        padding:8px/2;
        overflow:hidden;
        .container{
            // background:color($colors,----ion-color-light);
            border-radius:3px;
            overflow:hidden;
            .imgBg{
                height:100%;
             //   @extend %details_shadow;
                position:relative;
            }
          }
        }
      }
  .backgroundimg
  {
//    background: url('../../assets/bgcover.png') no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
