/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */

@import "~@ionic/angular/css/core.css";

@import "./theme/variables.scss";
/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

// mixin in all App
@mixin placeholder {
    ::-webkit-input-placeholder    {@content}
    ::-webkit-textarea-placeholder {@content}
    :-moz-placeholder              {@content}
    ::-moz-placeholder             {@content}
    :-ms-input-placeholder         {@content}
};
@mixin whiteNormal($height,$lineNum){
    white-space: normal;
    max-height: $height;
    line-height: $height / $lineNum;
    display: block;
    overflow: hidden;
}
@mixin whiteNoWrap($height){
    white-space:nowrap;
    overflow:hidden;
    text-overflow:ellipsis;
    height: $height;
    line-height: $height;
    display: block;
}

@mixin position($top,$right,$bottom,$left){
    position:absolute;
    top:$top;
    right:$right;
    left:$left;
    bottom:$bottom;
}
@mixin centerHeight($height){
    display:inline-block;
    height:$height;
    width: $height;
    line-height:$height;
    min-height: $height;
    text-align:center;
}
@mixin borderRadius($height){
    @include centerHeight($height);
    border-radius:50%;
}

// Padding
[padding]{
padding:8px!important;
    .scroll-content{
        padding:8px !important;
    }
}
[padding-right]{
    padding-right:8px !important;
}
[padding-left]{
    padding-left:8px !important;
}

// half Padding

[padding-half]{
    padding:4px !important;
}

[padding-half-right]{
    padding-right:4px !important;
}
[padding-half-left]{
    padding-left:4px !important;
}

// margin
[margin-left],[item-end],[item-right]{
    margin:0px 0px 0px 8px !important;
}
[margin-right],[item-start],[item-left]{
    margin:0px 8px 0px 0px  !important;
}


[no-margin]{
    margin:0px!important;
}

//Style of img Background
.imgBg{
    background-size:100% 100%;
    background-repeat:no-repeat;
    background-position:center center;
}

%details_shadow{
    box-shadow: inset 2000px 0px 2000px 0px rgba(var(color1),0.7);
}

// input font size,color and weight
%inputFont{
    color:var(appForm_Item_Text_color);
    font-size:font-size;
    font-weight:font-weight;
}
[icon-only] {
    ion-icon{
        line-height:normal;
    }
}
%boxShadow{
    -webkit-box-shadow: -2px 2px 13px -2px rgba(0,0,0,0.36);
    -moz-box-shadow: -2px 2px 13px -2px rgba(0,0,0,0.36);
    box-shadow: -2px 2px 13px -2px rgba(0,0,0,0.36);
}

// main Button
ion-button {
    padding:0px;
    ion-select{
        padding:0px;
        width:100%;
        max-width:100%;
        font-size: small;
        .select-icon{
            width:auto;
            height:auto;
            display: flex;
            align-items: center;
            .select-icon-inner{
                position: initial;
                margin:0px!important;
            }
        }
    }

}
ion-buttons {
    margin:0px;
    .button-inner{
        overflow:hidden;
    }
    &[color="light"]{
        color: var(#454545);
    }
}

.mark_btn{
    padding:0px;
    ion-icon{
        font-size:2.4rem;
        color: color($colors,color4);
        margin:0px 4px;
        font-size:1.8rem;
        &.active{
            color: color($colors,color2)!important;
        }
    }
}
.notification_Btn{
    .icon{
        color: color($colors,color5)!important;
    }
}
.comment_Btn{
  .icon{
      color: color($colors,light)!important;
  }
}
.map_btn{
    @extend .mark_btn;
    ion-icon{
        color:color($colors,color2);
    }
}

// header style
ion-header{
    ion-toolbar{
//        padding:0px;
        height:40px;
    ion-title{
//         padding:0px 44px;
        }
        ion-buttons{
              margin:0px;
              display:flex;
        }
        ion-button{
            width:36px;
            height:36px;
            min-height:30px;
            min-width:30px;
            padding:0px;
            border-radius:44px;
            // order:1;
            position:relative;
            ion-badge{
                padding:2px 3px;
                min-width:16px;
                text-align: center;
                position: absolute;
                top: 5px;
                right: 5px;
                height: 14px;
                line-height: 10px;
              //  border: 1px solid #fff;
            }
            ion-icon{
                font-size:2.0rem !important;
                min-width:auto!important;
                color:#454545;
            }
            &.activated{
                opacity:1;
            }
            &.bar-button-menutoggle{
                display:inline-block!important;
            }
            &:after{
                position:initial;
            }
        }

    }
}
ion-list {
    margin:0px;
    .list-header{
        border:none;
        .label{
            margin:0px;
            @extend h5;
            text-transform:none;
            letter-spacing: normal;
            line-height: normal;
        }
    }
    >.item-block{
        &:last-child{
            border-bottom:0px;
        }
        &:first-child{
            border-top:0px;
        }
    }
    .item{
        &.item-block{
            margin-bottom:8px;
            .item-inner{
                border-bottom:none;
            }
            &:last-of-type{
                margin-bottom:0px;
            }
        }
    }
    > .item-wrapper{
        &:last-child{
            .item-block{
                border-bottom:none;
            }
        }
    }
}
ion-item{
    padding-left:0px;
    min-height:0px;
    &.item-block{
        .item-inner{
            padding:0px;
            border-bottom:none;
            ion-icon{
                min-height:0px;
            }
            .ion-label{
                margin:0px;
                height:100%;
                display:flex;
                flex-direction: column;
                justify-content: center;
            }
        }
        ion-thumbnail{
            min-width:0px;
            min-height:0px;
            width:85px;
            height:100px;
            img{
                height:100%;
                width:100%;
            }
        }
        .ion-button {
            &[item-right]{
                font-size:2rem;
            }
        }
        // &.item-select{
            .label {
                display:none;
            }
            .select-text{
                @extend %inputFont;
                margin-right:3px;
                text-align: center;
                &.select-placeholder{
                    color:#3e3d3d;
                }
            }
            ion-select{
                padding:0px;
                width:100%;
                max-width:100%;
                .select-icon{
                    width:auto;
                    height:auto;
                    display: flex;
                    align-items: center;
                    .select-icon-inner{
                        position: initial;
                        margin:0px!important;
                    }
                }
            }
        // }
    }
}

.appForm{
    width:100%;
    display: inline-block;
    ion-item{
        height:44px;
        padding:0px 8px;
        color:#ffff;
        &.ion-list-header{
            border-bottom:0px;
            padding:0px;
            letter-spacing:normal;
            text-transform: initial;
            color: var(#f9a825);
            text-align: center;
        }
        &.ion-item-block{
            border:none;
            border-radius:3px;
            .icon{
                color: #f9a825;
                font-size:1.8rem;
                min-height:0px;
            }
        }
        &.ion-item-input{
            .input{
                @extend %inputFont;
            }
        }
        &.ion-item-textarea{
            height:auto;
            padding:8px;
        }

        &.ion-item-datetime{
            [item-right]{
                font-size:1.6rem;
            }
            .ion-datetime{
                padding:0px;
                .datetime-text{
                    @extend %inputFont;
                    &.datetime-placeholder{
                        color:#fff;
                    }
                }
            }
            &.item-datetime-disabled{
                [item-right]{
                    opacity:.4;
                }
            }
        }
        &.ion-item-checkbox{
            border:none;
            padding:0px;
            height:auto;
            direction: rtl;
            align-items: flex-start;
            border-radius:0px;
            .ion-label{
                @extend %inputFont;
                direction:ltr;
                @include whiteNormal(51px,3);
            }
            .ion-checkbox{
                margin:0px 0px 0px 8px;
            }
            .checkbox-inner{
                @include position(0px,0px ,0px ,0px );
                margin: auto;
            }
        }
        ion-input{
            transform:none!important;
        }
    }
}
.picker-opt.picker-opt-selected, .picker-prefix, .picker-suffix {
    color: red;
}

.picker-button.sc-ion-picker-md, .picker-button.activated.sc-ion-picker-md {
    color: red;
}


.modal-wrapper {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
// Select Alert Style
ion-select{
    .alert-head{
        padding:0px 8px;
        background-color:#454545;
        margin-bottom: 5%;
        .alert-header{
            font-size:1.1rem;
            font-weight:500;
           @include whiteNoWrap(44px);
            text-align: center;
            color:#fff;
            margin:0px!important;
        }
    }
    .alert-message{
        &:empty{
            padding:0px;
        }
    }
    .alert-wrapper{
        background-color:#fff;
        .alert-radio-group{
            border:none!important;
            .alert-radio{
                padding:0px 4px;
                .alert-radio-label{
                    padding:0px 4px;
                }
            }
        }
        .alert-radio-icon{
            margin:0px 4px;
            height:16px;
            width:16px;
            min-width:16px;
            border:2px solid #454545;
            border-radius:50%;
            .alert-radio-inner{
                transform:none;
                width: 8px;
                height:8px;
                @include position(0px,0px,0px,0px);
                margin:auto;
                background:none;
                border:none!important;
                border-radius:50%;
            }
        }
        .alert-button-group{
            background-color:#f9a825;
            padding:0px;
            .alert-button{
                width:50%;
                padding:0px 8px;
                height:44px;
                color: #fff;
                margin:0px;
                .button-inner{
                    justify-content:center;
                }
                &:first-of-type{
                    background: #f9a825;
                }
                &:last-of-type{
                    background: #454545;
                }
            }
        }
        [aria-checked=true]{
            .alert-radio-icon{
                border-color:#454545;
                .alert-radio-inner{
                        background-color:#f9a825;
                }
            }
            .alert-radio-label{
                color:#454545;
            }
        }
    }
}

.picker-wrapper{
    .picker-toolbar{
        background-color:color($colors,color2);
    }
    .picker-above-highlight{
        border-bottom:2px solid color($colors,color2);
        background: linear-gradient(to bottom, white 20%, rgba(255, 255, 255, 0.1) 100%)
    }
    .picker-below-highlight{
        border-top:2px solid color($colors,color2);
        background: linear-gradient(to top, white 20%, rgba(255, 255, 255, 0.1) 100%)
    }
    .picker-opt{
        height:40px;
        line-height:40px;
    }
    .picker-toolbar-button{
        &:last-of-type{
            background-color: color($colors,color1);
        }
        .picker-button{
            width:100%;
            .button-inner{
                color: color($colors,light);
                font-size:1.3rem;
                font-weight:500;
            }
        }
    }
}
// actionsheet style
.action-sheet-wrapper{
    .action-sheet-title{
        background-color: #454545;
        color:#fff;
//        font-size:1.2rem;
        height: auto;
        text-align: center;
    }
    .action-sheet-cancel{
        background-color: #f9a825 !important;
        color: #fff !important;
        border-bottom:none!important;
    }
    .action-sheet-group{
        border-radius:3px;
        overflow:hidden;
        .action-sheet-button{
            color: #454545;
        }
        &:last-of-type{
            margin-bottom:8px;
            background:none;
        }
    }
    .action-sheet-button{
//        font-size:1.3rem;
        min-height:0px;
        font-weight:500;
        height:34px;
    }
}
.searchbar{
    padding:0px;
    border-radius:3px;
    border:none !important;
    overflow: hidden;
    .searchbar-input{
        background-color:#3e3d3d;
        border-radius:0px;
        line-height: --ion-height;
        height: --ion-height;
        padding:0px 40px!important;
        font-size:1.3rem;
    }
    .button{
        box-shadow:none!important;
    }
    .searchbar-clear-icon {
        right:9px;
    }
    .searchbar-search-icon,.searchbar-clear-icon{
        top:0px;
        bottom:0px;
        margin:auto 0px;
    }
}
.lesson_grid{
    padding:8px/2;
    p{
        margin:0px;
        color: color($colors,color1);
    }
    >.row{
        >.col{
            padding:8px/2;
        }
    }
    .item{
        border-radius:3px;
        overflow:hidden;
        ion-thumbnail{
            margin:0px!important;
            width:40%;
            height:145px;
            position:relative;
            &:after{
                content:'';
                background:rgba(var(color1),.5);
                position:absolute;
                top:0px;
                left:0px;
                width:100%;
                height:100%;
            }
        }
        .item-inner{
            padding:8px;
        }
        h5{
            color:color($colors,danger);
            @include whiteNoWrap(20px);
            margin:0px;
        }
        .grid{
            padding:0px;
            .row{
                margin-top:8px/2;
            }
            .col{
                padding:0px;
                display:flex;
                align-items: center;
            }
        }
        .tit{
            color: color($colors,color2);
            @include whiteNoWrap(16px);
            font-weight:400;
        }
        .row1{
            .description{
                @include whiteNormal(45px,3);
                font-size:1.1rem!important;
            }
        }
        .row2{
            .cost{
                @include whiteNoWrap(15px);
                line-height:17px;
                font-size:1.1rem!important;
            }
        }
        .row3{
            .col{
                justify-content:center;
                p{
                    font-size:1.1rem!important;
                }
                .ratingGroup{
                    .rating{
                        li{
                            .icon{
                                font-size:.8rem;
                                margin:0px;
                            }
                        }
                    }
                }
            }
            .icon{
                font-size:1.5rem;
                margin:0px 2px;
            }
        }
    }
}

.ratingGroup{
    display:inline-block;
    .rating{
        display:flex;
        align-items:center;
        margin:0px;
        padding:0px;
        li{
            padding:0px!important;
            margin:0px 2px;
            display:flex!important;
            align-items:center;
            &:first-of-type{
                margin-left:0px;
            }
            &:last-of-type{
                margin-right:0px;
            }
            .icon{
                font-size:1.8rem;
                color: color($colors,color2);
            }
        }
    }
}

.contact_List{
    .item{
        padding:0px 8px;
        &.list-header{
            margin-bottom:8px;
            .label{
                color:color($colors,color1);
            }
        }
        &.item-block{
            align-items:flex-end;
            margin:0px;
            min-height:--ion-height;
            p{
                color: color($colors,color1);
                margin:0px;
                &.tit{
                    font-weight:500;
                    margin-bottom:4px;
                }
            }
            .icon{
                    font-size:1.8rem;
                    min-height:0px;
            }
            .item-inner{
                padding: 8px 0px;
                border-bottom:1px solid color($colors,color3);
                .input-wrapper{
                    align-items:center;
                }
            }
            &:last-of-type{
                .item-inner{
                    border-bottom:none;
                }
            }
        }
    }
}
.search_name_list{
    @extend .contact_List;
    .tit{
        margin-bottom:0px!important;
    }
}
.dining_List{
    @extend .contact_List;
    .grid{
        padding:0px;
        .col{
            padding:0px;
            overflow:hidden;
            span{
                @extend p;
            }
            &:nth-child(1){
                p{
                    color: color($colors,danger);
                }
            }
            &:nth-child(2){
                p{
                    color: color($colors,color2);
                }
            }
        }
    }
}

.calendar{
    &.grid{
        padding:8px/2;
        background-color:color($colors,color1);
        .col{
            padding:0px 8px/2;
            overflow:hidden;
            &[col-auto]{
                .icon{
                    @include centerHeight(36px);
                    display:block;
                    width:44px;
                }
            }
            p{
                color: color($colors,light);
                margin:0px;
                @include whiteNoWrap(36px);
                width:100%;
                text-align:center;
                display:flex;
                flex-direction:row;
                justify-content:center;
                span{
                    max-width:50%;
                    @include whiteNoWrap(36px);
                    padding:0px 2px;
                }
            }
        }
    }
}

.rest_info{
    padding:8px/2;
    .col{
        padding:8px/2;
        h4{
            margin:0px;
            color:color($colors,color1);
        }
        p{
            margin:0px;
            color:color($colors,color1);
            ion-icon{
                display:inline-block;
                float:left;
                text-align: center;
                font-size:1.5rem;
                color:color($colors,color2);
                width:24px;
            }
            &.ser{
                color:color($colors,danger);
            }
        }
        .button{
            border-radius:0px;
        }

        ion-fab{
            width: calc(100% - #{8px});
            .share_btn{
                width:100%;
                height:--ion-height;
                border-radius:0px;
                line-height:--ion-height;
                .fab-close-icon{
                    line-height:--ion-height;
                    font-size:3rem;
                }
            }
            ion-fab-list{
                height:--ion-height;
                min-height: --ion-height;
                background-color: color($colors,color3);
                &[side=left]{

                    $x:calc(100% + #{8px});
                    margin-right:$x;
                }
            }
        }
    }
}
.published_grid{
    &.grid{
        padding:8px/2;
        .col{
            padding:8px/2;
            overflow:hidden;
            p{
                margin:0px;
                color:color($colors,danger);
                width:100%;
                @include whiteNormal(20px,1);
                span{
                    max-width:50%;
                    @include whiteNoWrap(20px);
                    display:inline-block;
                }
            }
        }
    }
}
.details_img{
    height:35%;
    @extend %details_shadow;
    @extend .imgBg;
    display:flex;
    align-items: flex-end;
    .item{
        background:none;
        padding:8px;
        .input-wrapper{
            align-items: flex-end;
        }
        .label{
            justify-content: flex-end!important;
            h4{
                color: color($colors,light);
                @include whiteNormal(36px,2);
                margin:0px 0px 8px;
            }
            .grid{
                padding:0px;
                .col{
                    padding: 0px;
                    overflow:hidden;
                    &[col-auto]{
                        max-width:50%;
                    }
                    .icon{
                        float:left;
                        margin:0px 5px;
                        font-size:1.5rem;
                    }
                    p{
                        color: color($colors,light);
                        min-width:70px;
                        font-size:1.1rem!important;
                    }
                }
            }
        }
        .btns_div{
            .button{
                @include borderRadius(34px);
                margin-bottom:8px;
                padding:0px!important
            }
            .icon{
                color:color($colors,light);
                font-size:2rem;
            }
            ion-fab{
                position:initial;
                .fab{
                    width:34px;
                    height:34px;
                    .fab-close-icon{
                        line-height: 34px;
                    }
                }
            }
            ion-fab-list{
                &[side=left]{
                    top:auto;
                    bottom:0px;
                    min-height:0px;
                    padding:8px 8px/2 ;
                    margin:0px 34px + 16px;
                    background-color:color($colors,color1);
                    border-radius:3px;
                    .fab-in-list{
                        margin:0px 8px/2;
                    }
                }
            }
        }
    }
}

.comments{
    padding:8px;
    .item{
        padding:8px/2;
        .label{
            padding: 8px/2;
            p{
                color: color($colors,color1);
                @include whiteNormal(30px,2);
                margin:0px;
            }
        }
        .grid{
           @extend .published_grid;
           padding:0px!important;
           .col{
               padding:0px!important;
               p{
                   font-size:1.1rem!important;
               }
           }
        }
        ion-avatar{
            margin:0px 8px/2!important;
        }
    }
    .button{
        border-radius:0px;
    }
    .item-textarea{
        .text-input{
            font-size:1.3rem - .1;
        }
    }
}
/////////////////////////////////

.accordinat_item{
    .itemStable{
        padding-bottom:0px!important;
        .item{
            border-radius:3px;
            .icon{
                min-height:0px;
                font-size: 2.0rem;
            }
            img{
                @include borderRadius(25px);
                background-color:color($colors,color1);
            }
            p{
                color:color($colors,color1);
            }
        }
    }
    .list_accordion{
        @extend .search_name_list;
        margin-top:8px;
    }
}

ion-card{
    padding:4px 0px ;
    display:flex;
    flex-wrap:wrap;
    justify-content: center;
    ion-item{
        width:33.3333%;
        height:auto;
        float:left;
        padding:8px/2 0px ;
        margin-bottom:0px!important;
        background:none;
        max-width:150px;
        ion-radio{
            margin:0px;
        }
        ion-radio-icon{
            @include borderRadius(16px);
            background-color: color($colors,light);
            position:relative;
            margin:0px 10px;
            &.radio-checked{
                .radio-inner{
                    @include borderRadius(10px);
                    background-color: color($colors,color2);
                    @include position(0,0,0,0);
                    margin:auto;
                    border:none;
                    transform: none;
                }
            }
        }
    }
}
.profile_info{
    background:var(#3e3d3d);
    margin-top:50px;
    text-align: center;
    padding:0px 8px 16px;
    margin-bottom:8px;
    display: inline-block;
    width:100%;
    .profile_img{
        @extend .imgBg;
        height: 85px;
        width: 85px;
        border-radius: 50%;
        margin:-50px auto 4px;
        position:relative;
        .icon{
            background-color: var(#f9a825);
            @include position(auto,0px ,0px ,auto );
            @include borderRadius(28px);
            font-size:2rem;
        }
    }
    h5{
        color: color($colors,color3);
        margin:0px;
        font-weight:400;
    }
    p{
        color: color($colors,color3);
        font-weight:300;
        margin:0px;
    }
    .ion-grid{
        padding:8px/2;
        max-width:400px;
        .col{
            padding:8px/2;
            .icon{
                @include borderRadius(40px);
                background-color: color($colors,color3);
                font-size:2rem;
                &.active{
                    background-color:rgba(0,0,0,.3);
                }
            }
        }
    }
}

.noItems{
    text-align:center;
    padding:8px;
    .icon{
        font-size:16rem;
        color: color($colors,color2);
    }
    p{
        font-size:1.8rem!important;
        font-weight:600;
        margin:0px;
        color:color($colors,color1);
        @include whiteNormal(50px,2);
    }
}
ion-content{
    background-color:#e2e1dd;
    .scroll-content{
        margin-top:44px;
    }
}
ion-footer{
//   padding:8px;
  //  border: none;
    ion-button{
        border-radius:0px;
        .button-inner{
            font-size:1.2rem;
        }
    }
    ion-grid{
        padding:0px;
        ion-col{
            padding:4px;
            ion-button{
                border-radius:0px;
                margin:0px;
                width:100%;
            }
        }
    }
}
ion-menu{
  width:63%;
  top:40px + 8px;
  bottom:24px;
  left:8px;
  border-radius: 25px;
  background-color:#efeff0;
    show-backdrop{
      opacity:0!important;
  }
  ion-content{
    scroll-content{
        margin-top:0px!important;
    }
    ion-list{
        // border-radius: 35px;
        //        padding:8px 0px;
        ion-menu-toggle{
     //     width:220px;
         border-radius: 25px;
      ion-item{
         //   background:none;
            padding:0px 8px;
            height:34px;
            margin-bottom:0px;
            p{
                color: var(#3e3d3d);
                font-weight:400;
            }
            img{
                width: 14px;
                min-width: 0px;
                font-size: 1.6rem;
                display: flex;
                align-items: center;
            }
        }
      }
    }
}
  .ion-footer{
      padding:0px 8px;
      .button{
          width:auto;
          margin:0px;
          margin-bottom:40px;
          margin-left:14px;
          padding:0px 8px;
          opacity:1;
          .button-inner{
              color:var(#f9a825);
              //@extend p;
              font-weight:400;
          }
      }
  }
}
.platform-ios{
    ion-menu{
        top:44px + 8px + 20px;
        .scroll-content{
            padding-top:0px!important;
        }
    }
    ion-content{
        .scroll-content{
            margin-top:44px + 20px;
        }
    }
}
ion-content-ios:not([no-bounce]) > .scroll-content::before,
ion-content-ios:not([no-bounce]) > .scroll-content::after{
    position:initial;
    width:0px;
    height:0px;
}
.toast-danger {  > div{  background-color:#ca0000 !important; color: white !important; } }
.toast-success {  > div{  background-color:green !important; color: white !important; } }

