<ion-header no-border>
  <ion-toolbar >
    <ion-buttons slot="start" style="margin-top:-4%;">
      <ion-button (click)="previouspage()">
        <ion-img src="assets/img/backicon.png"></ion-img>
      </ion-button>
    </ion-buttons>
    <ion-title style="text-align:center;font-size:small;margin-top: -4%;"><b>MEETING DETAILS</b></ion-title>
    <!-- <ion-buttons slot="end" style="margin-top: -3%;">
      <ion-button (click)="openPage('notifications')"  >
        <img src="assets/img/Group 19.png" style="width:70%;height:auto;">
      </ion-button>
    </ion-buttons> -->
 </ion-toolbar>
</ion-header>

<ion-content padding style="--ion-background-color:#efeff0;">
  <div class="appForm"  margin-bottom>

    <ion-list >

    <ion-card style="margin-top: 3%; border-radius: 15px; background-color:#fff;">
      <ion-row style="margin:2%;">
        <ion-col size="3">
          <ion-img src="assets/img/student.png"></ion-img>
        </ion-col>
        <ion-col size="9">
          <ion-label style="font-size: 10pt;">{{meeting.studentname}}</ion-label>
        </ion-col>
      </ion-row>
    </ion-card>
    <ion-card style="margin-top: 3%; border-radius: 15px; background-color:#fff;">
      <ion-row style="margin:2%;">
        <ion-col size="3">
          <ion-img src="assets/img/meeting/Subject.png"></ion-img>
        </ion-col>
        <ion-col size="9">
          <ion-label style="font-size: 10pt;">{{meeting.subject}}</ion-label>
        </ion-col>
      </ion-row>
  </ion-card>
  <ion-card style="margin-top: 3%; border-radius: 15px; background-color:#fff;">
    <ion-row style="margin:2%;">
      <ion-col size="2" *ngIf="meeting.appointmentdate!='NA'">
        <ion-img src="assets/img/meeting/Time.png"></ion-img>
      </ion-col>
        <ion-col size="2" style="margin-top: 4%;" *ngIf="meeting.appointmentdate=='NA'">
        <ion-img src="assets/img/meeting/Time.png"></ion-img>
      </ion-col>
      <ion-col size="9" >
          <ion-datetime
          *ngIf="meeting.appointmentdate=='NA'"
          displayFormat="h:mm A"
          [(ngModel)]="unformated_pickup_time"
          name="pickup_time"
        ></ion-datetime>
        <ion-label style="font-size: 10pt;" *ngIf="meeting.appointmentdate!='NA'">{{meeting.appointmenttime}}</ion-label>
      </ion-col>
    </ion-row>
  </ion-card>

  <ion-card style="margin-top: 3%; border-radius: 15px; background-color:#fff;">
    <ion-row style="margin:2%;">
      <ion-col size="2" *ngIf="meeting.appointmentdate!='NA'">
        <ion-img src="assets/img/meeting/Date.png"></ion-img>
      </ion-col>
      <ion-col size="2" style="margin-top: 4%;"  *ngIf="meeting.appointmentdate=='NA'">
        <ion-img src="assets/img/meeting/Date.png"></ion-img>
      </ion-col>
      <ion-col size="9">
               <ion-datetime
               *ngIf="meeting.appointmentdate=='NA'"
                displayFormat="MMM DD YYYY"
                [(ngModel)]="from_date"
                name="from_date"
                max="2022-12-31"
              ></ion-datetime>
          <ion-label *ngIf="meeting.appointmentdate!='NA'" style="font-size: 10pt;">{{meeting.appointmentdate | date: 'dd-MMM'}}</ion-label>
      </ion-col>
    </ion-row>
  </ion-card>
  <ion-card style="margin-top: 3%; border-radius: 15px; background-color:#fff;">
    <ion-row style="margin:2%;">
      <ion-col size="4">
        <ion-img src="assets/img/meeting/Description.png"></ion-img>
      </ion-col>
      <ion-col size="8">
        <ion-label style="font-size: 10pt;">{{meeting.description}}</ion-label>
      </ion-col>
    </ion-row>
  </ion-card>

    </ion-list>
  </div>

          <ion-button *ngIf="unformated_pickup_time" expand="block" shape="round" color="color2" 
          (click)="setAppointment()" margin-top style="background-color: #f9a825;border-radius: 25px;">
            Submit
          </ion-button>

          <!-- <ion-button shape="round" size="small" color="light" style="padding-left:50%;background-color:#fff;border-radius: 25px;" (click)="discussion()">
            Discussion
          </ion-button> -->
        
</ion-content>
<ion-footer style="background-color: #efeff0;text-align:center;" no-border>
  <ion-button shape="round" size="small" color="light" style="margin-bottom:3%;color:#000;border-radius: 25px;font-weight:bold;" (click)="discussion()">
    Discussion
  </ion-button>
</ion-footer>