<ion-header no-border>
  <ion-toolbar>
    <ion-buttons slot="start" style="margin-top:-4%">
      <ion-menu-button>
        <img src="assets/img/icon-Menu copy.png" style="width:50%;height:auto">
      </ion-menu-button>
    </ion-buttons>
      <ion-title style="text-align: center;font-size: small;margin-top:-4%;"><b>MY PROFILE</b></ion-title>
    <!-- <ion-button slot="start" menuToggle icon-only>
      <img src="assets/img/icon-Menu copy.png" style="width:50%;height:auto">
    </ion-button> -->
    <ion-buttons slot="end" style="margin-top:-4%">
      <ion-button (click)="open('notifications')">
        <img src="assets/img/Group 19.png" style="width:70%;height:auto">
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
<div [ngStyle]="{'background-image':'url(' + item + ')'}" class="backgroundimg">
    <ion-grid class="ion-no-padding" >
      <ion-row >

          <ion-col>

            <ion-slides #slides  (ionSlideDidChange)="slideChanged()" >
              <ion-slide *ngFor="let student of students; let i=index" >

                <ion-grid>
                        <ion-row>
                          <ion-col size="1" (click)="prev()">
                            <img src="assets/img/left arrows.png" style="margin-top: 200%;">
                        </ion-col>
                        <ion-col>
                          <div class="container" >
                                <img src="assets/img/Pic card.png" />
                              <h6 style="color:#454545;font-weight: bold; ">
                                {{student.first_name +' '+ student.last_name | titlecase}}</h6>
                              <h6 style="font-size: 11px;color:#454545;font-weight: bold; ">Student</h6>
                          </div>
                          </ion-col>
                          <ion-col size="1" (click)="next()">
                            <img src="assets/img/right arrows.png" style="margin-top: 200%;">
                        </ion-col>
                      </ion-row>
                    </ion-grid>

              </ion-slide>

            </ion-slides>

           </ion-col>
        </ion-row>
    </ion-grid>
  </div>

</ion-header>
<ion-content style="--ion-background-color:#fff;">
  <div  style="background-color: #e5e6e8;border-radius:3%">

  <ion-grid class="ion-no-padding" style="margin-top: 2%;" >
    <ion-row>
      <ion-col>
        <h6 style="font-size: 13px;"><b>Recent Activities</b></h6>
      </ion-col>
      <ion-col>
        <h6 style="font-size: 10px;float:right"><b>See All</b></h6>
      </ion-col  >
    </ion-row>

    <ion-row >
      <ion-col >
            <ion-slides [options]="slideOpts" >
      <ion-slide >
           <img src='assets/img/album recent.png' (click)="albumpage()" />
       </ion-slide>
        <ion-slide >
          <img src='assets/img/user recent.png' (click)="profilepage()"/>
      </ion-slide>
      <ion-slide >
        <img src='assets/img/notice recent.png' (click)="noticepage()"/>
      </ion-slide>
      <ion-slide >
      <img src='assets/img/event recent.png' (click)="eventpage()"/>
     </ion-slide>
      <ion-slide >
      <img src='assets/img/diary recent.png' (click)="diarypage()"/>
    </ion-slide>
</ion-slides  >
      </ion-col>
    </ion-row>

    <ion-row style="padding-left:5%;" class="bottomRow">
      <ion-col size="6" *ngFor="let item of items; let i=index" (click)="openPage(item.component)" class="bottomCol">
        <ion-img src="{{item.img}}"></ion-img>
      </ion-col>
    </ion-row>

  </ion-grid>

</div>
</ion-content>