@import '../../../global.scss';
@import '../../../theme/variables.scss';
// ion-header{
//     ion-toolbar{
//         toolbar-background{
//             --ion-background-color:transparent;
//         }
//     }
//   }
// ion-slides {
//   height: 200px;
// }
// ion-toolbar {
//   --background-color: transparent;
//   --ion-color-base: transparent !important;
//  }
    .backgroundimg
  {
//    background: url('../../assets/bgcover.png') no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

        // padding:8px/2;
        .col{
            padding:4px;
            .button{
                border-radius:0px;
            }
        }
        .container{
//          background-image: url('../../assets/img/doodle.png');
//            background-color: color($colors,color1);
            height:150px;
            padding:10px;
            text-align: center;
            img{
               @include borderRadius(90px);
              //  background-color:rgba(0,0,0,.3);
            }
            h6{
                margin:0px;
               @include whiteNoWrap(20px);
                color:color($colors,light);
            }
            .capitalize { text-transform: capitalize; }

        }
        .bottomRow
      {
          margin-top: 0px;
        }
        .bottomCol
        {
            margin-top: -25px;
          }

    .leftclass{
      float: right;
    }
    .rightclass{
      float:left;
    }
    .seg{
      $segment-button-ios-border-width:none;
      $segment-button-md-border-width:none;
      --border-width:none;
        }
    .imgbgg{
      height:10px;
      position: relative;
    }
    .imgBg{
      height:160px;
      position:relative;
      border-radius:3px;
     //overflow-y:hidden;
    //  background:color($colors,----ion-color-light);
    //  @extend %details_shadow;
    }
