<ion-header no-border>
  <ion-toolbar>
    <ion-buttons slot="start" style="margin-top: -3%;">
      <ion-button (click)="previouspage()">
        <ion-img src="assets/img/backicon.png"></ion-img>
      </ion-button>
    </ion-buttons>
    <ion-title style="text-align: center;font-size: small;margin-top:-4%;"><b>CREATE ALBUM</b></ion-title>
    <!-- <ion-buttons end>
      <button ion-button navPush="NotificationsPage" class="notification_Btn" >
        <ion-icon name="ios-notifications"></ion-icon>
        <ion-badge color="danger">2</ion-badge>
      </button>
    </ion-buttons> -->
  </ion-toolbar>
</ion-header>


<ion-content padding style="--ion-background-color:#efeff0;">
  <h6 *ngIf="imageResponse.length == 0" text-center>Please Select Image!</h6>

  <ion-grid>
    <ion-row>
      <ion-col size="6" *ngFor="let img of imageResponse">
            <img src="{{img}}" alt="" srcset="">
      </ion-col>
    </ion-row>
  </ion-grid>




</ion-content>

<ion-footer no-border>
  <ion-button  size="block" shape="round" color="color2"  (click)="selectImage()"
  *ngIf="imageResponse.length == 0" style="border-radius: 25px;background-color:#f9a825;">
    SELECT IMAGE
  </ion-button>
  <ion-grid *ngIf="imageResponse.length != 0">
      <ion-row>
        <ion-col>
          <ion-button  size="block" shape="round" color="color1" style="border-radius: 25px;background-color:#454545;" (click)="selectImage()" >
            SELECT IMAGE
          </ion-button>
        </ion-col>
        <ion-col>
          <ion-button  shape="round" size="block" color="color2" style="background-color:#f9a825;border-radius: 25px;" (click)="uploadPhoto()"  *ngIf="!id">
            UPLOAD
          </ion-button>
          <ion-button  shape="round" size="block" color="color2" style="border-radius: 25px;background-color:#f9a825;" (click)="upload2aws()"
          *ngIf="id">
            UPLOAD
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
</ion-footer>
